<body>
    <pe:mcml>
        <script type="text/npl">
            <![CDATA[
                DeleteWorld = NPL.load("./DeleteWorld.lua")

                DeleteWorld:SetPage()

                function get_select_world()
                    return DeleteWorld.GetSelectWorld()
                end

                function get_status(status)
                    if(status == 'local') then
                        return get_select_world().status == nil or get_select_world().status ~= 2
                    elseif(status == 'remote') then
                        return get_select_world().status ~= nil and get_select_world().status ~= 1
                    elseif(status == 'all') then
                        return get_select_world().status ~= nil and get_select_world().status ~= 1 and get_select_world().status ~= 2
                    end
                end

                function delete_remote()
                    DeleteWorld:DeleteRemote()
                end

                function delete_local()
                    DeleteWorld:DeleteLocal()
                end

                function delete_all()
                    DeleteWorld:DeleteAll()
                end

                function close_page()
                    DeleteWorld:ClosePage()
                end

                function get_window_style()
                    Utils = NPL.load("(gl)Mod/WorldShare/helper/Utils.lua")

                    return Utils.FixCenter(500, 270)
                end
            ]]>
        </script>
        <div width="100%" height="100%">
            <aries:window mode="thin" width="500" height="270" style="<%=get_window_style()%>" title='<%=L"删除世界" %>' onclose="close_page()">
                <div style="font-size:18px;base-font-size:18px;color:#ffffff;padding:30px;">
                    <div style="margin-top:30px;">
                        <pe:if condition="<%= get_select_world().is_zip %>">
                            <%= L"你确定要删除："%><%= get_select_world().text .. '.zip' %><%= L"世界么？请选择"%>
                        </pe:if>
                        <pe:if condition="<%= not get_select_world().is_zip %>">
                            <%= L"你确定要删除："%><%= get_select_world().foldername %><%= L"世界么？请选择"%>
                        </pe:if>
                    </div>
                    <br />
                    <div style="margin-top:25px;">
                        <pe:if condition="<%= get_status('local') %>">
                            <input type="button" onclick="delete_local()" class="button_highlight" style="float:left;margin-top:5px;margin-right:10px;min-width:130px;height: 30px;" name="" value='<%=L"只删除本地"%>' />
                        </pe:if>
                        <pe:if condition="<%= get_status('remote') %>">
                            <input type="button" onclick="delete_remote()" class="button_highlight" style="float:left;margin-top:5px;margin-right:10px;min-width:130px;height: 30px;" name="" value='<%=L"只删除远程"%>' />
                        </pe:if>
                        <pe:if condition="<%= get_status('all') %>">
                            <input type="button" onclick="delete_all()" class="button_highlight" style="float:left;margin-top:5px;margin-right:10px;min-width:130px;height: 30px;" name="" value='<%=L"全部删除"%>' />
                        </pe:if>
                    </div>
                </div>
            </aries:window>
        </div>
    </pe:mcml>
</body>
</html>