<html>
    <body>
        <pe:mcml>
            <script type="text/npl" refresh="false" src="VipNotice.lua">
                <![CDATA[
                    -- UI
                    local VipNotice = NPL.load("(gl)Mod/WorldShare/cellar/VipNotice/VipNotice.lua")
                    VipNotice:InitUI()
                    function close()
                        VipNotice:Close();
                    end
                    function get_type_name()
                        return "("..VipNotice:GetTypeName()..")"
                    end
                ]]>
            </script>
            <div style="width: 784px; height: 536px; background: url(Texture/Aries/Creator/keepwork/vip/bj_784x536_32bits.png#0 0 784 536);">
                <!--title-->
                <div style="width: 784px; height: 60px;">
                    <input type="button" style="margin-left: 740px; margin-top: 20x; width:22px;height:22px;background: url(Texture/Aries/Creator/keepwork/vip/guanbi_32bits.png#0 0 22 22);" onclick="close()"/>                    
                </div>
                <!-- type_name -->
                <div style="margin-top: 408px;">
                    <div style="text-align: center; font-size: 24px;base-font-size: 24px;color: #9B2010; font-weight: bold;"><%= L"开通会员" %></div>
                    <div style="margin-top: -2px; text-align: center; font-size: 12px;base-font-size: 12px;color: #9B2010; font-weight: bold;"><%= get_type_name() %></div>
                </div>   
            </div>
        </pe:mcml>
    </body>
</html>
