<html>
    <body>
        <pe:mcml>
            <script type="text/npl" refresh="false" src="VipNotice.lua">
                <![CDATA[
                    -- UI
                    local VipNotice = NPL.load("(gl)Mod/WorldShare/cellar/VipNotice/VipNotice.lua")
                    VipNotice:InitUI()
                    function close()
                        VipNotice:Close();
                    end
                    function get_type_name()
                        return "("..VipNotice:GetTypeName()..")"
                    end

                    function getBackStyle()
                        if GetIsTouchMode() then
                            return "width: 784px; height: 536px; background: url(Texture/Aries/Creator/keepwork/vip/bj_mobile_784x536_32bits.png#0 0 784 536);"
                        else
                            return "width: 784px; height: 536px; background: url(Texture/Aries/Creator/keepwork/vip/bj_784x536_32bits.png#0 0 784 536);"
                        end
                    end

                    function GetIsTouchMode()
                        return System.os.IsTouchMode()
                    end

                    function OnClickBuy()
                        VipNotice.OnClickBuy()
                    end

                    function OnClickInput()
                        VipNotice.OnClickInput()
                    end

                    function OnClickHelp()
                        GameLogic.AddBBS(nil,"敬请期待")
                    end
                ]]>
            </script>
            <div style="<%=getBackStyle()%>">
                <!--title-->
                <div style="width: 784px; height: 60px;">
                    <input type="button" style="margin-left: 740px; margin-top: 20x; width:22px;height:22px;background: url(Texture/Aries/Creator/keepwork/vip/guanbi_32bits.png#0 0 22 22);" onclick="close()"/>                    
                </div>
                <!-- type_name -->
                <div style="margin-top: 408px;">
                    <pe:if condition='<%=GetIsTouchMode()%>'>
                        <input type="button" value="点击加入会员" onclick="OnClickBuy" style="color: #111616;font-size: 16px; base-font-size: 16px; margin-top: -220px; margin-left: 56px; width: 142px; height: 48px; background: url(Texture/Aries/Creator/keepwork/macro/btn_1_32X32_32bits.png#0 0 32 32:14 14 14 14);" />
                        <input type="button" onclick="OnClickInput" style=" margin-top: -116px; margin-left: -120px; width: 96px; height: 29px; background: url(Texture/Aries/Creator/keepwork/vip/btn_96x29_32bits.png#0 0 96 29);" />
                        <input type="button" value="如何获得激活码？" onclick="OnClickHelp" style="color: #0050BD;font-size: 14px; base-font-size: 14px;  margin-top: -84px; margin-left: -90px; width: 96px; height: 29px; background: url();" />
                    </pe:if>

                    <pe:if condition='<%=not GetIsTouchMode()%>'>
                        <div style="text-align: center; font-size: 24px;base-font-size: 24px;color: #9B2010; font-weight: bold;"><%= L"开通会员" %></div>
                        <div style="margin-top: -2px; text-align: center; font-size: 12px;base-font-size: 12px;color: #9B2010; font-weight: bold;"><%= get_type_name() %></div>
                    </pe:if>                    
                </div>   
            </div>
        </pe:mcml>
    </body>
</html>
