<body>
    <pe:mcml>
        <script type="text/npl" refresh="false">
            <![CDATA[
                local SyncMain = NPL.load("../Main.lua")

                local page = document:GetPageCtrl()
                Mod.WorldShare.Store:Set('page/BeyondVolume', document:GetPageCtrl())

                local bEnabled = page:GetRequestParam("bEnabled")

                function get_title()
                    if bEnabled == "true" then
                        return L"提示"
                    else
                        return L"购买VIP"
                    end
                end

                function get_beyond_msg()
                    local currentWorld = Mod.WorldShare.Store:Get("world/currentWorld")

                    local str
                    if bEnabled == "true" then
                        str = format(L"世界%s文件总大小超过了%dMB，是否清理文件？(请使用MP3、OGG格式音频，避免使用FBX格式)", currentWorld.foldername, 50)
                    else
                        str = format(L"世界%s文件总大小超过了%dMB，是否清理文件？(请使用MP3、OGG格式音频，避免使用FBX格式，VIP用户最大可上传%dMB)", currentWorld.foldername, 25, 50)
                    end

                    return str
                end

                function is_show_vip_button()
                    return bEnabled == "false"
                end

                function open_world_folder()
                    SyncMain:CloseBeyondVolumePage()

                    local currentWorld = Mod.WorldShare.Store:Get("world/currentWorld")
                    ParaGlobal.ShellExecute("open", currentWorld and currentWorld.worldpath, "", "", 1);
                end

                function get_window_style()
                    return Mod.WorldShare.Utils.FixCenter(500, 270)
                end

                function close()
                    SyncMain:CloseBeyondVolumePage()
                end
            ]]>
        </script>
        <div width="100%" height="100%">
            <aries:window mode="thin" width="500" height="270" style="<%=get_window_style()%>" title='<%=get_title() %>' onclose="close">
                <div style="font-size:16px;base-font-size:16px;color:#ffffff;padding:30px;">
                    <div style="margin-top:15px;">
                        <%= get_beyond_msg() %>
                        <br />
                        <%= L"是否现在清理？" %>
                        <pe:if condition="<%= is_show_vip_button() %>">
                            <a href="https://keepwork.com/vip" style="color: #0f8165"><%= L"或者购买VIP?" %></a>
                        </pe:if>
                    </div>
                    <br />
                    <div style="margin-top:30px;">
                        <input type="button" onclick="open_world_folder" class="button_highlight" style="float:left;width: 130px;height: 30px;margin-left: 50px;" name="" value='<%= L"是"%>' />
                        <input type="button" onclick="close" class="button_highlight" style="float:left;margin-left:10px;width: 130px;height: 30px;margin-left: 60px;" name="" value='<%=L"否"%>'/>
                    </div>
                </div>
            </aries:window>
        </div>
    </pe:mcml>
</body>
</html>