<body>
    <pe:mcml>
        <script type="text/npl" refresh="false">
            <![CDATA[
                local Utils = NPL.load("(gl)Mod/WorldShare/helper/Utils.lua")
                local Store = NPL.load("(gl)Mod/WorldShare/store/Store.lua")
                local SyncMain = NPL.load("../Main.lua")

                SyncMain:SetBeyondVolumePage();

                maxWorldSize = 15;
                maxWorldSizeVIP = 50;

                function getBeyondMsg()
                    local userType = Store:Get("user/userType")
                    local foldername = Store:Get("world/foldername")

                    local str
                    if(userType == "vip") then
                        str = format(L"世界%s文件总大小超过了%dMB，是否清理文件？(请使用MP3、OGG格式音频，避免使用FBX格式)", foldername.utf8, 50)
                    else
                        str = format(L"世界%s文件总大小超过了%dMB，是否清理文件？(请使用MP3、OGG格式音频，避免使用FBX格式，VIP用户最大可上传%dMB)", foldername.utf8, 25, 50)
                    end

                    return str
                end

                function open_world_folder()
                    SyncMain:CloseBeyondVolumePage()

                    local currentWorld = Store:Get("world/currentWorld")
                    ParaGlobal.ShellExecute("open", currentWorld and currentWorld.worldpath, "", "", 1);
                end

                function get_window_style()
                    return Utils.FixCenter(500, 270)
                end

                function close()
                    SyncMain:CloseBeyondVolumePage()
                end
            ]]>
        </script>
        <div width="100%" height="100%">
            <aries:window mode="thin" width="500" height="270" style="<%=get_window_style()%>" title='<%=L"购买VIP" %>' onclose="close">
                <div style="font-size:16px;base-font-size:16px;color:#ffffff;padding:30px;">
                    <div style="margin-top:30px;">
                        <%= getBeyondMsg() %>
                        <br />
                        <%= L"是否现在清理？" %>
                    </div>
                    <br />
                    <div style="margin-top:30px;">
                        <input type="button" onclick="open_world_folder" class="button_highlight" style="float:left;width: 130px;height: 30px;" name="" value='<%= L"是"%>' />
                        <input type="button" onclick="close" class="button_highlight" style="float:left;margin-left:10px;width: 130px;height: 30px;" name="" value='<%=L"否"%>'/>
                        <input type="button" onclick="closee" class="button_highlight" style="float:left;margin-left:10px;width: 130px;height: 30px;" name="" value='<%=L"取消"%>'/>
                    </div>
                </div>
            </aries:window>
        </div>
    </pe:mcml>
</body>
</html>