<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>StartSync,by big,2017.4.18</title>
</head>
<body>
    <pe:mcml>
        <script type="text/npl" refresh="false">
            <![CDATA[
                page_ctrl = document:GetPageCtrl()
                use_offline = page_ctrl:GetRequestParam("useOffline")
                local InternetLoadWorld = commonlib.gettable("MyCompany.Aries.Creator.Game.Login.InternetLoadWorld")
                local UserConsole = NPL.load("(gl)Mod/WorldShare/cellar/UserConsole/Main.lua")

                SyncMain = NPL.load("../Main.lua")
                Compare = NPL.load("(gl)Mod/WorldShare/service/SyncService/Compare.lua")

                SyncMain:SetStartSyncPage()

                function use_local()
                    SyncMain:CloseStartSyncPage()

                    SyncMain:CheckTagName(function()
                        if SyncMain.GetCurrentRevision() < SyncMain.GetRemoteRevision() then
                            SyncMain:ShowStartSyncUseLocalPage()
                        elseif SyncMain.GetCurrentRevision() >= SyncMain.GetRemoteRevision() then
                            SyncMain:SyncToDataSource()
                        end
                    end)
                end

                function use_remote()
                    SyncMain:CloseStartSyncPage()

                    if SyncMain.GetRemoteRevision() < SyncMain.GetCurrentRevision() then
                        SyncMain:ShowStartSyncUseDataSourcePage();
                    elseif SyncMain.GetRemoteRevision() >= SyncMain.GetCurrentRevision() then
                        SyncMain:SyncToLocal()
                    end
                end

                function be_show_use_remote()
                    return Compare:IsCompareFinish() and SyncMain.GetRemoteRevision() ~= 0
                end

                function get_window_style()
                    return Mod.WorldShare.Utils.FixCenter(500, 270)
                end

                function close()
                    local isEnterWorld = Mod.WorldShare.Store:Get("world/isEnterWorld")

                    if isEnterWorld then
                        SyncMain:CloseStartSyncPage()
                        return true
                    end

                    SyncMain:CloseStartSyncPage()
                end

                function enter_offline_world()
                    InternetLoadWorld.EnterWorld()
                    UserConsole:ClosePage()
                    SyncMain:CloseStartSyncPage()
                end

                function get_current_world_name()
                    return Mod.WorldShare.Store:Getter("world/GetWorldTextName")
                end

                function get_bigger_style(type)
                    if type == 'remote' and SyncMain.GetRemoteRevision() > SyncMain.GetCurrentRevision() then
                        return 'background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#150 104 16 16:4 4 4 4)'
                    end

                    if type == 'local' and SyncMain.GetRemoteRevision() < SyncMain.GetCurrentRevision() then
                        return 'background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#150 104 16 16:4 4 4 4)'
                    end

                    return ""
                end
             ]]>
        </script>
        <div width="100%" height="100%">
            <aries:window mode="thin" width="500" height="270" style="<%=get_window_style()%>" title='<%=L"与数据源同步" %>' onclose="close()">
            	<div style="padding:20px;font-size:18px;base-font-size:18px;color:#ffffff">
                    <div style="margin-left:80px;margin-top:20px;">
                        <%= L"世界名称：" %>
                        <%= get_current_world_name() %>
                    </div>
                    <div style="margin-left:80px;margin-top:20px;">
                        <%= L"远程版本号：" %>
                		<%= SyncMain.GetRemoteRevision()%>
                		<pe:if condition="<%=be_show_use_remote()%>">
                             <input onclick="use_remote()" class="button_highlight" name="remote" style="<%= 'margin-left:10px;width: 130px;height:30px;' .. get_bigger_style('remote') %>" type="button" value='<%=L"使用远程版本" %>' />
                		</pe:if>
	                </div>
	                <div style="margin-left:80px;margin-top:20px;">
                        <%=L"本地版本号：" %><%= SyncMain.GetCurrentRevision() %>
	                	<pe:if condition="<%=use_offline == 'true' %>">
	                		<input onclick="enter_offline_world()" class="button_highlight" style="margin-left:10px;height:30px;" type="button" value='<%=L"使用本地离线版本" %>' />
	                	</pe:if>
	                	<pe:if condition="<%=use_offline == 'false' %>">
	                		<input onclick="use_local()" class="button_highlight" name="local" style="<%= 'margin-left:10px;width: 130px;height:30px;' .. get_bigger_style('local') %>" type="button" value='<%=L"使用本地版本" %>' />
	                	</pe:if>
	                </div>
            	</div>
            </aries:window>
        </div>
    </pe:mcml>
</body>
</html>

