<html>
<head>
    <title>use github sync,by big,2016/12/10</title>
</head>
<body>
    <pe:mcml>
        <script type="text/npl" refresh="false">
            <![CDATA[
                SyncMain = NPL.load("../Main.lua")

                page = document:GetPageCtrl()

                function close()
                    page:CloseWindow()
                end

                function replace()
                    SyncMain:BackupWorld()
                    SyncMain:SyncToLocal(page.afterSyncCallback)
                    close()
            	end

                function cancel()
                    SyncMain:ShowStartSyncPage(page.afterSyncCallback)
                    close()
                end

                function get_window_style()
                    return Mod.WorldShare.Utils.FixCenter(500, 270)
                end

                function get_current_revision()
                    return Mod.WorldShare.Store:Get("world/currentRevision") or ''
                end

                function get_remote_revision()
                    return Mod.WorldShare.Store:Get("world/remoteRevision") or ''
                end
             ]]>
        </script>
        <div width="100%" height="100%">
            <aries:window mode="thin" width="500" height="270" style="<%=get_window_style()%>" title='<%=L"与数据源同步" %>'>
            	<div style="padding:40px;font-size:18px;base-font-size:18px;color:#ffffff">
            		<div><%=format("%s%s%s%s%s", L"你是否确定用远程的更低的版本", get_remote_revision(), L", 替换本地更高的版本", get_current_revision(), L"？")%></div>
            		<div style="margin-top:30px;">
            			<input type="button" onclick="replace" class="button_highlight" style="margin-left:130px;width: 60px;height: 30px;" name="" value='<%=L"替换" %>' />
            			<input type="button" onclick="cancel" class="button_highlight" style="margin-left:20px;width: 60px;height: 30px;"  name="" value='<%=L"取消" %>' />
            		</div>
            	</div>
            </aries:window>
        </div>
    </pe:mcml>
</body>
</html>
