<pe:mcml>
    <div style='<%= get_columns_style() %>'>
        <!--selected-->
        <pe:if condition='<%= be_selected()%>'>
            <div name='<%=Eval("index")%>'
                 align='left'
                 width='90.5%'
                 class='share_selected_item'
                 style='padding: 0px;'>
                <pe:if condition='<%= has_rated() %>'>
                    <div style='position: relative;
                                width: 70px;
                                height: 36px;
                                margin-top: 2px;
                                margin-left: 0px;
                                padding-top: 4px;
                                padding-left: 6px;
                                background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#356 136 70 36)'>
                        <%= get_art_number()%>
                    </div>
                </pe:if>
                <pe:if condition='<%= Eval("project") and tonumber(Eval("project")["visibility"]) == 1 %>'>
                    <div style='position: relative;
                                margin-left: 276px;
                                width: 28px;
                                height: 31px;
                                background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#310 53 28 31)'></div>
                </pe:if>
                <div width='93%'
                     align='center'
                     style='height: 240px;
                            padding: 0px;
                            margin-left: -2px;
                            margin-top: 10px;
                            background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#72 20 16 16:2 2 2 2)'>
                    <div width='100%'
                         style='height: 130px;
                                background-color: #afafaf;'>
                        <div width='101%'
                             style="position: relative;
                                    height: 132px;
                                    margin-left: -1px;
                                    margin-right: -1px;
                                    margin-top: -1px;
                                    background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#394 211 32 32:9 9 9 9)"></div>
                        <div width='100%'
                             style="<%= 'height: 130px;background: url(' .. get_world_preview() .. ')' %>"></div>
                    </div>
                    <div style='position: relative;
                                width: 32px;
                                height: 32px;'>
                        <pe:if condition='<%= get_world_status(1) %>'>
                            <div class='status' style='<%= get_world_status_icon(1) %>' tooltip='<%= get_world_status_tips()%>' />
                        </pe:if>
                        <pe:if condition='<%= get_world_status(2) %>'>
                            <div class='status' style='<%= get_world_status_icon(2) %>' tooltip='<%= get_world_status_tips()%>' />
                        </pe:if>
                        <pe:if condition='<%= get_world_status(3) %>'>
                            <div class='status' style='<%= get_world_status_icon(3) %>' tooltip='<%= get_world_status_tips()%>' />
                        </pe:if>
                        <pe:if condition='<%= get_world_status(4) %>'>
                            <div class='status' style='<%= get_world_status_icon(4) %>' tooltip='<%= get_world_status_tips()%>' />
                        </pe:if>
                        <pe:if condition='<%= get_world_status(5) %>'>
                            <div class='status' style='<%= get_world_status_icon(5) %>' tooltip='<%= get_world_status_tips()%>' />
                        </pe:if>
                        <pe:if condition='<%= get_world_status(6) %>'>
                            <div style='float: left;
                                        width: 9px;
                                        height: 32px;
                                        background: #FFFFFF' />
                        </pe:if>
                    </div>
                    <div style='margin-left: 20px;'>
                        <div class='share_world_name'>
                            <pe:if condition='<%= is_modifying() %>'>
                                <div class='list_search_bar' style='float: left;
                                                                    margin-left: 0px;
                                                                    width: 180px;
                                                                    height: 25px;'>
                                    <input type='text'
                                           onchange='update_temp_modify_worldname'
                                           class='list_search_textfield theme1_white_textfield'
                                           style='width: 145px;
                                                  height: 25px;'
                                           value='<%= get_tagname() %>'
                                           spacing='4' />
                                    <div class='list_search_button' style='height: 25px;
                                                                           width: 40px;
                                                                           font-size: 12px;
                                                                           base-font-size: 12px;
                                                                           margin-top: -26px;'>
                                        <input type='button'
                                               class='list_search_button_click theme1_gray2_button'
                                               style='height: 25px;'
                                               DefaultButton='true'
                                               value='<%=L"保存"%>'
                                               onclick='covert_status' />
                                    </div>
                                </div>
                            </pe:if>
                            <pe:if condition='<%= not is_modifying() %>'>
                                <%= get_world_text() %>
                                <pe:if condition='<%= Eval("hasPid") %>'>
                                    <div style='float: left;
                                                margin-left: 2px;'
                                         tooltip='<%= L"项目ID：" .. Eval("kpProjectId") %>'>
                                        <span style='color: #9e9e9e;'>
                                            #<%= Eval('kpProjectId') or '' %>
                                        </span>
                                    </div>
                                </pe:if>
                                <div onclick='covert_status'
                                    tooltip='<%=Eval("text")%>'
                                    style='float: left;
                                           margin-top: 6px;
                                           margin-left: 1px;
                                           background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#340 311 14 15);
                                           width: 10px;
                                           height: 12px;
                                           z-index: 10' >
                                </div>
                            </pe:if>
                        </div>
                    </div>
                    <div style='margin-left: 20px;'>
                        <div class='share_world_info'>
                            <div style='float: left;
                                        width: 198px;'>
                                <%= get_world_date() %>
                            </div>
                            <div style='float: left;
                                        text-singleline: true;
                                        width: 20px;
                                        font-size: 12px;
                                        base-font-size: 12px;
                                        color: #9e9e9e;
                                        margin-top: 6px;'>
                                <%= 'v' .. get_world_version() %>
                            </div>
                        </div>
                    </div>
                    <div style='margin-left: 20px;
                                font-size: 12px;
                                base-font-size: 12px;
                                color: #9e9e9e;
                                margin-top: 6px;'>
                        <div style='float:left;'
                             tooltip='<%= L"观看：" .. get_project_views() %>'>
                            <img src='Texture/Aries/Creator/keepwork/worldshare_32bits.png#383 181 16 12'
                                 style='width: 16px;
                                        height: 12px;
                                        margin-top: 4px;' />
                            <div style='float:left;margin-left: 2px;'>
                                <%= get_project_views() %>
                            </div>
                        </div>
                        <div style='float: left;
                                    margin-left: 8px;'
                             tooltip='<%= L"点赞：" .. get_project_thumbs() %>'>
                            <img src='Texture/Aries/Creator/keepwork/worldshare_32bits.png#358 177 16 16'
                                 style='width: 16px;
                                        height: 16px;' />
                            <div style='float:left;
                                        margin-left: 2px;'>
                                <%= get_project_thumbs() %>
                            </div>
                        </div>
                        <div style='float:left;margin-left: 8px;'
                             tooltip='<%= L"评论：" .. get_project_comments() %>'>
                            <img src='Texture/Aries/Creator/keepwork/worldshare_32bits.png#409 181 18 16'
                                 style='width: 18px;
                                        height: 16px;
                                        margin-top: 3px;' />
                            <div style='float: left;
                                        margin-left: 2px;'>
                                <%= get_project_comments() %>
                            </div>
                        </div>
                    </div>
                    <div class='share_world_info_button'
                         align='right'
                         style='<%= "width: " .. get_share_world_info_button_style() .. ";margin-right: -10px;" %>'>
                        <pe:if condition='<%= not not_encrypt_world() %>'>
                            <!-- holder -->
                            <div style='width: 165px;
                                        height: 10px;
                                        float: left;'></div>
                        </pe:if>
                        <pe:if condition='<%= Eval("hasPid") %>'>
                            <input type='button'
                                   class='share_button'
                                   style='<%= get_share_button("web") %>'
                                   onclick='open_project'
                                   tooltip='<%= L"项目ID：" .. Eval("kpProjectId") .. L"， 点击打开项目页" %>'
                                   name='<%= Eval("index") %>' />
                        </pe:if>
                        <pe:if condition='<%= not_encrypt_world() %>'>
                            <input type='button'
                                   class='share_button'
                                   style='<%= get_share_button("revision") %>'
                                   onclick='selected_version'
                                   tooltip='<%=L"切换版本" %>'
                                   name='<%= Eval("index") %>' />
                            <!-- open current world folder -->
                            <input type='button'
                                   class='share_button'
                                   style='<%= get_share_button("folder") %>'
                                   onclick='open_folder'
                                   tooltip='<%=L"打开世界文件夹" %>'
                                   name='<%= Eval("index") %>' />
                            <pe:if condition='<%= is_show_exit_button() %>'>
                                <!-- exit world -->
                                <input type='button'
                                       class='share_button'
                                       style='<%= get_share_button("exit") %>'
                                       onclick='exit_world'
                                       tooltip='<%=L"退出世界"%>'
                                       name='<%=Eval("index")%>' />
                            </pe:if>
                            <pe:if condition='<%= not is_show_exit_button() %>'>
                                <!-- delete -->
                                <input type='button'
                                       class='share_button'
                                       style='<%= get_share_button("delete") %>'
                                       onclick='delete_world'
                                       tooltip='<%=L"删除"%>'
                                       name='<%=Eval("index")%>' />
                            </pe:if>
                            <pe:if condition='<%= can_be_sync()%>'>
                                <!-- sync -->
                                <input type='button'
                                        class='share_button'
                                        style='<%= get_share_button("sync") %>'
                                        onclick='sync'
                                        tooltip='<%=L"同步"%>'
                                        name='<%=Eval("index")%>' />
                            </pe:if>
                        </pe:if>
                        <!-- enter -->
                        <input type='button'
                               class='share_button'
                               uiname='<%="CreateEmbed.enter" .. Eval("index")%>'
                               style='<%= get_share_button("enter") %>'
                               onclick='enter'
                               tooltip='<%=L"进入"%>'
                               name='<%=Eval("index")%>' />
                    </div>
                </div>
            </div>
        </pe:if>
        <!--not selected-->
        <pe:if condition='<%= not be_selected() %>'>
            <div name='<%=Eval("index")%>'
                 align='left'
                 width='90.5%'
                 class='share_unselect_item'
                 style='padding-left: 8px;
                        padding-top: 8px;'>
                <input width='100%'
                       type='button'
                       style='position: relative;
                              height:260px;
                              background:'
                       name='<%=Eval("index")%>'
                       onclick='switch_world' />
                <pe:if condition='<%= has_rated() %>'>
                    <div style='position: relative;
                                width: 70px;
                                height: 36px;
                                margin-top: -6.8px;
                                margin-left: -8px;
                                padding-top: 4px;
                                padding-left: 6px;
                                background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#356 136 70 36)'>
                        <%= get_art_number()%>
                    </div>
                </pe:if>
                <pe:if condition='<%= Eval("project") and tonumber(Eval("project")["visibility"]) == 1 %>'>
                    <div style='position: relative;
                                margin-left: 268px;
                                margin-top: -8px;
                                width: 28px;
                                height: 31px;
                                background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#310 53 28 31)'></div>
                </pe:if>
                <div width='97%'
                     style='height: 130px;
                            background-color: #afafaf;'>
                    <div width='100%'
                         style='position: relative;
                                height: 132px;
                                margin-left: -1px;
                                margin-right: -1px;
                                margin-top: -1px;
                                background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#394 211 32 32:9 9 9 9)'></div>
                    <div width='100%'
                         style='<%= "height: 130px;background: url(" .. get_world_preview() .. ")" %>'>
                        <pe:if condition='<%= has_username() %>'>
                            <div width='100%'
                                 style='height: 30px;
                                        margin-top: 100px;
                                        font-size: 12px;
                                        padding-top: 5px;
                                        padding-left: 4px;
                                        color: #ffffff;
                                        background-color: #000000a3'>
                                <%= get_user_icon() %>
                                <%= get_username() %>
                            </div>
                        </pe:if>
                    </div>
                </div>
                <div style='position: relative;
                            width: 32px;
                            height: 32px;'>
                    <pe:if condition='<%= get_world_status(1) %>'>
                        <div class='status' style='<%= get_world_status_icon(1) %>' tooltip='<%= get_world_status_tips()%>' />
                    </pe:if>
                    <pe:if condition='<%= get_world_status(2) %>'>
                        <div class='status' style='<%= get_world_status_icon(2) %>' tooltip='<%= get_world_status_tips()%>' />
                    </pe:if>
                    <pe:if condition='<%= get_world_status(3) %>'>
                        <div class='status' style='<%= get_world_status_icon(3) %>' tooltip='<%= get_world_status_tips()%>' />
                    </pe:if>
                    <pe:if condition='<%= get_world_status(4) %>'>
                        <div class='status' style='<%= get_world_status_icon(4) %>' tooltip='<%= get_world_status_tips()%>' />
                    </pe:if>
                    <pe:if condition='<%= get_world_status(5) %>'>
                        <div class='status' style='<%= get_world_status_icon(5) %>' tooltip='<%= get_world_status_tips()%>' />
                    </pe:if>
                    <pe:if condition='<%= get_world_status(6) %>'>
                        <div style='float: left;
                                    width: 9px;
                                    height: 32px;
                                    background: #ffffff' />
                    </pe:if>
                </div>
                <div style='margin-left: 20px;'>
                    <div class='share_world_name'>
                        <%= get_world_text() %>
                        <pe:if condition='<%= Eval("hasPid") %>'>
                            <div style='float: left;
                                        margin-left: 2px;' tooltip='<%= L"项目ID：" .. Eval("kpProjectId") %>'>
                                <span style='color: #9e9e9e;'>
                                    #<%= Eval('kpProjectId') or '' %>
                                </span>
                            </div>
                        </pe:if>
                    </div>
                </div>
                <div style='margin-left: 20px;'>
                    <div class='share_world_info'>
                        <div style='float: left;
                                    width: 198px;'>
                            <%= get_world_date() %>
                        </div>
                        <div style='float: left;
                                    text-singleline: true;
                                    width: 20px;
                                    font-size: 12px;
                                    base-font-size: 12px;
                                    color: #9e9e9e;margin-top:6px;'>
                            <%= 'v' .. get_world_version() %>
                        </div>
                    </div>
                </div>
                <div style='margin-left: 20px;
                            font-size: 12px;
                            base-font-size: 12px;
                            color: #9e9e9e;
                            margin-top: 6px;'>
                    <div style='float:left;'
                         tooltip='<%= L"观看：" .. get_project_views() %>'>
                        <img src='Texture/Aries/Creator/keepwork/worldshare_32bits.png#383 181 16 12'
                             style='width: 16px;
                                    height: 12px;
                                    margin-top: 4px;' />
                        <div style='float: left;
                                    margin-left: 2px;'>
                            <%= get_project_views() %>
                        </div>
                    </div>
                    <div style='float:left;margin-left: 8px;' tooltip='<%= L"点赞：" .. get_project_thumbs() %>'>
                        <img src='Texture/Aries/Creator/keepwork/worldshare_32bits.png#358 177 16 16'
                             style='width: 16px;
                                    height: 16px;' />
                        <div style='float: left;
                                    margin-left: 2px;'>
                            <%= get_project_thumbs() %>
                        </div>
                    </div>
                    <div style='float: left;
                                margin-left: 8px;' tooltip='<%= L"评论：" .. get_project_comments() %>'>
                        <img src='Texture/Aries/Creator/keepwork/worldshare_32bits.png#409 181 18 16'
                             style='width: 18px;
                                    height: 16px;
                                    margin-top: 3px;' />
                        <div style='float: left;
                                    margin-left: 2px;'>
                            <%= get_project_comments() %>
                        </div>
                    </div>
                </div>
                <div style='margin-left: 20px;
                            margin-top: 25px;
                            height: 16px;
                            float: left;
                            font-size: 12px;'>
                    <pe:if condition='<%= get_school_name() ~= "" %>'>
                        <img style='width: 19px;
                                    height: 16px;
                                    margin-right: 5px;'
                             src="Texture/Aries/Creator/keepwork/worldshare_32bits.png#311 311 19 16" />
                        <%= get_school_name() %>
                    </pe:if>
                </div>
                <div align='right'
                     class='share_world_info_button'
                     style='margin-right: 12px;
                            width: 30px;
                            height: 30px;
                            margin-top: -34px;'>
                    <!-- ENTER -->
                    <input type='button'
                           class='share_button'
                           uiname='<%="CreateEmbed.enter" .. Eval("index")%>'
                           style='<%= get_share_button("enter") %>'
                           onclick='enter'
                           tooltip='<%=L"进入"%>'
                           name='<%=Eval("index")%>' />
                </div>
            </div>
        </pe:if>
    </div>
</pe:mcml>