<html>
    <body>
        <pe:mcml>
            <script type="text/npl" refresh="false">
                <![CDATA[
                    -- bottles
                    local LoginModal = NPL.load("(gl)Mod/WorldShare/cellar/LoginModal/LoginModal.lua")
                    local ThirdPartyLogin = NPL.load("(gl)Mod/WorldShare/cellar/LoginModal/ThirdPartyLogin.lua")
                    local RegisterModal = NPL.load("(gl)Mod/WorldShare/cellar/RegisterModal/RegisterModal.lua")
                    local ForgetPassword = NPL.load("(gl)Mod/WorldShare/cellar/ForgetPassword/ForgetPassword.lua")

                    -- helper
                    local Validated = NPL.load('(gl)Mod/WorldShare/helper/Validated.lua')

                    page = document:GetPageCtrl()

                    function get_history_users()
                        return LoginModal:GetHistoryUsers()
                    end

                    function login()
                        if System.options.isForceOffline then
                            _guihelper.MessageBox(L'只有最新版才能登录， 否则只能用离线版，请退出程序后更新。')
                            return
                        end
                        LoginModal:LoginAction()
                    end

                    function login_text()
                        return Mod.WorldShare.Store:Get("user/loginText")
                    end

                    function close()
                        LoginModal:Close()
                    end

                    function register()
                        if System.options.isForceOffline then
                            _guihelper.MessageBox(L'只有最新版才能登录， 否则只能用离线版，请退出程序后更新。')
                            return
                        end

                        LoginModal:Close('REGISTER')
                        RegisterModal:ShowPage()
                    end

                    function forget_password()
                        LoginModal:Close('FORGET')
                        ForgetPassword:ShowPage()
                    end

                    function write_accout(name, mcmlNode)
                        local username = mcmlNode:GetUIValue()
                        page:SetValue("account", username)
                    end

                    function login_with_wx()
                        local callback = LoginModal:Close('THIRD')
                        ThirdPartyLogin:Init('WECHAT', function()
                            if type(callback) == 'function' then
                                callback()
                                Mod.WorldShare.Utils.SetTimeOut(function()
                                    ParaUI.GetUIObject("root"):Focus()
                                end, 2000)
                            end
                        end)
                    end

                    function login_with_qq()
                        local callback = LoginModal:Close('THIRD')
                        ThirdPartyLogin:Init('QQ', function()
                            if type(callback) == 'function' then
                                callback()
                                Mod.WorldShare.Utils.SetTimeOut(function()
                                    ParaUI.GetUIObject("root"):Focus()
                                end, 2000)
                            end
                        end)
                    end

                    function is_support_third_party_login()
                        if System.os.GetPlatform() == 'win32' or System.os.GetPlatform() == 'mac' then
                            return true
                        else
                            return false
                        end
                    end

                    function update_login_button_status()
                        local account = page:GetValue('account')
                        local password = page:GetValue('password')

                        local beSuccess = true

                        if not Validated:AccountCompatible(account) then
                            page:SetUIValue('account_field_error_msg', L'*账号不合法')
                            page:FindControl('account_field_error').visible = true
                            beSuccess = false
                        else
                            page:FindControl('account_field_error').visible = false
                        end

                        local password

                        if be_show_password then
                            password = page:GetValue('password_show')
                        else
                            password = page:GetValue('password_hide')
                        end

                        page:SetValue('password', password)

                        if not Validated:Password(password) then
                            page:SetUIValue('password_field_error_msg', L'*密码不合法')
                            page:FindControl('password_field_error').visible = true
                            beSuccess = false
                        else
                            page:FindControl('password_field_error').visible = false
                        end

                        if beSuccess then
                            page:SetUIBackground('login_button', 'Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#271 98 258 44')
                        else
                            page:SetUIBackground('login_button', 'Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#271 197 258 44')
                        end
                    end

                    function set_show_password()
                        if be_show_password then
                        be_show_password = false

                            local val = page:GetValue('password_show')
                            page:SetValue('password_hide', val)
                            page:SetValue('password', val)

                            page:FindControl('password_show').visible = false
                            page:FindControl('password_hide').visible = true
                        else
                            be_show_password = true

                            local val = page:GetValue('password_hide')
                            page:SetValue('password_show', val)
                            page:SetValue('password', val)

                            page:FindControl('password_show').visible = true
                            page:FindControl('password_hide').visible = false
                        end
                    end

                    -- don't remove
                    Mod.WorldShare.Utils.SetTimeOut(function()
                        local val = page:GetValue('password_show')
                        page:SetValue('password_hide', val)
                        page:SetValue('password', val)

                        page:FindControl('password_show').visible = false
                        page:FindControl('password_hide').visible = true
                    end, 0)
                ]]>
            </script>
            <style type='text/mcss' src='Mod/WorldShare/cellar/Theme/Mcss/MainLoginMcss.mcss'>
                {
                    main_area = {
                        width = 320,
                        height = 350,
                        ['base-font-size'] = 16,
                        ['font-size'] = 16,
                        color = '#ffffff',
                        ['padding-top'] = 0,
                        ['padding-left'] = 40,
                        ['padding-right'] = 40
                    },
                }
            </style>
            <pe:container ClickThrough='true' height='430' class='main_login_container_bg'>
                <div style='padding-top: 12px;padding-left: 18px;'>
                    <div class='main_login_title_bg' style='float: left;width: 172px;height: 49px;'>
                        <img style='margin-top: 13px;margin-left: 20px;width: 72px;height: 24px;' src='Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#186 782 72 24' />
                    </div>
                    <div style='float: left;margin-left: 70px;margin-top: 10px;'>
                        <input type='button' class='main_login_close_button' onclick="close"/>
                    </div>
                </div>
                <div class='main_area'>
                    <pe:if condition="<%= login_text() ~= nil%>">
                        <div style="margin-top:10px;"><%= login_text()%></div>
                    </pe:if>
                    <pe:container name='account_field_error' visible='false' style='display:none;background:'>
                        <!-- error message -->
                        <div>
                            <label style='font-size: 12px;base-font-size: 12px;color: #EB2222;' name='account_field_error_msg' />
                        </div>
                    </pe:container>
                    <pe:container name='password_field_error' visible='false' style='display:none;background:'>
                        <!-- error message -->
                        <div>
                            <label style='font-size: 12px;base-font-size: 12px;color: #EB2222;' name='password_field_error_msg' />
                        </div>
                    </pe:container>
                    <div style='width: 240px; height: 88.1px;padding-left: 35px;background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#9 0 256 94)'>
                        <div>
                            <input type='text'
                                   name='account'
                                   style='background:;textcolor: #FFFFFF;height: 30px;width: 190px;margin-top: 10px;font-size: 16px;'
                                   onchange='update_login_button_status'
                                   EmptyText='<%= L"请输入您的账号/手机号" %>'
                                   MoveViewWhenAttachWithIME='true' />
                        </div>
                        <div style='margin-bottom:12px;'>
                            <div style="float: left;width: 190px;">
                                <input type='text'
                                        name='password_show'
                                        style='background:;textcolor: #FFFFFF;height: 30px;width: 190px;margin-top: 10px;font-size: 16px;'
                                        onchange='update_login_button_status'
                                        SkipAutoBadWordFilter="true"
                                        EmptyText='<%= L"请输入密码" %>'
                                        MoveViewWhenAttachWithIME='true' />
                                <input type='text'
                                        name='password_hide'
                                        PasswordChar="*"
                                        style='background:;textcolor: #FFFFFF;height: 30px;margin-left: -190px;width: 190px;margin-top: 10px;font-size: 16px;'
                                        onchange='update_login_button_status'
                                        SkipAutoBadWordFilter="true"
                                        EmptyText='<%= L"请输入密码" %>'
                                        MoveViewWhenAttachWithIME='true' />
                                <input type="hidden" name="password" value="" />
                            </div>
                            <input type="checkbox"
                                    checked="false"
                                    iconsize="20"
                                    CheckedBG="Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#272 52 20 20"
                                    UncheckedBG="Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#297 52 20 20"
                                    style="position: relative;margin-left: -12px;margin-top: 14px;"
                                    onclick="set_show_password"/>
                        </div>
                    </div>
                    <div style="margin-top: 10px;padding-left: 45px;">
                        <a name="forgot"
                           onclick="forget_password()"
                           style="background:;
                                  base-font-size: 13px;
                                  font-size: 13px;
                                  color: #9A9DA2;">
                           <%= L"忘记密码" %>
                        </a>
                        <span style="color:#9A9DA2;">|</span>
                        <a name="register"
                           onclick="register()"
                           style="background:;
                                  base-font-size: 13px;
                                  font-size: 13px;
                                  color: #ED8853;">
                           <%= L"点击注册" %>
                        </a>
                    </div>
                    <div style='margin-top:10px;margin-bottom:10px;'>
                        <input type='button' name='login_button' DefaultButton='true' class='main_login_gray_button' onclick='login()' value='<%= L"登录"%>' />
                    </div>
                    <pe:if condition='<%= is_support_third_party_login() %>'>
                        <div>
                            <div style='width: 240px;text-align: center;base-font-size: 12px;font-size: 12px;color: #9A9DA2;'>
                                <%= L'第三方账号登录' %>
                            </div>
                            <div style='margin-top: 10px;'>
                                <div onclick='login_with_wx()' style='width: 44px;height: 44px;background:url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#245 135 44 44);float: left;margin-left: 63px;'></div>
                                <div onclick='login_with_qq()' style='width: 44px;height: 44px;background:url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#301 135 44 44);float: left;margin-left: 30x;'></div>
                            </div>
                        </div>
                    </pe:if>
                </div>
            </pe:container>
        </pe:mcml>
    </body>
</html>