<html>
    <body> 
        <pe:mcml>
            <script type='text/npl' src='MainLoginLogin.script.lua'>
                <![CDATA[
                    Mod.WorldShare.Store:Set(
                        'page/Mod.WorldShare.cellar.MainLogin.Login',
                        document:GetPageCtrl()
                    )
                ]]>
            </script>
            <style type='text/mcss' src='Mod/WorldShare/cellar/Theme/Mcss/MainLoginMcss.mcss'>
                {
                    container_size = {
                        ['margin-left'] = -160,
                        ['margin-top'] = -100,
                    },
                    main_area = {
                        width = 320,
                        height = 320,
                        ['base-font-size'] = 16,
                        ['font-size'] = 16,
                        color = '#ffffff',
                        ['padding-top'] = 0,
                        ['padding-left'] = 40,
                        ['padding-right'] = 40,
                    },
                }
            </style>
            <pe:if condition='<%= not get_is_modal() %>'>
                <pe:container
                    alignment='_lt'
                    zorder='-1'
                    width='100px'
                    height='100px'
                    style='position: relative; background:;'>
                    <div align='left'
                        style='width: 55px;
                               margin-left: 20px;
                               margin-top: 20px;'>
                        <input type='button'
                            style='width: 55px;
                                   height: 59px;
                                   background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#533 8 55 59)'
                                onclick="parent"/>
                    </div>
                </pe:container>
                <pe:container
                    alignment='_rt'
                    zorder='-1'
                    width='329px'
                    height='100px'
                    style='position: relative;
                           background:;
                           margin-top: 20px;
                           margin-right: 11px;'>
                    <div style='width: 109px;float: left;'>
                        <pe:container name='update_password_button' visible='false' style='background:;'>
                            <pe:container name='update_button_remind' visible='false' style='margin-left: -355px;margin-top: -8px;
                                    position: relative;width:346px;height:90px;
                                    background:url(Texture/Aries/Creator/keepwork/worldshare/remind_bg_53X64_32bits.png#0 0 53 64:20 45 20 10)'>
                            <div style="float: left;
                                        margin-top: 27px;
                                        margin-left: 13px;
                                        width: 32px;
                                        height: 32px;    
                                        background: url(Texture/Aries/Creator/keepwork/worldshare/warn_32X32_32bits.png#0 0 32 32);">
                            </div>
                            <div style="font-size: 14px; float: left;margin-left: 10px;margin-top: 10px; width: 274px;height: 85px;color: #FFFFFF;">
                                你还没有修改公共密码，存在账号被盗用的风险，请尽快点击“修改密码”进行修改。
                                <br/>
                                （需要先完成实名认证才能修改密码。）
                            </div>
                            </pe:container>
                            
                            <input type='button'
                            value="修改密码" 
                            onclick='update_password'
                            icon="Texture/Aries/Creator/keepwork/worldshare/mima_32X32_32bits.png#0 0 32 32"
                            icon_width=32
                            icon_height=32
                            icon_off_y=5
                            icon_off_x=-28
                            style='width: 111px;
                                    height: 45px;
                                    font-size: 18px;
                                    text-offset-x: 9;
                                    text-offset-y: -2;
                                    background: url(Texture/Aries/Creator/keepwork/Window/button/btn_hui109X45_32bits.png#0 0 109 45:15 15 15 15)' />
                        </pe:container>
                    </div>
    
                    <div style='width: 111px;
                                float: left;
                                margin-left: 10px;'>
                        <pe:container name='change_button' visible='false' style='background:;'>
                            <input type='button'
                                onclick='change'
                                value="切换账号" 
                                icon="Texture/Aries/Creator/keepwork/worldshare/icon3_16X16_32bits.png#0 0 16 16"
                                icon_width=16
                                icon_height=16
                                icon_off_y=-2
                                icon_off_x=-34
                                style='width: 111px;
                                       height: 45px;
                                       font-size: 18px;
                                       text-offset-x: 12;
                                       text-offset-y: -3;
                                       background: url(Texture/Aries/Creator/keepwork/Window/button/btn_hui109X45_32bits.png#0 0 109 45:15 15 15 15)' />
                        </pe:container>
                    </div>
                    <div style='float: left;
                                width: 80px;
                                margin-left: 10px;'>
                        <input type='button'
                               style='width: 80px;
                                      height: 44px;
                                      background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#281 885 81 44)'
                               onclick='on_click_exit' />
                    </div>
                </pe:container>
            </pe:if>
            <pe:container alignment='_ct'
                          style='<%= get_container_style() %>'
                          class='main_login_container_bg container_size'>
                <div width='320'
                     style='padding-top: 12px;
                            padding-left: 18px;'>
                    <pe:if condition='<%= get_is_modal() %>'>
                        <div align='right'
                             width='40'
                             style='position: relative;
                                    margin-right: 20px;
                                    margin-top: 10px;'>
                            <input type='button' class='main_login_close_button' onclick="close"/>
                        </div>
                    </pe:if>
                    <div class='main_login_title_bg'
                         style='float: left;
                                width: 172px;
                                height: 49px;'>
                        <pe:container name='title_login' visible='true' style='position: relative;background:;'>
                            <img style='margin-top: 13px;
                                        margin-left: 30px;
                                        width: 54px;
                                        height: 23px;'
                                 src='Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#72 422 54 23' />
                        </pe:container>
                        <pe:container name='title_username' visible='false' style='position: relative;background:;'>
                            <img style='margin-top: 13px;margin-left: 25px;width: 79px;height: 24px;' src='Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#151 379 79 24' />
                        </pe:container>
                    </div>
                </div>
                <div class='main_area'>
                    <pe:container name='account_mode' visible='true' style='position: relative;background:;'>
                        <pe:container name='account_field_error'
                                      visible='false'
                                      style='height: 16px;
                                             line-height: 5px;
                                             background:;'>
                            <!-- error message -->
                            <label style='font-size: 12px;
                                          base-font-size: 12px;
                                          line-height: 5px;
                                          color: #EB2222;'
                                   name='account_field_error_msg' />
                        </pe:container>
                        <pe:container name='password_field_error'
                                      visible='false'
                                      style='height: 16px;
                                             line-height: 5px;
                                             background:;'>
                            <!-- error message -->
                            <label style='font-size: 12px;
                                          base-font-size: 12px;
                                          line-height: 5px;
                                          color: #EB2222;'
                                   name='password_field_error_msg' />
                        </pe:container>
                        <div align='right'
                             onclick='set_phone_mode'
                             style='font-size: 12px;
                                    base-font-size: 12px;
                                    color: #ffffff;
                                    height: 20px;
                                    line-height: 5px;
                                    width: 78px;'>
                            <%= L'使用手机登录' %>
                        </div>
                        <div style='width: 240px;
                                    height: 88.1px;
                                    padding-left: 35px;
                                    background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#9 0 256 94);'>
                            <pe:container name='account_list'
                                          visible='false'
                                          zorder='1'
                                          style='background:;
                                                 position: relative;
                                                 margin-top: 45px;
                                                 margin-left: -35px;'>
                                <div style='<%= get_account_list_style() %>'>
                                    <pe:gridview name='account_list_view'
                                                 DataSource='<%= get_account_list() %>'
                                                 DefaultNodeHeight='40'
                                                 pagesize='100'
                                                 ItemsPerLine='1'
                                                 AllowPaging='false'>
                                        <Columns>
                                            <div style='width: 215px;
                                                        height: 39px;
                                                        padding-left: 4px;
                                                        background-color: #25282e'>
                                                <input type='button'
                                                       value='<%= text %>'
                                                       name='<%= Eval("index") %>'
                                                       onclick='select_account'
                                                       style='width: 175px;
                                                              height: 39px;
                                                              text-align: left;
                                                              color: #FFFFFF;
                                                              background:;' />
                                                <input type='button'
                                                       name='<%= Eval("index") %>'
                                                       style='background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#639 407 10 12);
                                                              width: 10px;
                                                              height: 12px;
                                                              margin-top: 16px;
                                                              margin-left: 15px;'
                                                       onclick='remove_account'/>
                                            </div>
                                            <div style='width: 215px;height: 1px;background-color: #3d4047'></div>
                                        </Columns>
                                    </pe:gridview>
                                </div>
                            </pe:container>
                            <div>
                                <div style='position: relative;
                                            background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#674 408 18 10);
                                            width: 18px;
                                            height: 10px;
                                            margin-left: 170px;
                                            margin-top: 18px;'
                                     onclick='show_account_list'
                                     zorder='1'>
                                </div>
                                <input type='text'
                                       name='account'
                                       onchange='update_login_button_status'
                                       onfocusin='hide_account_list'
                                       style='background:;
                                              textcolor: #FFFFFF;
                                              height: 30px;
                                              width: 190px;
                                              margin-top: 10px;
                                              font-size: 16px;'
                                       enable_ime='false'
                                       EmptyText='<%= L"请输入您的账号/手机号" %>'
                                       RemoveSpaces='true'
                                       MoveViewWhenAttachWithIME='true' />
                            </div>
                            <div style='margin-bottom:12px;'>
                                <div style="float: left;width: 190px;">
                                    <input type='text'
                                            name='password_show'
                                            style='background:;
                                                   textcolor: #FFFFFF;
                                                   height: 30px;
                                                   width: 190px;
                                                   margin-top: 10px;
                                                   font-size: 16px;'
                                            onchange='update_login_button_status'
                                            SkipAutoBadWordFilter='true'
                                            RemoveSpaces='true'
                                            enable_ime='false'
                                            EmptyText='<%= L"请输入密码" %>'
                                            MoveViewWhenAttachWithIME='true' />
                                    <input type='text'
                                            name='password_hide'
                                            PasswordChar="*"
                                            style='background:;textcolor: #FFFFFF;height: 30px;margin-left: -190px;width: 190px;margin-top: 10px;font-size: 16px;'
                                            onchange='update_login_button_status'
                                            SkipAutoBadWordFilter='true'
                                            RemoveSpaces='true'
                                            enable_ime='false'
                                            EmptyText='<%= L"请输入密码" %>'
                                            MoveViewWhenAttachWithIME='true' />
                                    <input type="hidden" name="password" value="" />
                                </div>
                                <input type="checkbox"
                                        name="eye_show_password"
                                        checked="false"
                                        iconsize="20"
                                        CheckedBG="Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#272 52 20 20"
                                        UncheckedBG="Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#297 52 20 20"
                                        style="position: relative;margin-left: -21px;margin-top: 14px;"
                                        onclick="click_set_show_password"/>
                            </div>
                        </div>
                        <div style="margin-top: 5px;">
                            <div style='float:left;
                                        color: #9A9DA2;
                                        base-font-size: 13px;
                                        font-size: 13px;'>
                                <pe:if condition='<%= not System.options.IgnoreRememberAccount %>'>
                                    <input type="checkbox"
                                            iconsize="12"
                                            CheckedBG="Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#275 79 12 12"
                                            UncheckedBG="Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#295 79 12 12"
                                            style="float:left;margin-top:3px;min-width:90px;"
                                            name='auto_login_name'
                                            checked="false"
                                            onclick="set_auto_login"/>
                                    <div style='float: left;
                                                margin-left: 3px;
                                                color: #ffffff' for='auto_login_name'>
                                        <%= L"自动登录" %>
                                    </div>
                                </pe:if>
                                <pe:if condition='<%= System.options.IgnoreRememberAccount %>'>
                                    <div width="77"></div>
                                </pe:if>
                            </div>
                            <pe:if condition='<%= System.os.GetPlatform() == "win32" %>'>
                                <div style='float:left;
                                            base-font-size: 13px;
                                            font-size: 13px;
                                            color: #ffffff;margin-left: 97px;'
                                     onclick='forget_password()'>
                                    <%= L"找回密码" %>
                                </div>
                            </pe:if>
                            <pe:if condition='<%= System.os.GetPlatform() ~= "win32" %>'>
                                <div style='float: left;
                                            base-font-size: 13px;
                                            font-size: 13px;
                                            color: #ffffff;
                                            margin-left: 117px;'
                                     onclick='forget_password()'>
                                    <%= L"找回密码" %>
                                </div>
                            </pe:if>
                        </div>
                        <div style='margin-top:5px;margin-bottom:10px;'>
                            <input type='button'
                                   name='login_button'
                                   DefaultButton='true'
                                   class='main_login_gray_button'
                                   onclick='login()'
                                   value='<%= L"登录"%>' />
                        </div>
                        <pe:if condition='<%= not get_is_modal() %>'>
                            <div width='50%'
                                 style='float: left;
                                        padding-right: 5px;'>
                                <input width='100%'
                                       type='button'
                                       onclick='register'
                                       class='main_login_blue_buttom_small'
                                       style='text-align: center;'
                                       value='<%= L"注册" %>' />
                            </div>
                            <div width='50%'
                                 style='float: left;
                                        padding-left: 5px;'>
                                <input width='100%'
                                       onclick='use_offline'
                                       type='button'
                                       class='main_login_blue_buttom_small'
                                       style='text-align: center;'
                                       value='<%= L"本地模式" %>' />
                            </div>
                        </pe:if>
                        <pe:if condition='<%= get_is_modal() %>'>
                            <div>
                                <input width='100%'
                                       type='button'
                                       onclick='register'
                                       class='main_login_cyan_button'
                                       style='text-align: center;'
                                       value='<%= L"注册" %>' />
                            </div>
                        </pe:if>
                    </pe:container>
                    <pe:container name='phone_mode' visible='false' style='position: relative;background:;'>
                        <pe:container name='phone_field_error'
                                      visible='false'
                                      style='height: 16px;
                                             line-height: 5px;
                                             background:;'>
                            <!-- error message -->
                            <label style='font-size: 12px;
                                          base-font-size: 12px;
                                          line-height: 5px;
                                          color: #EB2222;'
                                   name='phone_field_error_msg' />
                        </pe:container>
                        <pe:container name='captcha_field_error'
                                      visible='false'
                                      style='height: 16px;
                                             line-height: 5px;
                                             background:;'>
                            <!-- error message -->
                            <label style='font-size: 12px;
                                          base-font-size: 12px;
                                          line-height: 5px;
                                          color: #EB2222;'
                                    name='captcha_field_error_msg' />
                        </pe:container>
                        <div align='right'
                             onclick='set_account_mode'
                             style='font-size: 12px;
                                    base-font-size: 12px;
                                    color: #ffffff;
                                    height: 20px;
                                    line-height: 5px;
                                    width: 78px;'>
                            <%= L'使用密码登录' %>
                        </div>
                        <div style='background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#968 800 36 66:13 13 13 13);
                                    width: 240px;
                                    height: 102px;
                                    padding-left: 12px;
                                    padding-right: 12px;
                                    padding-top: 10px;'>
                            <div>
                                <input type='text'
                                       name='phone_number'
                                       enable_ime='false'
                                       RemoveSpaces='true'
                                       onchange='update_phone_login_button_status'
                                       style='height: 35px;
                                              text-valign: center;
                                              background:;
                                              textcolor: #FFFFFF;'
                                       EmptyText='<%= L"请输入您的手机号" %>' />
                            </div>
                            <div width='100%' style='height: 1px;
                                                     background-color: #2F3237;
                                                     margin-top: 4px;
                                                     margin-bottom: 4px;'></div>
                            <div>
                                <input type='button'
                                       value='<%= L"获取验证码" %>'
                                       zorder='1'
                                       onclick='get_phone_captcha'
                                       name='get_phone_captcha'
                                       style='background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#331 70 90 22:5 5 5 5));
                                              width: 100px;
                                              height: 28px;
                                              color: #3e85e5;
                                              position: relative;
                                              margin-left: 115px;
                                              margin-top: 4px;' />
                                <input type='text'
                                       name='phone_captcha'
                                       enable_ime='false'
                                       onchange='update_phone_login_button_status'
                                       style='height: 35px;
                                              text-valign: center;
                                              background:;
                                              textcolor: #FFFFFF;'
                                       RemoveSpaces='true'
                                       EmptyText='<%= L"请输入验证码" %>' />
                            </div>
                        </div>
                        <div style='margin-top:17px;margin-bottom:10px;'>
                            <input type='button'
                                   name='phone_login_button'
                                   class='main_login_gray_button'
                                   onclick='login_with_phone()'
                                   value='<%= L"登录"%>' />
                        </div>
                        <div width='50%'
                                style='float: left;
                                    padding-right: 5px;'>
                            <input width='100%'
                                   type='button'
                                   onclick='register'
                                   class='main_login_blue_buttom_small'
                                   style='text-align: center;'
                                   value='<%= L"注册" %>' />
                        </div>
                        <div width='50%'
                                style='float: left;
                                    padding-left: 5px;'>
                            <input width='100%'
                                    onclick='use_offline'
                                    type='button'
                                    class='main_login_blue_buttom_small'
                                    style='text-align: center;'
                                    value='<%= L"本地模式" %>' />
                        </div>
                    </pe:container>
                    <pe:container name='auto_login_mode'
                                  visible='false'
                                  style='background:;'>
                        <div style='height: 140px;'>
                            <label style='font-size: 35px;
                                          base-font-size: 35px;
                                          text-align: center;
                                          color: #FFFFFF;
                                          height: 50px;
                                          margin-top: 50px;'
                                   name='auto_username' />
                        </div>
                        <div style='margin-top:17px;margin-bottom:10px;'>
                            <input type='button'
                                   name='start_button'
                                   class='main_login_blue_button'
                                   onclick='start()'
                                   value='<%= L"开始"%>' />
                        </div>
                    </pe:container>
                </div>
            </pe:container>
        </pe:mcml>
    </body>
</html>
