<html>
    <body> 
        <pe:mcml>
            <script type="text/npl">
                <![CDATA[
                    -- bottles
                    local MainLogin = NPL.load('(gl)Mod/WorldShare/cellar/MainLogin/MainLogin.lua')

                    -- libs
                    local Desktop = commonlib.gettable("MyCompany.Aries.Creator.Game.Desktop")
                    local is_setting_menu_show = false
                    local page = document:GetPageCtrl()

                    page.OnCreate = function()
                        local menu_bg_node = page:FindControl("menu_bg")
                        local setting_menu_container = page:FindControl("setting_menu")
                        setting_menu_container.height = menu_bg_node.height

                        local setting_bt = page:FindControl("setting_button")
                        setting_menu_container.y = setting_bt.y - setting_menu_container.height + 15
                        setting_menu_container.x = setting_bt.x
                    end
                    function GetModCountAsString()
                        NPL.load('(gl)script/apps/Aries/Creator/Game/Mod/ModManager.lua')
                        local ModManager = commonlib.gettable('Mod.ModManager')
                        local pluginloader = ModManager:GetLoader()
                        local nCount = pluginloader:GetActiveModCount()

                        if nCount > 0 then
                            return format('(%d)', nCount)
                        else
                            return ''
                        end
                    end

                    function OnOpenModulePage()
                        ShowSettingMenu()
                        NPL.load('(gl)script/apps/Aries/Creator/Game/Login/SelectModulePage.lua');
                        local SelectModulePage = commonlib.gettable('MyCompany.Aries.Game.MainLogin.SelectModulePage')
                        SelectModulePage.ShowPage()
                    end

                    function OnChangeLanguagePage()
                        NPL.load('(gl)script/apps/Aries/Creator/Game/Common/Translation.lua')

                        local Translation = commonlib.gettable('MyCompany.Aries.Game.Common.Translation')
                        Translation.ShowPage(function()
                            MainLogin:Close()
                            MainLogin:Show()
                        end)
                    end

                    function OnClickCustomerService()
                        ParaGlobal.ShellExecute('open', L'https://wpa1.qq.com/TxyKupLK?_type=wpa&qidian=true', '', '', 1)
                    end

                    function on_click_exit()
                        Desktop.ForceExit()
                    end

                    function ShowSettingMenu()
                        is_setting_menu_show = not is_setting_menu_show

                        local setting_menu = page:FindControl('setting_menu')
                        setting_menu.visible = is_setting_menu_show
                    end

                    function OnOpenLocalServer()
                        ShowSettingMenu()
                        GameLogic.RunCommand("/lan -server_setting=true")
                    end
                ]]>
            </script>
            <style type="text/mcss" src='Mod/WorldShare/cellar/Theme/Mcss/MainLoginMcss.mcss'>
                {
                   
                }
            </style>
            <div>
                <!-- <pe:if condition='<%= System.options.isDevEnv == false %>'>
                    <pe:if  condition='<%= System.os.GetPlatform() ~= "ios" and System.os.GetPlatform() ~= "android" %>'>
                        <input type="button"
                               style="width: 80px;height: 44px;background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#284 523 80 44)"
                               onclick="OnOpenModulePage" /> 
                    </pe:if>        
                </pe:if> -->
                <pe:container name="setting_menu" visible="false" style="position: relative; width: 120px;height: 100px;background:;">
                    <div name="menu_bg" style="padding: 5px;padding-bottom: 20px; width: 120px;min-height: 44px;background: url(Texture/Aries/Creator/paracraft/login/menu_bg_36X36_32bits.png#0 0 36 36:9 9 9 9);">
                        <pe:if condition='<%= System.options.isDevEnv == false %>'>
                            <pe:if  condition='<%= System.os.GetPlatform() ~= "ios" and System.os.GetPlatform() ~= "android" %>'>
                                <input type="button"
                                    value='<%=L"插件"%>'
                                    icon="Texture/Aries/Creator/paracraft/login/plug_16x16_32bits.png#0 0 16 16"
                                    icon_width=16
                                    icon_height=16
                                    icon_off_y=0
                                    icon_off_x=-48
                                    style="width: 110px;height: 32px;margin-left: 5px; 
                                        color: #ffffff;
                                        text-offset-x: -20;
                                        text-offset-y: 1;
                                        font-size: 13px;
                                        background: url()"
                                    onclick="OnOpenModulePage" />
                                <div style='width: 110px; 
                                            height: 1px;
                                            background-color: #9b9b9b;
                                            margin-top: 4px;
                                            margin-bottom: 4px;'></div> 
                            </pe:if>        
                        </pe:if>

                        <input type="button"
                        value='<%=L"教师服务器"%>'
                                icon="Texture/Aries/Creator/paracraft/login/server_16x16_32bits.png#0 0 16 16"
                                icon_width=16
                                icon_height=16
                                icon_off_y=0
                                icon_off_x=-48
                                style="width: 110px;height: 32px;margin-left: 5px; 
                                    color: #ffffff;
                                    text-offset-x: 3;
                                    text-offset-y: 1;
                                    font-size: 13px;
                                    background: url()"
                               onclick="OnOpenLocalServer" /> 
                    </div>
                </pe:container>

                <input type="button"
                        name="setting_button"
                        style="margin-top: 100px; width: 120px;height: 44px;background: url(Texture/Aries/Creator/paracraft/login/setting_120X44_32bits.png#0 0 120 44)"
                        onclick="ShowSettingMenu" /> 

                <input type="button"
                       style="margin-top: 100px; margin-left: 20px;width: 81px;height: 44px;background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#281 575 81 44)"
                       onclick="OnChangeLanguagePage" />
                <input type="button"
                       style="margin-top: 100px; margin-left: 20px;width: 80px;height: 44px;background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#284 471 80 44)"
                       onclick="OnClickCustomerService" />
            </div>
        </pe:mcml>
    </body>
</html>