<html>
    <body>
        <pe:mcml>
            <script type='text/npl'>
                <![CDATA[
                    -- bottles
                    local MainLogin = NPL.load('(gl)Mod/WorldShare/cellar/MainLogin/MainLogin.lua')
                    local RegisterModal = NPL.load('(gl)Mod/WorldShare/cellar/RegisterModal/RegisterModal.lua')
                    local RedSummerCampMainPage = NPL.load('(gl)script/apps/Aries/Creator/Game/Tasks/RedSummerCamp/RedSummerCampMainPage.lua')

                    -- service
                    local KeepworkServiceSession = NPL.load('(gl)Mod/WorldShare/service/KeepworkService/Session.lua')
                    local EventTrackingService = NPL.load('(gl)Mod/WorldShare/service/EventTracking.lua')

                    -- helper
                    local Validated = NPL.load('(gl)Mod/WorldShare/helper/Validated.lua')

                    -- database
                    local SessionsData = NPL.load('(gl)Mod/WorldShare/database/SessionsData.lua')

                    local page = document:GetPageCtrl()

                    Mod.WorldShare.Utils.SetTimeOut(function()
                        local val = page:GetValue('password_show')
                        page:SetValue('password_hide', val)
                        page:SetValue('password', val)

                        page:FindControl('password_show').visible = false
                        page:FindControl('password_hide').visible = true
                    
                        local current_selected_user = KeepworkServiceSession:LoadSigninInfo()
                        local signed_in_node = page:FindControl('signed_in')
                        local login_node = page:FindControl('login')
                        local switch_account_node = page:FindControl('switch_account')

                        if KeepworkServiceSession:IsSignedIn() then
                            signed_in_node.visible = true
                            login_node.visible = false
                            switch_account_node.visible = true
                        else
                            if current_selected_user and
                            current_selected_user.autoLogin and
                            current_selected_user.rememberMe and
                            current_selected_user.token then
                                Mod.WorldShare.Utils.SetTimeOut(function()
                                    MainLogin:LoginWithToken(current_selected_user.token, function(b_succeed, reason, message)
                                        if b_succeed then
                                            page:Refresh(0.01)
                                        else
                                            local session = SessionsData:GetSessionByUsername(current_selected_user.account)

                                            if session and type(session) == 'table' then
                                                session.autoLogin = false
                                                session.token = ''

                                                SessionsData:SaveSession(session)
                                            end

                                            signed_in_node.visible = false
                                            login_node.visible = true
                                            switch_account_node.visible = false
                                        end
                                    end)
                                end, 0)
                            else
                                signed_in_node.visible = false
                                login_node.visible = true
                                switch_account_node.visible = false
                            end
                        end
                    end, 0)

                    function show_summer_camp()
                        RedSummerCampMainPage.Show()
                    end

                    function close()
                        page:CloseWindow()
                    end

                    function set_account_mode()
                        set_mode('account')
                    end

                    function set_phone_mode()
                        set_mode('phone')
                    end

                    function set_mode(mode)
                        local login_with_phone_number = page:FindControl('login_with_phone_number')
                        local login_with_account = page:FindControl('login_with_account')

                        if mode == 'account' then
                            login_with_phone_number.visible = false
                            login_with_account.visible = true
                        elseif mode == 'phone' then
                            login_with_phone_number.visible = true
                            login_with_account.visible = false
                        end
                    end

                    function get_phone_captcha()
                        local phone_number = page:GetValue('phone_number')

                        if not Validated:Phone(phone_number) then
                            _guihelper.MessageBox(L'*手机号格式错误')
                            return
                        end

                        if is_clicked_get_phone_captcha then
                           return false
                        end

                        is_clicked_get_phone_captcha = true

                        local times = 60

                        local timer = commonlib.Timer:new({
                            callbackFunc = function(timer)
                                page:SetValue('get_phone_captcha', format('%s(%ds)', L'重新发送', times))

                                if times == 0 then
                                    is_clicked_get_phone_captcha = false
                                    page:SetValue('get_phone_captcha', L'获取验证码')
                                    timer:Change(nil, nil)
                                end

                                times = times - 1
                            end
                        })

                        KeepworkServiceSession:GetPhoneCaptcha(phone_number, function(data, err)
                            if err == 400 and data and data.code and data.message then
                                is_clicked_get_phone_captcha = false
                                page:SetValue('get_phone_captcha', L'获取验证码')
                                GameLogic.AddBBS(nil, format('%s%s(%d)', L'获取验证码失败，错误信息：', data.message, data.code), 3000, '255 0 0')
                                timer:Change(nil, nil)
                            end
                        end)

                        timer:Change(1000, 1000)
                    end

                    function user_agreement()
                        RegisterModal:ShowUserAgreementPage()
                    end

                    function user_privacy()
                        RegisterModal:ShowUserPrivacyPage()
                    end

                    function login_action()
                        local phone_number = page:GetValue('phone_number')
                        local phone_captcha = page:GetValue('phone_captcha')
                        local agree = page:GetNode('phone_agree').checked

                        if not agree then
                            _guihelper.MessageBox(L'*您未同意《Paracraft用户协议》和《隐私协议》')
                            return
                        end

                        if not phone_number or not Validated:Phone(phone_number) then
                            _guihelper.MessageBox(L'*手机号格式错误')
                            return
                        end

                        if not phone_captcha or phone_captcha == '' then
                            _guihelper.MessageBox(L'*手机验证码不能为空')
                            return
                        end

                        KeepworkServiceSession:CellphoneCaptchaVerify(
                            phone_number,
                            phone_captcha,
                            function(result)
                                if not result or type(result) ~= 'table' then
                                    return
                                end

                                if result.verify ~= true then
                                    _guihelper.MessageBox(format(L'%s(%d)', result.message, result.code))
                                    return
                                end

                                KeepworkServiceSession:CheckPhonenumberExist(phone_number, function(be_exist)
                                    if be_exist then
                                        MainLogin:AndroidLoginWithPhoneNumber(phone_number, phone_captcha, function(be_succeed, reason, message)
                                            if not be_succeed then
                                                _guihelper.MessageBox(message)
                                                return
                                            end

                                            page:Refresh(0.01)
                                        end)
                                    else
                                        MainLogin.cellphone = phone_number
                                        MainLogin.cellphoneCaptcha = phone_captcha

                                        register()

                                        local page = Mod.WorldShare.Store:Get('page/Mod.WorldShare.cellar.MainLogin.MainAndroidRegister')

                                        page:SetValue('phone_number', phone_number)
                                        page:SetValue('phone_captcha', phone_captcha)

                                        Mod.WorldShare.Utils.SetTimeOut(function()
                                            page.set_mode('phone')
                                        end, 100)
                                    end
                                end)
                            end
                        )
                    end

                    function login_with_password_action()
                        if not page:GetNode('account_agree').checked then
                            _guihelper.MessageBox(L'*您未同意《Paracraft用户协议》和《隐私协议》')
                            return
                        end

                        local account = page:GetValue('account')
                        local password = page:GetValue('password')

                        MainLogin:AndroidLoginAction(
                            account,
                            password,
                            function(be_succeed, reason, message)
                                if not be_succeed then
                                    _guihelper.MessageBox(message)
                                    return
                                end

                                page:Refresh(0.01)
                            end
                        )
                    end

                    function local_mode()
                        close()
                        KeepworkServiceSession:Logout()
                        MainLogin:EnterUserConsole(true)
                    end

                    local isPasswordVisible = false

                    function update_password()
                        local password_show_value = page:GetValue('password_show')
                        local password_hide_value = page:GetValue('password_hide')

                        if isPasswordVisible then
                            page:SetValue('password', password_show_value)
                        else
                            page:SetValue('password', password_hide_value)
                        end
                    end

                    function set_password_show_or_hide()
                        local password_show_node = page:FindControl('password_show')
                        local password_hide_node = page:FindControl('password_hide')
                        local password_show_value = page:GetValue('password_show')
                        local password_hide_value = page:GetValue('password_hide')

                        if isPasswordVisible then
                            password_show_node.visible = false
                            password_hide_node.visible = true

                            page:SetValue('password_show', '')
                            page:SetValue('password_hide', password_show_value)
                            page:SetValue('password', password_show_value)

                            isPasswordVisible = false
                        else
                            password_show_node.visible = true
                            password_hide_node.visible = false

                            page:SetValue('password_show', password_hide_value)
                            page:SetValue('password_hide', '')
                            page:SetValue('password', password_hide_value)

                            isPasswordVisible = true
                        end
                    end

                    function get_username()
                        return Mod.WorldShare.Store:Get('user/username') or ''
                    end

                    function enter()
                        -- SessionsData:SetUserLocation('HOME', Mod.WorldShare.Store:Get('user/username'))
                        close()
                        MainLogin:Next()
                    end

                    function register()
                        close()
                        MainLogin:ShowAndroidRegister()
                    end

                    function switch_account()
                        KeepworkServiceSession:Logout(nil, function()
                            local signed_in_node = page:FindControl('signed_in')
                            local login_node = page:FindControl('login')
                            local switch_account_node = page:FindControl('switch_account')

                            signed_in_node.visible = false
                            login_node.visible = true
                            switch_account_node.visible = false
                        end)
                    end

                    function parent()
                        EventTrackingService:Send(1, 'click.main_login.select_parents', nil, true)
                        MainLogin:ShowParent()
                    end

                    function update_phone_login_button_status()
                        local phone_number = page:GetValue('phone_number')
                        local phone_captcha = page:GetValue('phone_captcha')
                        local agree = page:GetNode('phone_agree').checked

                        local be_success = true

                        if not Validated:Phone(phone_number) then
                            be_success = false
                        end

                        if not phone_captcha or #phone_captcha == 0 then
                            be_success = false
                        end

                        if not agree then
                            be_success = false
                        end

                        if be_success then
                            page:SetUIBackground('phone_login_button', 'Texture/Aries/Creator/paracraft/paracraft_mobile_login_32bits.png#212 580 290 90:105 0 105 0')
                        else
                            page:SetUIBackground('phone_login_button', 'Texture/Aries/Creator/paracraft/paracraft_mobile_login_32bits.png#32 693 288 88:105 0 105 0')
                        end
                    end

                    function update_login_button_status()
                        update_password()

                        local account = page:GetValue('account')
                        local password = page:GetValue('password')
                        local account_agree = page:GetNode('account_agree').checked

                        local be_success = true

                        if not Validated:AccountCompatible(account) then
                            be_success = false
                        end

                        if not Validated:Password(password) then
                            be_success = false
                        end

                        if not account_agree then
                            be_success = false
                        end

                        if be_success then
                            page:SetUIBackground('login_button', 'Texture/Aries/Creator/paracraft/paracraft_mobile_login_32bits.png#212 580 290 90:105 0 105 0')
                        else
                            page:SetUIBackground('login_button', 'Texture/Aries/Creator/paracraft/paracraft_mobile_login_32bits.png#32 693 288 88:105 0 105 0')
                        end
                    end

                    function on_click_exit()
                        MainLogin:Exit()
                    end
                ]]>
            </script>
            <style type='text/mcss' src='Mod/WorldShare/cellar/Theme/Mcss/MainLoginMcss.mcss'>
                {
                    container_size = {
                        width = 652.2395,
                        height = 425,
                        ['margin-left'] = -326.1197,
                        ['padding-top'] = 12,
                        ['padding-left'] = 12,
                        ['margin-top'] = -115,
                    },
                }
            </style>
            <pe:container
                alignment='_fi'
                zorder='-1'
                width='100%'
                height='100%'
                style='background:;'>
                <div align='left'
                     style='width: 55px;
                            margin-left: 20px;'>
                    <input type='button'
                           style='margin-top: 20px;
                                  width: 55px;
                                  height: 59px;
                                  background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#533 8 55 59)'
                            onclick="parent"/>
                </div>
            </pe:container>
            <pe:container
                alignment='_rt'
                zorder='-1'
                width='282px'
                height='100px'
                style='position: relative;
                       background-color:;
                       margin-top: 20px;
                       margin-right: 11px;'>
                <div style='width: 192px;
                            height: 100px;
                            float: left;'>
                    <pe:container alignment='_rt' name='switch_account' visible='true' style='position: relative;background:;'>
                        <input type='button'
                            onclick='switch_account'
                            style='width: 192px;
                                    height: 74px;
                                    margin-right: 100px;
                                    background: url(Texture/Aries/Creator/paracraft/paracraft_mobile_login_32bits.png#26 797 192 74)' />
                    </pe:container>
                </div>
                <div style='float: left;
                            width: 80px;
                            height: 100px;
                            margin-left: 10px;'>
                    <input type='button'
                           style='width: 80px;
                                  height: 44px;
                                  background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#281 885 81 44)'
                           onclick='on_click_exit' />
                </div>
            </pe:container>
            <pe:container alignment='_ct'
                          name='signed_in'
                          visible='false'
                          class='container_size'
                          style='background:;'>
                <div width='100%'
                     class='main_login_mobile_container_bg'
                     style='max-height: 416.66px;
                            padding-top: 12px;
                            padding-left: 12px;'>
                    <div style='width: 240px;
                            height: 50px;
                            padding-left: 35px;
                            padding-right: 100px'
                         class='main_login_mobile_container_title_bg'>
                        <img style='width: 97.85px;
                                    height: 30px;
                                    margin-top: 10px;'
                             src='Texture/Aries/Creator/paracraft/paracraft_mobile_login_32bits.png#844 580 137 42' />
                    </div>
                    <div style='width: 632px;
                                text-align: center;
                                font-size: 50px;
                                base-font-size: 50px;
                                margin-top: 0px;
                                color: #FFFFFF;
                                margin-left: -3px;'>
                        <%= get_username() %>
                    </div>
                    <div style="padding-bottom: 20px;">
                        <input type='button'
                               textscale=1.8
                               class='main_login_mobile_blue_button'
                               onclick='enter'
                               style='width: 230px;
                                      height: 71.37px;
                                      font-size: 15px;
                                      base-font-size: 15px;
                                      margin-left: 200px;
                                      margin-top: 20px;
                                      margin-bottom: 20px;
                                      color: #FFFFFF;'
                               value='<%= L"开始" %>' />
                    </div>
                </div>
            </pe:container>
            <pe:container alignment='_ct' name='login' visible='true' class='main_login_mobile_container_bg container_size'>
                <div style='width: 230px;
                            height: 60px;'
                            class='main_login_mobile_container_title_bg'>
                    <img style='width: 92px;
                                height: 40px;
                                margin-top: 10px;
                                margin-left: 30px;'
                         src='Texture/Aries/Creator/paracraft/paracraft_mobile_login_32bits.png#907 94 92 40' />
                </div>
                <pe:container name='login_with_phone_number'
                              visible='true'
                              style='background:;
                                     position: relative;
                                     margin-top: -20px;'>
                    <div>
                        <div style="margin-left: 440px;margin-bottom: 10px;">
                            <div style='position: relative;
                                        height: 1px;
                                        width: 108%;
                                        margin-top: 27px;
                                        background-color: #FFFFFF;'></div>
                            <div style='background:;
                                        font-size: 17px;
                                        base-font-size: 17px;
                                        color: #FFFFFF;'
                                 onclick='set_account_mode()'><%= L'使用密码登录' %></div>
                        </div>
                        <div style='margin-left: 75px;'>
                            <input type='text'
                                   CaretColor='#FFFFFFFF'
                                   spacing='10'
                                   MoveViewWhenAttachWithIME='true'
                                   class='main_login_mobile_textfield'
                                   name='phone_number'
                                   onchange='update_phone_login_button_status'
                                   EmptyText='<%= L"请输入手机号" %>'
                                   style='textcolor: #FFFFFF;
                                          text-valign: center;
                                          line-height: 30px;
                                          font-size: 22px;
                                          base-font-size: 22px;
                                          width: 480px;
                                          height: 55px;'/>
                        </div>
                        <div style='margin-top: 10px;margin-left: 75px;'>
                            <input type='button'
                                   zorder=1
                                   name='get_phone_captcha'
                                   onclick='get_phone_captcha'
                                   value='<%= L"获取验证码" %>'
                                   style='position: relative;
                                          min-width: 135px;
                                          height: 45px;
                                          margin-left: 342px;
                                          margin-top: 6px;
                                          color: #34B0FF;
                                          font-size: 19px;
                                          base-font-size: 19px;
                                          text-offset-y: -1;
                                          background: url(Texture/Aries/Creator/paracraft/paracraft_mobile_login_32bits.png#28 577 169 62)' />
                            <input type='text'
                                   CaretColor='#FFFFFFFF'
                                   spacing='10'
                                   name='phone_captcha'
                                   onchange='update_phone_login_button_status'
                                   MoveViewWhenAttachWithIME='true'
                                   class='main_login_mobile_textfield'
                                   EmptyText='<%= L"请输入验证码" %>'
                                   style='textcolor: #FFFFFF;
                                          text-valign: center;
                                          line-height: 30px;
                                          font-size: 22px;
                                          base-font-size: 22px;
                                          width: 480px;
                                          height: 55px;'/>
                        </div>
                        <div style='margin-top: 10px;margin-left: 75px;'>
                            <div>
                                <input type="checkbox"
                                       iconsize="18"
                                       CheckedBG="Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#275 79 12 12"
                                       UncheckedBG="Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#295 79 12 12"
                                       style="float:left;margin-top:4px;min-width:90px;"
                                       name="phone_agree"
                                       onclick='update_phone_login_button_status'
                                       checked="false"/>
                                <div style="float:left;
                                            color: white;
                                            base-font-size: 17px;
                                            font-size: 17px;
                                            margin-left: 4px;">
                                    <div for='phone_agree'
                                         style="float:left;">
                                        <%= L"我同意" %>
                                    </div>
                                    <div style="float:left;
                                                color: #EDB853"
                                         onclick="user_agreement()"><%= L"《用户许可协议》" %></div>
                                    <div for='phone_agree'
                                         style="float:left;">
                                        <%= L'与' %>
                                    </div>
                                    <div style="float:left;
                                                color: #EDB853"
                                         onclick="user_privacy()"><%= L"《用户隐私协议》" %></div>
                                    <div for='phone_agree'
                                         style="float:left;">
                                        <%= L"中的内容" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style='width: 480px;
                                    margin-top: 15px;
                                    margin-left: 75px;'>
                            <div width='100%'>
                                <input type='button'
                                       class='main_login_mobile_gray_button'
                                       textscale=1.8
                                       width='100%'
                                       style='color: #FFFFFF;
                                              height: 60px;
                                              font-size: 15px;
                                              base-font-size: 15px;'
                                       onclick='login_action'
                                       name='phone_login_button'
                                       value='<%= L"登录" %>' />
                            </div>
                            <div style='margin-top: 10px;'>
                                <div width='50%'
                                     style='float: left;
                                            padding-right: 8px;'>
                                    <input type='button'
                                           class='main_login_mobile_baby_blue_button'
                                           textscale=1.8
                                           width='100%'
                                           style='color: #FFFFFF;
                                                  height: 60px;
                                                  font-size: 15px;
                                                  base-font-size: 15px;'
                                           onclick='register'
                                           value='<%= L"注册" %>' />
                                </div>
                                <div width='50%'
                                     style='float: left;
                                            padding-left: 8px;'>
                                    <input type='button'
                                           class='main_login_mobile_baby_blue_button'
                                           textscale=1.8
                                           width='100%'
                                           style='color: #FFFFFF;
                                                  height: 60px;
                                                  font-size: 15px;
                                                  base-font-size: 15px;'
                                           onclick='local_mode'
                                           value='<%= L"本地模式" %>' />
                                </div>
                            </div>
                        </div>
                    </div>
                </pe:container>
                <pe:container name='login_with_account'
                              visible='false'
                              style='background:;
                                     position: relative;
                                     margin-top: -20px;'>
                    <div style='margin-left: 430px;margin-bottom: 10px;'>
                        <div>
                            <div style='position: relative;
                                        height: 1px;
                                        width: 124%;
                                        margin-top: 27px;
                                        background-color: #FFFFFF;'></div>
                            <div style='background:;
                                        font-size: 17px;
                                        base-font-size: 17px;
                                        color: #FFFFFF;'
                                 onclick='set_phone_mode()'><%= L'使用验证码登录' %></div>
                        </div>
                    </div>
                    <div style='margin-left: 75px;'>
                        <input type='text'
                               CaretColor='#FFFFFFFF'
                               spacing='10'
                               name='account'
                               onchange='update_login_button_status'
                               MoveViewWhenAttachWithIME='true'
                               class='main_login_mobile_textfield'
                               EmptyText='<%= L"请输入手机号/账号" %>'
                               style='textcolor: #FFFFFF;
                                      text-valign: center;
                                      line-height: 30px;
                                      font-size: 22px;
                                      base-font-size: 22px;
                                      width: 480px;
                                      height: 55px;'/>
                    </div>
                    <div style='margin-left: 75px;margin-top: 10px;'>
                        <input type='text'
                               CaretColor='#FFFFFFFF'
                               spacing='10'
                               onchange='update_login_button_status'
                               SkipAutoBadWordFilter='true'
                               MoveViewWhenAttachWithIME='true'
                               EmptyText='<%= L"请输入密码" %>'
                               style='textcolor: #FFFFFF;
                                      text-valign: center;
                                      line-height: 30px;
                                      font-size: 22px;
                                      base-font-size: 22px;
                                      width: 480px;
                                      height: 55px;'
                               name='password_show'
                               class='main_login_mobile_textfield' />
                        <input type='text'
                               CaretColor='#FFFFFFFF'
                               spacing='10'
                               onchange='update_login_button_status'
                               PasswordChar='*'
                               SkipAutoBadWordFilter='true'
                               MoveViewWhenAttachWithIME='true'
                               EmptyText='<%= L"请输入密码" %>'
                               style='textcolor: #FFFFFF;
                                      text-valign: center;
                                      line-height: 30px;
                                      font-size: 22px;
                                      base-font-size: 22px;
                                      width: 480px;
                                      height: 55px;
                                      margin-left: -480px;'
                               name='password_hide'
                               class='main_login_mobile_textfield' />
                        <input type='hidden' name='password' value='' />
                        <input name='show_or_hide_password_button'
                               type='checkbox'
                               checked='false'
                               iconsize='35'
                               style='margin-left: -50px;
                                      margin-top: 10px;'
                               CheckedBG='Texture/Aries/Creator/paracraft/paracraft_mobile_login_32bits.png#909 151 35 35'
                               UncheckedBG='Texture/Aries/Creator/paracraft/paracraft_mobile_login_32bits.png#969 147 35 35'
                               onclick='set_password_show_or_hide' />
                    </div>
                    <div style='margin-top: 10px;margin-left: 75px;'>
                        <div>
                            <input type="checkbox"
                                   iconsize="18"
                                   CheckedBG="Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#275 79 12 12"
                                   UncheckedBG="Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#295 79 12 12"
                                   style='float: left;
                                          margin-top: 4px;
                                          min-width: 90px;'
                                   name='account_agree'
                                   onclick='update_login_button_status'
                                   checked="false"/>
                            <div style="float:left;
                                        color: white;
                                        base-font-size: 17px;
                                        font-size: 17px;
                                        margin-left: 4px;">
                                <div for='account_agree'
                                     style="float:left;">
                                    <%= L"我同意" %>
                                </div>
                                <div style="float:left;color: #EDB853" onclick="user_agreement()"><%= L"《用户许可协议》" %></div>
                                <div for='account_agree'
                                     style="float:left;">
                                    <%= L'与' %>
                                </div>
                                <div style="float:left;color: #EDB853" onclick="user_privacy()"><%= L"《用户隐私协议》" %></div>
                                <div for='account_agree'
                                     style="float:left;">
                                    <%= L"中的内容" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style='width: 480px;
                                margin-top: 15px;
                                margin-left: 75px;'>
                        <div width='100%'>
                            <input type='button'
                                   class='main_login_mobile_gray_button'
                                   textscale=1.8
                                   width='100%'
                                   style='color: #FFFFFF;
                                          height: 60px;
                                          font-size: 15px;
                                          base-font-size: 15px;'
                                   name='login_button'
                                   onclick='login_with_password_action'
                                   value='<%= L"登录" %>' />
                        </div>
                        <div style='margin-top: 10px;'>
                            <div width='50%'
                                    style='float: left;
                                        padding-right: 8px;'>
                                <input type='button'
                                        class='main_login_mobile_baby_blue_button'
                                        textscale=1.8
                                        width='100%'
                                        style='color: #FFFFFF;
                                                height: 60px;
                                                font-size: 15px;
                                                base-font-size: 15px;'
                                        onclick='register'
                                        value='<%= L"注册" %>' />
                            </div>
                            <div width='50%'
                                    style='float: left;
                                        padding-left: 8px;'>
                                <input type='button'
                                        class='main_login_mobile_baby_blue_button'
                                        textscale=1.8
                                        width='100%'
                                        style='color: #FFFFFF;
                                                height: 60px;
                                                font-size: 15px;
                                                base-font-size: 15px;'
                                        onclick='local_mode'
                                        value='<%= L"本地模式" %>' />
                            </div>
                        </div>
                    </div>
                </pe:container>
            </pe:container>
        </pe:mcml>
    </body>
</html>
