<html>
    <body> 
        <pe:mcml>
            <script type="text/npl">
                <![CDATA[
                    -- bottles
                    local MainLogin = NPL.load('(gl)Mod/WorldShare/cellar/MainLogin/MainLogin.lua')
                    local MySchool = NPL.load('(gl)Mod/WorldShare/cellar/MySchool/MySchool.lua')

                    -- service
                    local KeepworkServiceSession = NPL.load('(gl)Mod/WorldShare/service/KeepWorkService/Session.lua')
                    local EventTrackingService = NPL.load('(gl)Mod/WorldShare/service/EventTracking.lua')

                    -- helper
                    local Validated = NPL.load('(gl)Mod/WorldShare/helper/Validated.lua')

                    local page = document:GetPageCtrl()

                    local be_show_password = false
                    local account_agree = true
                    local phone_agree = true
                    local is_clicked_get_phone_captcha = false
                    local phone_show_field = ''
                    local b_next_button_right = true
                    local phone_account_exist = false

                    function close()
                        local MainLoginUpdatePassword = Mod.WorldShare.Store:Get('page/Mod.WorldShare.cellar.MainLogin.UpdatePassword')

                        if MainLoginUpdatePassword then
                            MainLoginUpdatePassword:CloseWindow()
                        end
                    end

                    function back()
                        close()
                        MainLogin:ShowLogin()
                    end

                    function update_password()
                        local cur_password = page:GetValue("cur_password") or ""
                        local new_password = page:GetValue("new_password") or ""
                        local new_password_again = page:GetValue("new_password_again") or ""
                        if cur_password == "" then
                            _guihelper.MessageBox(L'请输入当前密码')
                            return
                        end

                        if new_password == "" then
                            _guihelper.MessageBox(L'请输入新的密码')
                            return
                        end

                        if new_password_again == "" then
                            _guihelper.MessageBox(L'请再次输入需要设置的新密码')
                            return
                        end

                        if new_password ~= new_password_again then
                            _guihelper.MessageBox(L'两次输入的密码不一致，请检查输入是否有误。')
                            return
                        end

                        if new_password == cur_password then
                            _guihelper.MessageBox(L'新密码与旧密码一致，请检查输入是否有误。')
                            return
                        end

                        if not Validated:Password(new_password) then
                            _guihelper.MessageBox(L'新密码不合法。')
                            return
                        end

                        local PWDInfo = KeepworkServiceSession:LoadSigninInfo()
                        if PWDInfo and PWDInfo.password ~= cur_password then
                            --_guihelper.MessageBox(L'输入的当前密码不正确，请检查输入是否有误。')
                            --return
                        end
                        
                        keepwork.user.pwd({
                            password=new_password,
                            oldpassword = cur_password,
                        }, function(err, msg, data)
                            if data == true then
                                _guihelper.MessageBox(L'修改密码成功，请重新登录')
                                KeepworkServiceSession:Logout(nil, function()
                                    Mod.WorldShare.MsgBox:Close()
                                    close()
                                    MainLogin:ShowLogin()
                                end)
                                --Mod.WorldShare.Utils.ShowWindow(0, 0, "Mod/WorldShare/cellar/Common/KickOut/KickOut.html?reason=2", "Mod.WorldShare.Common.KickOut", 0, 0, "_fi", false, 1000)
                            else
                                _guihelper.MessageBox(L'修改密码失败，请确认当前密码是否正确')
                            end
                        end)
                    end

                    function parent()
                        EventTrackingService:Send(1, 'click.main_login.select_parents', nil, true)
                        MainLogin:ShowParent()
                    end

                    function on_click_exit()
                        MainLogin:Exit()
                    end
                ]]>
            </script>
            <style type="text/mcss" src='Mod/WorldShare/cellar/Theme/Mcss/MainLoginMcss.mcss'>
                {
                    container_size = {
                        ['margin-left'] = -160,
                        ['margin-top'] = -100,
                        background = 'Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#602 12 339 382:80 80 80 80'
                    },
                    main_area = {
                        width = 320,
                        ['min-height'] = 320,
                        ["base-font-size"] = 16,
                        ["font-size"] = 16,
                        color = "#ffffff",
                        ["padding-top"] = 20,
                        ["padding-left"] = 40,
                        ["padding-right"] = 40,
                    },
                }
            </style>
            <pe:container
                alignment='_lt'
                zorder='-1'
                width='100px'
                height='100px'
                style='position: relative; background:;'>
                <div align='left'
                    style='width: 55px;
                        margin-left: 20px;
                        margin-top: 20px;'>
                    <input type='button'
                        style='width: 55px;
                            height: 59px;
                            background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#533 8 55 59)'
                            onclick="parent"/>
                </div>
            </pe:container>
            <pe:container
                alignment='_rt'
                zorder='-1'
                width='100px'
                height='100px'
                style='position: relative; background:;'>
                <div style='width: 80px;
                        margin-right: 18px;
                        margin-top: 20px;'>
                    <input type='button'
                        style='width: 80px;height: 44px;background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#281 885 81 44)'
                        onclick='on_click_exit' />
                </div>
            </pe:container>
            <pe:container alignment='_ct' ClickThrough='true' class='main_login_container_bg container_size'>
                <div style='padding-top: 12px;padding-left: 18px;'>
                    <div class='main_login_title_bg' style='float: left;width: 172px;height: 49px;'>
                        <img style='margin-top: 13px;margin-left: 6px;width: 110px;height: 24px;' src='Texture/Aries/Creator/paracraft/login/zi_110X24_32bits.png#0 0 110 24' />
                    </div>
                    <div style='float: left;margin-left: 70px;margin-top: 10px;'>
                        <input type='button' class='main_login_back_button' onclick="back"/>
                    </div>
                </div>
                <div class='main_area'>
                    <!-- register finish -->
                    <pe:container name='register_not_finish' visible='true' style='width: 240px;height: 260px;background:;'>
                        <div style='background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#968 800 36 66:13 13 13 13);
                                    width: 240px;
                                    height: 152px;
                                    padding-left: 12px;
                                    padding-right: 12px;
                                    padding-top: 10px;'>
                            <div>
                                <input type='text'
                                       name='cur_password'
                                       enable_ime='false'
                                       onchange=''
                                       style='height: 35px;
                                              text-valign: center;
                                              background:;
                                              textcolor: #FFFFFF;'
                                       EmptyText='<%= L"请输入当前密码" %>' />
                            </div>
                            <div width='100%' style='height: 1px;
                                                     background-color: #2F3237;
                                                     margin-top: 4px;
                                                     margin-bottom: 4px;'></div>
                            <div>
                                <input type='text'
                                       name='new_password'
                                       enable_ime='false'
                                       onchange=''
                                       style='height: 35px;
                                              text-valign: center;
                                              background:;
                                              textcolor: #FFFFFF;'
                                       EmptyText='<%= L"请输入新的密码" %>' />
                            </div>

                            <div width='100%' style='height: 1px;
                                                     background-color: #2F3237;
                                                     margin-top: 4px;
                                                     margin-bottom: 4px;'></div>
                            <div>
                                <input type='text'
                                       name='new_password_again'
                                       enable_ime='false'
                                       onchange=''
                                       style='height: 35px;
                                              text-valign: center;
                                              background:;
                                              textcolor: #FFFFFF;'
                                       EmptyText='<%= L"请再次输入需要设置的新密码" %>' />
                            </div>
                        </div>
                        <div>
                            <input type="button"
                                    name='account_register_button'
                                    class="main_login_blue_button"
                                    style="margin-top: 70px;"
                                    onclick="update_password()"
                                    value='<%= L"确认修改"%>' />
                        </div>
                    </pe:container>
                    <pe:container name='register_finish' visible='false' style='position: relative;width: 240px;height: 260px;margin-top: -260px;background:;'>
                        <div>
                            <div style="margin-top: 10px;width: 240px;height: 25.26px;background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#287 269 247 26)"></div>
                            <div style="margin-top: 10px;width: 240px;height: 24.56px;background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#470 891 254 26)"></div>
                            <div style="margin-top: 25px;width: 240px;height: 86.25px;background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#9 242 256 92)">
                                <div style="margin-left: 65px;margin-top: 11px;">
                                    <input type='text'
                                           name='account_result'
                                           style='width: 160px;
                                                  height: 28px;
                                                  font-weight: bolder;
                                                  base-font-size: 16px;
                                                  font-size: 16px;
                                                  text-singleline: true;
                                                  background:;' value='' />
                                </div>
                                <div style="margin-left: 65px;margin-top: 12px;">
                                    <input type='text'
                                           name='password_result'
                                           style='width: 160px;
                                                  height: 28px;
                                                  font-weight: bolder;
                                                  base-font-size: 16px;
                                                  font-size: 16px;
                                                  text-singleline: true;
                                                  background:;' value='' />
                                </div>
                            </div>
                            <div style="margin-top: 12px;">
                                <div style="margin-left: 8px;color:#FFFFFF">回家后可登录paracraft.cn安装帕拉卡</div>
                                <input type="button"
                                       class="main_login_green_button"
                                       style="margin-top: 10px"
                                       onclick="finish()"
                                       value='<%= L"已完成"%>' />
                            </div>
                        </div>
                    </pe:container>
                </div>
            </pe:container>
        </pe:mcml>
    </body>
</html>