<html>
<body>
    <pe:mcml>
        <script type='text/npl'>
            <![CDATA[
                local VersionChange = NPL.load('./VersionChange.lua')

                VersionChange.SetPage()
                
                function get_source()
                    return VersionChange:GetAllRevision()
                end

                function version_button()
                    local isActive = Eval("isActive")
                    local isActiveFull = Eval("isActiveFull")
                    local style = ""

                    if isActive then
                        style = style .. 'background:Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#208 89 21 21:8 8 8 8;'
                    else
                        style = style .. 'background:Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#179 89 21 21:8 8 8 8;'
                    end

                    if isActiveFull then
                        style = style .. 'font-weight:bold'
                    end

                    return style
                end

                function get_value()
                    local currentRevision = Eval('revision')

                    return format(
                            '%s： %s  %s：%s ID: %s',
                            L'日期',
                            tostring(Eval('date')),
                            L'版本',
                            tostring(currentRevision),
                            tostring(Eval('shortId'))
                        )
                end

                function get_window_style()
                    return Mod.WorldShare.Utils.FixCenter(300, 400)
                end

                function select_version(index)
                    VersionChange:SelectVersion(index)
                end

                function close()
                    VersionChange.ClosePage()
                end
            ]]>
        </script>
        <style type='text/mcss'>
            {
                button = {
                    width = 340,
                    height = 30,
                    color = "#FFFFF",
                    textcolor = "#FFFFFF",
                    ["margin-bottom"] = 10
                }
            }
        </style>
        <kp:window
            width='400'
            height='400'
            style='<%= get_window_style() %>'
            title='<%= L"版本切换" %>'
            onclose='close()'>
            <div style='height: 40px;'></div>
            <div width='340'
                 height='340'
                 align='center'
                 style='margin-top: 10px;'>
                <pe:gridview DataSource='<%= get_source() %>'>
                    <Columns>
                        <input type="button"
                                onclick="select_version"
                                class="button"
                                value='<%=get_value()%>'
                                name='<%=Eval("index")%>'
                                style='<%=version_button()%>' />
                    </Columns>
                </pe:gridview>
            </div>
        </kp:window>
    </pe:mcml>
</body>
</html>