.vs
npl_packages
*.db
*.opendb
*.user
*.sdf
*.suo
*.log
*.txt
Debug
obj/
bin/
*.DS_Store
.DS_Store
Mod/WorldShare/SyncToy_7936c3cc-8e7c-4b2a-870d-bcdd2ae75dea.dat
Mod/WorldShare/SyncToy_a44e006a-fb96-4f1a-b45f-eaed953ea6fe.dat
