<html>
    <body>
        <pe:mcml>
            <script type="text/npl" refresh="false">
                <![CDATA[
                    local Validated = NPL.load("(gl)Mod/WorldShare/helper/Validated.lua")
                    KeepworkServiceSession = NPL.load("(gl)Mod/WorldShare/service/KeepworkService/Session.lua")
                    RegisterModal = NPL.load("./RegisterModal.lua")

                    page = document:GetPageCtrl()
                    Mod.WorldShare.Store:Set('page/RegisterModal', page)
                    local accountExist = true
                    local phonenumberExist = true

                    KeepworkServiceSession:FetchCaptcha(function() page:Refresh(0.01) end)

                    function close()
                        page:CloseWindow()
                    end

                    function get_server_list()
                        return RegisterModal:GetServerList()
                    end

                    function is_english()
                        return Mod.WorldShare.Utils.IsEnglish()
                    end

                    function get_english_style(styleStr)
                        if is_english() then
                            return styleStr
                        else
                            return ''
                        end
                    end

                    function register()
                        if accountExist then
                            GameLogic.AddBBS(nil, L"用户名已存在", 3000, "255 0 0")
                            return false
                        end

                        local account = page:GetValue("account")
                        local password = page:GetValue("password")
                        local captcha = page:GetValue("captcha")
                        local agree = page:GetValue("agree")

                        if not agree then
                            GameLogic.AddBBS(nil, L"您未同意用户协议", 3000, "255 0 0")
                            return false
                        end

                        if not account or account == "" then
                            GameLogic.AddBBS(nil, L"账号不能为空", 3000, "255 0 0")
                            return false
                        end

                        if #password < 6 then
                            GameLogic.AddBBS(nil, L"密码最少为6位", 3000, "255 0 0")
                            return false
                        end

                        if not captcha or captcha == "" then
                            GameLogic.AddBBS(nil, L"验证码不能为空", 3000, "255 0 0")
                            return false
                        end

                        RegisterModal.account = account
                        RegisterModal.password = password
                        RegisterModal.captcha = captcha
                        RegisterModal.agree = agree
                        RegisterModal.phonenumber = ""
                        RegisterModal.phonecaptcha = ""
                        RegisterModal.bindphone = nil

                        RegisterModal:Register(page)
                    end

                    function get_captcha()
                        return KeepworkServiceSession:GetCaptcha()
                    end

                    function update_captcha()
                        KeepworkServiceSession:FetchCaptcha(function()
                            local account = page:GetValue('account')
                            local password = page:GetValue('password')
                            page:Refresh(0.01)
                            page:SetValue('account', account)
                            page:SetValue('password', password)
                        end)
                    end

                    local isClickedGetPhoneCaptcha = false

                    function get_phone_captcha()
                        if #page:GetValue("phonenumber") ~= 11 then
                            GameLogic.AddBBS(nil, L"手机号码位数不对", 3000, "255 0 0")
                            return false
                        end

                        if phonenumberExist then
                            GameLogic.AddBBS(nil, L"手机号已存在", 3000, "255 0 0")
                            return false
                        end

                        if isClickedGetPhoneCaptcha then
                           return false 
                        end

                        isClickedGetPhoneCaptcha = true

                        local times = 60

                        local timer = commonlib.Timer:new({
                            callbackFunc = function(timer)
                                page:SetValue("getPhonecaptcha", format("%s(%ds)", L"重新发送", times))

                                if times == 0 then
                                    isClickedGetPhoneCaptcha = false
                                    page:SetValue("getPhonecaptcha", L"获取验证码")
                                    timer:Change(nil, nil)
                                end

                                times = times - 1
                            end
                        })

                        KeepworkServiceSession:GetPhoneCaptcha(page:GetValue("phonenumber"), function(data, err)
                            if err == 400 and data and data.code and data.message then
                                isClickedGetPhoneCaptcha = false
                                page:SetValue("getPhonecaptcha", L"获取验证码")
                                GameLogic.AddBBS(nil, format("%s%s(%d)", L"获取验证码失败，错误信息：", data.message, data.code), 3000, "255 0 0")
                                timer:Change(nil, nil)
                            end
                        end)

                        timer:Change(1000, 1000)
                    end

                    local beShowPassword = false

                    function set_show_password()
                        local account = page:GetValue('account')
                        local password = page:GetValue('password')
                        local phonenumber = page:GetValue('phonenumber')
                        local phonepassword = page:GetValue('phonepassword')
                        local captcha = page:GetValue('captcha')
                        local phonecaptcha = page:GetValue('phonecaptcha')
                        local checkboxPassword = page:GetNode('checkboxPassword'):GetAttribute("checked")
                        local checkboxPhonePassword = page:GetNode('checkboxPhonePassword'):GetAttribute("checked")
                        
                        if checkboxPassword == "false" then
                            checkboxPassword = "true"
                            checkboxPhonePassword = "true"
                        elseif checkboxPassword == "true" then
                            checkboxPassword = "false"
                            checkboxPhonePassword = "false"
                        end

                        beShowPassword = not beShowPassword

                        if beShowPassword then
                            page:GetNode('password'):SetAttribute('PasswordChar', nil)
                            page:GetNode('phonepassword'):SetAttribute('PasswordChar', nil)
                        else
                            page:GetNode('password'):SetAttribute('PasswordChar', "*")
                            page:GetNode('phonepassword'):SetAttribute('PasswordChar', "*")
                        end

                        page:Refresh(0.01)
                        page:SetValue('account', account)
                        page:SetValue('password', password)
                        page:SetValue('phonenumber', phonenumber)
                        page:SetValue('phonepassword', phonepassword)
                        page:SetValue('captcha', captcha)
                        page:SetValue('phonecaptcha', phonecaptcha)

                        page:GetNode('checkboxPassword'):SetAttribute('checked', checkboxPassword)
                        page:GetNode('checkboxPhonePassword'):SetAttribute('checked', checkboxPhonePassword)
                    end

                    function user_agreement()
                        RegisterModal:ShowUserAgreementPage()
                    end

                    function show_notice()
                        page:FindControl('notice').visible = true
                    end

                    function hide_notice()
                        page:FindControl('notice').visible = false

                        local username = page:GetValue("account")

                        if not username or #username == 0 then
                            return false
                        end

                        KeepworkServiceSession:CheckUsernameExist(username, function(bIsExist)
                            if bIsExist then
                                accountExist = true
                                GameLogic.AddBBS(nil, L"用户名已存在", 3000, "255 0 0")
                            else
                                accountExist = false
                            end
                        end)
                    end

                    function set_personal_web(name, mcmlNode)
                        local personal_web_path = mcmlNode:GetUIValue()
                        page:SetUIValue('personalweb', 'https://keepwork.com/u/' .. personal_web_path)
                    end

                    function get_notice_english_style()
                        if Mod.WorldShare.Utils.IsEnglish() then
                            return "margin-top:-160px;margin-left: 23px; width: 320px; height: 120px;padding: 8px;font-size: 12px;background: url(textures/worldshare_32bits.png#72 20 16 16:3 3 3 3);"
                        else
                            return "margin-top:-140px;margin-left: 20px; width: 290px; height: 100px;padding: 8px;font-size: 12px;background: url(textures/worldshare_32bits.png#72 20 16 16:3 3 3 3);"
                        end
                    end

                    function set_mode(mode)
                        RegisterModal.account = page:GetValue("account")
                        RegisterModal.password = page:GetValue("password")
                        RegisterModal.phonepassword = page:GetValue("phonepassword")
                        RegisterModal.captcha = page:GetValue("captcha")
                        RegisterModal.phonenumber = page:GetValue("phonenumber")
                        RegisterModal.phonecaptcha = page:GetValue("phonecaptcha")

                        if mode == 'account_mode' then
                            RegisterModal.m_mode = "account"
                        end

                        if mode == 'phonenumber_mode' then
                            RegisterModal.m_mode = "phonenumber"
                        end

                        page:Rebuild()

                        page:SetValue("account", RegisterModal.account)
                        page:SetValue("password", RegisterModal.password)
                        page:SetValue("phonepassword", RegisterModal.phonepassword)
                        page:SetValue("captcha", RegisterModal.captcha)
                        page:SetValue("phonenumber", RegisterModal.phonenumber)
                        page:SetValue("phonecaptcha", RegisterModal.phonecaptcha)

                        page:Refresh(0.01)
                    end

                    function get_mode_active_style(mode) 
                        if mode == RegisterModal.m_mode then
                            return "background: Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#208 89 21 21:8 8 8 8";
                        else
                            return "background: Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#179 89 21 21:8 8 8 8;"
                        end
                    end

                    function next()
                        local phonenumber = page:GetValue("phonenumber")
                        local phonecaptcha = page:GetValue("phonecaptcha")
                        local phonepassword = page:GetValue("phonepassword")

                        if not Validated:Phone(phonenumber) then
                            GameLogic.AddBBS(nil, L"手机格式错误", 3000, "255 0 0")
                            return false
                        end
 
                        if #phonecaptcha == 0 then
                            GameLogic.AddBBS(nil, L"手机验证码不能为空", 3000, "255 0 0")
                            return false
                        end

                        if #phonepassword < 6 then
                            GameLogic.AddBBS(nil, L"密码最少为6位", 3000, "255 0 0")
                            return false
                        end

                        if phonenumberExist then
                            GameLogic.AddBBS(nil, L"手机号已存在", 3000, "255 0 0")
                            return false
                        end

                        RegisterModal.phonenumber = phonenumber
                        RegisterModal.phonecaptcha = phonecaptcha
                        RegisterModal.phonepassword = phonepassword

                        page:CloseWindow()
                        local params = Mod.WorldShare.Utils.ShowWindow(360, 230, "Mod/WorldShare/cellar/RegisterModal/SetUsername.html", "RegisterModal/SetUsername")

                        params._page:SetValue("account", RegisterModal.account)
                    end

                    function check_phone_number(pn)
                        local phonenumber
                        
                        if page:GetValue("phonenumber") and #page:GetValue("phonenumber") > 0 then
                            phonenumber = page:GetValue("phonenumber")
                        else
                            phonenumber = pn
                        end

                        if not Validated:Phone(phonenumber) then
                            return false
                        end

                        KeepworkServiceSession:CheckPhonenumberExist(phonenumber, function(bIsExist)
                            if bIsExist then
                                phonenumberExist = true
                                GameLogic.AddBBS(nil, L"手机号已存在", 3000, "255 0 0")
                            else
                                phonenumberExist = false
                            end
                        end)
                    end

                    check_phone_number(RegisterModal.phonenumber)
                ]]>
            </script>
            <style type="text/mcss">
                {
                    user_register = {
                        ["base-font-size"] = 16,
                        ["font-size"] = 16,
                        ["padding-right"] = 30,
                        ["padding-left"] = 30,
                        ["padding-top"] = 10,
                        ["padding-bottom"] = 20,
                        color = '#ffffff'
                        textcolor = '#ffffff'
                    },
                    text_field = {
                        background = "textures/worldshare_32bits.png;72 20 16 16:3 3 3 3",
                        border = "none",
                        width = 205
                    },
                    common_button = {
                        width = 130,
                        height = 33,
                        textcolor = "#000000",
                        color = "#000000",
                        ["font-size"] = 18
                    },
                    mode_button = {
                        height = 30,
                        color = "#FFFFFF",
                    }
                }
            </style>
            <aries:window mode="thin" width="360" style="float:left;" title_height="40" close_height="25" title='<%=L"注册" %>' onclose="close()">
                <div name="register" class="user_register">
                    <div style="padding-left: 75px;padding-top: 10px;padding-bottom: 10px;">
                        <input type="button"
                               style="<%= get_mode_active_style('account') %>"
                               class="mode_button"
                               value="账号注册"
                               name="account_mode"
                               onclick="set_mode"/>
                        <input type="button"
                               style="<%= get_mode_active_style('phonenumber') %>"
                               class="mode_button"
                               value="手机号注册"
                               name="phonenumber_mode"
                               onclick="set_mode"/>
                    </div>
                    <div style="margin-bottom:12px;"><%=L"填写基本注册信息"%></div>
                    <pe:if condition="<%= RegisterModal.m_mode == 'account'%>">
                        <div style="margin-bottom:12px;">
                            <div style="<%='float:left;min-width:65px;' .. get_english_style('min-width:80px;') %>"><%= L"账户：" %></div>
                            <input type="text"
                                   class="bbs_text text_field"
                                   onfocusin="show_notice()"
                                   onfocusout="hide_notice()"
                                   onchange="set_personal_web"
                                   EmptyText='<%= L"请输入账号" %>'
                                   style="height: 30px;"
                                   name="account" />
                            <pe:container name="notice" visible="false" style="display:none;position:relative;background:">
                                <div style="<%= get_notice_english_style() %>">
                                    <div><%= L'账户名注册成功不可更改' %></div>
                                    <div><%= L'推荐使用英文字母、数字组合（例如：keep123）' %></div>
                                    <div><%= L'系统默认网址地址：' %></div>
                                    <div>
                                        <pe:label name="personalweb" value="https://keepwork.com/u/" style="color:#409eff;font-size:12px;" />
                                    </div>
                                </div>
                            </pe:container>
                        </div>
                        <div style="margin-bottom:12px;">
                            <div style="<%='float:left;min-width:65px;' .. get_english_style('min-width:80px;') %>"><%= L"密码：" %></div>
                            <input type="text" PasswordChar="*" class="bbs_text text_field" EmptyText='<%= L"请输入密码" %>' style="height: 30px;" name="password" />
                            <input name="checkboxPassword" type="checkbox" checked="false" iconsize="22" style="position: relative;margin-left: -25px;margin-top: 5px;" CheckedBG="Texture/Aries/Common/Teen/map/players_shown_32bits.png;0 0 22 22" UncheckedBG="Texture/Aries/Common/Teen/map/players_hidden_32bits.png;0 0 22 22" onclick="set_show_password"/>
                        </div>
                        <div style="margin-bottom:12px;">
                            <div style="<%='float:left;min-width:65px;' .. get_english_style('min-width:80px;') %>"><%= L"验证码：" %></div>
                            <input type="text" class="bbs_text text_field" EmptyText='<%= L"请输入验证码" %>' style="<%= 'height: 30px;width: 100px;' .. get_english_style('width:140px;') %>" name="captcha" />
                            <div style="float:left;background-color: #e9f4ff;margin-left: 5px;width: 60px; height: 30px;padding: 4px;">
                                <img style="height: 26px;width: 56px;" src="<%= get_captcha() %>" onclick="update_captcha()"/>
                            </div>
                        </div>
                        <div style="margin-top: 5px;margin-bottom: 5px;">
                            <input type="checkbox" style="float:left;margin-top:3px;min-width:90px;" name="agree" checked="checked"/>
                            <div style="float:left; color: white;font-size: 12px;margin-top:1px;">
                                <div style="float:left;width: 2px;"></div>
                                <%= L"我同意" %>
                                <div style="float:left;color: #fe5927" onclick="user_agreement()"><%= L"《Paracraft用户协议》" %></div>
                                <%= L"中的内容" %>
                            </div>
                        </div>
                        <div>
                            <input type="button" DefaultButton="true" class="common_button mc_light_grey_button_with_fillet" style="margin-top: 10px;margin-left:70px;width: 140px;" onclick="register()" value='<%= L"注册"%>' />
                        </div>
                    </pe:if>
                    <pe:if condition="<%= RegisterModal.m_mode == 'phonenumber' %>">
                        <div style="margin-bottom:12px;">
                            <div style="<%='float:left;min-width:65px;' .. get_english_style('min-width:120px;') %>"><%= L"手机号：" %></div>
                            <input type="text"
                                   class="bbs_text text_field"
                                   EmptyText='<%= L"请输入密码" %>'
                                   style="<%= 'height: 30px;'  .. get_english_style('width:160px;') %>"
                                   onfocusout="check_phone_number()"
                                   name="phonenumber" />
                        </div>
                        <div style="margin-bottom:12px;">
                            <div style="<%='float:left;min-width:65px;' .. get_english_style('min-width:75px;') %>"><%= L"验证码：" %></div>
                            <input type="text" class="bbs_text text_field" EmptyText='<%= L"请输入验证码" %>' style="height: 30px;width: 100px;" name="phonecaptcha" />
                            <input
                                type="button"
                                name="getPhonecaptcha"
                                DefaultButton="true"
                                class="mc_light_grey_button_with_fillet"
                                style="margin-left:5px;width: 100px;height:30px;"
                                onclick="get_phone_captcha()"
                                disabled="disabled"
                                value='<%= L"获取验证码"%>'
                            />
                        </div>
                        <div style="margin-bottom:12px;">
                            <div style="<%='float:left;min-width:65px;' .. get_english_style('min-width:120px;') %>"><%= L"密码：" %></div>
                            <input type="text" PasswordChar="*" class="bbs_text text_field" EmptyText='<%= L"请输入密码" %>' style="<%= 'height: 30px;'  .. get_english_style('width:160px;') %>" name="phonepassword" />
                            <input name="checkboxPhonePassword"
                                   type="checkbox"
                                   checked="false"
                                   iconsize="22"
                                   style="position: relative;margin-left: -25px;margin-top: 5px;"
                                   CheckedBG="Texture/Aries/Common/Teen/map/players_shown_32bits.png;0 0 22 22"
                                   UncheckedBG="Texture/Aries/Common/Teen/map/players_hidden_32bits.png;0 0 22 22"
                                   onclick="set_show_password"/>
                        </div>
                        <div>
                            <input type="button" DefaultButton="true" class="common_button mc_light_grey_button_with_fillet" style="margin-top: 10px;margin-left:70px;width: 140px;" onclick="next()" value='<%= L"下一步"%>' />
                        </div>
                    </pe:if>
                </div>
            </aries:window>
        </pe:mcml>
    </body>
</html>