<html>
<body>
    <pe:mcml>
        <script type="text/npl">
            <![CDATA[
                local UniString = commonlib.gettable("System.Core.UniString")

                local MySchool = NPL.load("./MySchool.lua")
                local KeepworkService = NPL.load("(gl)Mod/WorldShare/service/KeepworkService.lua")
                local page = document:GetPageCtrl()
                local global_type = type

                function close()
                    page:CloseWindow()
                end

                function has_joined(index)
                    if not MySchool or global_type(MySchool.hasJoined) ~= "boolean" then
                        return false
                    end

                    if index == 1 then
                        if MySchool.hasJoined then
                            return true
                        else
                            return false
                        end
                    end

                    if index == 2 then
                        if MySchool.hasJoined then
                            return false
                        else
                            return true
                        end
                    end
                end

                function join_school()
                    MySchool:ShowJoinSchool()
                    close()
                end

                function join_institute()
                    MySchool:ShowJoinInstitute()
                    close()
                end

                function enter_school()
                    close()
                    local ParacraftLearningRoomDailyPage = NPL.load("(gl)script/apps/Aries/Creator/Game/Tasks/ParacraftLearningRoom/ParacraftLearningRoomDailyPage.lua")
                    ParacraftLearningRoomDailyPage.OnLearningLand()
                end

                function get_data()
                    local data = {}

                    if MySchool.schoolData and global_type(MySchool.schoolData) == "table" and MySchool.schoolData.id then
                        MySchool.schoolData.showType = 1

                        data[#data + 1] = MySchool.schoolData
                    end

                    if MySchool.orgData and global_type(MySchool.orgData) == "table" then
                        for key, item in ipairs(MySchool.orgData) do
                            item.showType = 2

                            data[#data + 1] = item
                        end
                    end

                    return data
                end

                function has_school_joined()
                    if MySchool.schoolData and MySchool.schoolData.regionId then
                        return true
                    else
                        return false
                    end
                end

                function open_org_page(index)
                    local data = get_data()
                    local curData = data[index] or {}

                    if not curData or not curData.orgUrl then
                        return
                    end

                    local url = KeepworkService:GetKeepworkUrl() .. "/org/" .. curData.orgUrl .. "/index"

                    ParaGlobal.ShellExecute("open", url, "", "", 1)
                end

                function get_place(region) 
                    if region and region.state and region.state.name then
                        return region.state.name
                    else
                        return L"暂无"
                    end
                end

                function get_name()
                    local cur_name = Eval('name')

                    if not cur_name or cur_name == "" then
                        return ""
                    end

                    if _guihelper.GetTextWidth(cur_name) > 80 then
                        local function chsize(char)
                            if not char then
                                return 0
                            elseif char > 240 then
                                return 4
                            elseif char > 225 then
                                return 3
                            elseif char > 192 then
                                return 2
                            else
                                return 1
                            end
                        end

                        local len = 0
                        local count = 0
                        local currentIndex = 1

                        while currentIndex <= #cur_name do
                            local charsizenum = chsize(string.byte(cur_name, currentIndex))

                            currentIndex = currentIndex + charsizenum

                            if len >= 16 then
                                break
                            end

                            if charsizenum ~= 0 then
                                count = count + 1

                                if charsizenum >= 3 then
                                    len = len + 3.2
                                else
                                    len = len + 1.5
                                end
                            end
                        end

                        cur_name = UniString:new(cur_name):sub(1, count).text .. '...'
                    end

                    return cur_name
                end
            ]]>
        </script>
        <style type="text/mcss">
            {
                join_school_bg = {
                    color = '#000000',
                    background = "Texture/Aries/Creator/keepwork/worldshare_32bits.png;149 104 16 16:4 4 4 4",
                },
                click = {
                    position = 'relative',
                    width = 260,
                    height = 100,
                    background = ''
                }
            }
        </style>
        <aries:window mode="thin" title='<%=L"我的学校"%>' onclose="close()">
            <div width="100%" height="100%">
                <div><%=L"我的学校"%></div>
                <pe:if condition="<%= has_joined(1) %>">
                    <div style="padding: 20px;">
                        <div style="color: white;height: 220px;;margin-bottom: 10px">
                            <pe:gridview
                                RememberScrollPos="true"
                                AllowPaging="false"
                                VerticalScrollBarStep="50"
                                DefaultNodeHeight="85"
                                ItemsPerLine="2"
                                DataSource="<%= get_data() %>"
                            >
                                <Columns>
                                    <pe:if condition="<%= Eval('showType') == 1%>">
                                        <div style="width: 260px;height: 100px;background-color: #333333;float: left;margin-bottom: 10px;margin-right: 10px;">
                                            <input type="button" class="click" name='<%=Eval("index")%>' onclick="enter_school" />
                                            <div style="float:left; margin-left: 10px;margin-top: 10px;">
                                                <div style="width: 120px;height: 80px;background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#287 346 170 99);"></div>
                                            </div>
                                            <div style="float:left; margin-left: 10px;margin-top: 10px;width: 95px;color: white">
                                                <div><%= get_name() %></div>
                                                <div><%= get_place(Eval('region')) %></div>
                                            </div>
                                        </div>
                                    </pe:if>
                                    <pe:if condition="<%= Eval('showType') == 2%>">
                                        <div style="width: 260px;height: 100px;background-color: #333333;float: left;margin-bottom: 10px;margin-right: 10px;">
                                            <input type="button" class="click" name='<%=Eval("index")%>' onclick="open_org_page" />
                                            <div style="float:left; margin-left: 10px;margin-top: 10px;">
                                                <div style="<%= 'width: 120px;height: 80px;background:url(' .. (Eval('logo') or 'Texture/Aries/Creator/keepwork/worldshare_32bits.png#287 346 170 99') .. ');' %>"></div>
                                            </div>
                                            <div style="float:left; margin-left: 10px;margin-top: 10px;width: 95px;color: white">
                                                <div><%= get_name() %></div>
                                                <div><%= Eval('location') %></div>
                                            </div>
                                        </div>
                                    </pe:if>
                                </Columns>
                            </pe:gridview>
                        </div>
                        <div style="margin-left: 280px;">
                            <div>
                                <pe:if condition="<%= has_school_joined() %>">
                                    <input type="button" class="button_highlight" style="height: 35px;width: 120px;" value="<%= L'变更学校' %>" onclick="join_school()"/>
                                </pe:if>
                                <pe:if condition="<%= not has_school_joined() %>">
                                    <div style="float:left;">
                                        <input type="button" class="join_school_bg" style="width: 120px;height: 35px;" value="<%= L'加入学校' %>" onclick="join_school()"/>
                                        <kp:redtip style="position:relative;margin-left:117px;margin-top:-40px;" onupdate='<%= not has_school_joined() %>'></kp:redtip>    
                                    </div>
                                </pe:if>
                                <input type="button" class="button_highlight" style="height: 35px;width: 120px;margin-left: 10px;" value="<%= L'加入机构' %>" onclick="join_institute()"/>
                            </div>
                        </div>
                    </div>
                </pe:if>
                <pe:if condition="<%= has_joined(2) %>">
                    <div style="padding-top: 100px;padding-left: 100px;">
                        <input type="button"
                               class="button_highlight join_school_bg"
                               style="width: 180px;height: 60px;font-size: 15px;font-weight: bold"
                               value="<%= L'加入学校' %>"
                               onclick="join_school()"/>
                        <input type="button"
                               class="button_highlight"
                               style="margin-left: 30px;width: 180px;height: 60px;font-size: 15px;"
                               value="<%= L'加入机构' %>"
                               onclick="join_institute()"/>
                        <kp:redtip style="position:relative;margin-left:176px;margin-top:-65px;" onupdate='<%= true %>'></kp:redtip>
                    </div>
                </pe:if>
            </div>
        </aries:window>
    </pe:mcml>
</body>
</html>