<html>
    <body>
        <pe:mcml>
            <script type="text/npl">
                <![CDATA[
                    local MySchool = NPL.load("./MySchool.lua")
                    local page = document:GetPageCtrl()

                    function close()
                        page:CloseWindow()
                    end

                    function get_provinces()
                        return MySchool.provinces
                    end

                    function get_cities()
                        return MySchool.cities
                    end

                    function get_areas()
                        return MySchool.areas
                    end

                    function get_kinds()
                        return MySchool.kinds
                    end

                    function select_province(name, value)
                        if value == 0 then
                            return false
                        end

                        MySchool.curId = value

                        MySchool:GetCities(value, function(data)
                            MySchool.cities = data
                            MySchool.areas = {
                                {
                                    text = L"区",
                                    value = 0,
                                    selected = true,
                                }
                            }
                            
                            local schoolname = page:GetValue("schoolname")
                            page:Refresh(0.01)
                            page:SetValue("schoolname", schoolname)
                        end)
                    end

                    function select_city(name, value)
                        if value == 0 then
                            return false
                        end

                        MySchool.curId = value

                        MySchool:GetAreas(value, function(data)
                            MySchool.areas = data
                            
                            local schoolname = page:GetValue("schoolname")
                            page:Refresh(0.01)
                            page:SetValue("schoolname", schoolname)
                        end)
                    end

                    function select_area(name, value)
                        if value == 0 then
                            return false
                        end

                        MySchool.curId = value
                    end

                    function select_kind(name, value)
                        if value == 0 then
                            MySchool.kind = nil
                        else
                            MySchool.kind = value
                        end

                        if not MySchool.curId or MySchool.curId == 0 then
                            return false
                        end
                    end

                    function submit()
                        local schoolName = page:GetValue("schoolname")
                        local schoolType = MySchool.kind
                        local regionId = MySchool.curId

                        MySchool:RecordSchool(
                            schoolType,
                            regionId,
                            schoolName,
                            function(bSuccessed, data)
                                if bSuccessed and data and data.status then
                                    GameLogic.AddBBS(nil, format(L"已提交，状态：%s", data.status), 5000, "0 255 0")
                                    close()
                                else
                                    if type(data) == 'table' and data.code then
                                        GameLogic.AddBBS(nil, format(L"提交失败：%s（%d）", data.message, data.code), 3000, "255 0 0")
                                    else
                                        GameLogic.AddBBS(nil, L"提交失败", 3000, "255 0 0")
                                    end
                                end
                            end
                        )
                    end
                ]]>
            </script>
            <style type="text/mcss">
            </style>
            <aries:window mode="thin" title='<%=L"登记学校"%>' onclose="close()">
                <div width="100%" height="100%" style="color: white;padding: 20px;">
                    <div><%= L"您未加入任何学校，请选择：" %></div>
                    <div style="margin-left: 80px;margin-top: 10px;">
                        <div style="margin-bottom: 10px;">
                            <select name="province" style="width:87px;height: 26px;" DataSource="<%= get_provinces() %>" onselect="select_province"></select>
                            <select name="city" DataSource="<%= get_cities() %>" style="margin-left: 10px;width:87px;height: 26px;" onselect="select_city"></select>
                            <select name="area" DataSource="<%= get_areas() %>" style="margin-left: 10px;width:87px;height: 26px;" onselect="select_area"></select>
                            <select name="kind" DataSource="<%= get_kinds() %>" style="margin-left: 10px;width:88px;height: 26px;" onselect="select_kind"></select>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <input type="text" name="schoolname" class="bbs_text" style="width: 380px;height: 26px;" EmptyText="<%= L'请输入学校全名' %>"/>
                        </div>
                        <div style="width: 380px;">
                            <%= L'*管理员人工审核后将会尽快将您的学校添加到列表，请稍候再试。' %>
                        </div>
                    </div>
                    <div style="margin-top: 25px;margin-left: 220px;">
                        <input type="button" class="button_highlight" style="height: 35px;width: 120px;" value="<%= L'提交' %>" onclick="submit()"/>
                        <input type="button" class="button_highlight" style="height: 35px;width: 120px;margin-left: 10px;" value="<%= L'取消' %>" onclick="close()"/>
                    </div>
                </div>
            </aries:window>
        </pe:mcml>
    </body>
</html>