<html>
    <body>
        <pe:mcml>
            <script type="text/npl" refresh="false">
                <![CDATA[
                    local OpusSetting = NPL.load("./OpusSetting.lua")
                    local WorldCommon = commonlib.gettable("MyCompany.Aries.Creator.WorldCommon")
                    local page = document:GetPageCtrl()

                    function close()
                        page:CloseWindow()
                    end

                    function ban(value)
                        if not GameLogic.IsReadOnly() then
                            GameLogic.options:SetHasCopyright(value)
                        end
                    end

                    function set_community(value)
                        if not GameLogic.IsReadOnly() then
                            GameLogic.options:SetCommunityWorld(value)
                        end
                    end

                    function set_vip(value)
                        if not GameLogic.IsReadOnly() then
                            GameLogic.IsVip("CreateVipWorld", true, function(result)
                                if result then
                                    GameLogic.options:SetVipWorld(value)
                                end
                            end)
                        end
                    end

                    function set_public(val)
                        if val == "public" then
                            page:SetValue("private", false)
                        end

                        if val == "private" then
                            page:SetValue("public", false)
                            page:SetValue("institute_vip_checkbox", false)
                            page:SetValue("vip_checkbox", false)
                        end

                        page:Refresh(0.01)

                        OpusSetting:SetPublic(val)
                    end

                    function set_vip(val)
                        WorldCommon.SetWorldTag("vipEnabled", val)
                        WorldCommon.SaveWorldTag()
                        OpusSetting:SetVip(val)
                    end

                    function set_institute_vip(val)
                        WorldCommon.SetWorldTag("institueVipEnabled", val)
                        WorldCommon.SaveWorldTag()
                        OpusSetting:SetInstituteVip(val)
                    end
                ]]>
            </script>
            <style type="type/mcss">
            </style>
            <aries:window mode="thin" title="<%= L'项目设置' %>" width="505" height="350" onclose="close()">
                <div style="color: #FFFFFF;padding: 15px;font-size: 14px;">
                    <div><%= L"内容保护：" %></div>
                    <div style="margin-left: 20px;">
                        <div><input type="checkbox" checked="<%=GameLogic.options:HasCopyright()%>" onclick="ban" /><%= L"禁止另存" %></div>
                        <div><%= L"*为本世界设置保护，其他人无法另存该世界的内容。" %></div>
                    </div>
                    <div style="margin-top: 10px;"><%= L"社区世界：" %></div>
                    <div style="margin-left: 20px;">
                        <div><input type="checkbox" checked="<%=GameLogic.options:IsCommunityWorld()%>" onclick="set_community" /><%= L"开启社区世界" %></div>
                        <div><%= L"*为本世界添加社区世界属性。" %></div>
                    </div>
                    <div style="margin-top: 10px;"><%= L"权限访问" %></div>
                    <div style="margin-left: 20px;">
                        <div>
                            <div><input type="radio" name="public" value="public" onclick="set_public"/><%= L"公开世界" %></div>
                            <div style="margin-left: 20px;">
                                <div>
                                    <input type="checkbox"
                                           name="vip_checkbox"
                                           tooltip="<%=L'是否只有VIP用户可以访问'%>"
                                           onclick="set_vip" />
                                    <%= L"需要是Paracraft会员（访问与编辑均需登录Paracraft账号）" %>
                                </div>
                                <div>
                                    <input type="checkbox"
                                           name="institute_vip_checkbox"
                                           onclick="set_institute_vip" />
                                    <%= L"需要是合作机构VIP会员（访问与编辑均需登录Paracraft账号）" %>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div><input type="radio" name="private" value="private" onclick="set_public"/><%= L"私有世界" %></div>
                        </div>
                    </div>
                </div>
            </aries:window>
        </pe:mcml>
    </body>
</html>