<body>
    <pe:mcml>
        <script type="text/npl">
            <![CDATA[
                -- bottles
                Certificate = NPL.load('./Certificate.lua')
                local MySchool = NPL.load("(gl)Mod/WorldShare/cellar/MySchool/MySchool.lua")

                local page = document:GetPageCtrl()

                function close()
                    page:CloseWindow()
                end

                function show_certificate()
                    close()

                    local status = get_status()

                    if status == 3 then
                        Certificate:ShowMyHomePage(function()
                            MySchool:ShowJoinSchool(page.callback)
                        end)
                    elseif status == 2 then
                        MySchool:ShowJoinSchool(page.callback)
                    elseif status == 1 then
                        Certificate:ShowMyHomePage(page.callback)
                    end
                end

                function get_status()
                    local is_verified = Mod.WorldShare.Store:Get('user/isVerified')
                    local has_joined_school = Mod.WorldShare.Store:Get('user/hasJoinedSchool')

                    if not is_verified and not has_joined_school then
                        return 3
                    elseif not is_verified then
                        return 1
                    elseif not has_joined_school then
                        return 2
                    end
                end

                function get_status_desc()
                    local status = get_status()

                    if status == 3 then
                        return L'实名认证和填写学校信息'
                    elseif status == 2 then
                        return L'填写学校信息'
                    elseif status == 1 then
                        return L'实名认证'
                    end

                    return ''
                end
            ]]>
        </script>
        <style type="text/mscc" src="Mod/WorldShare/cellar/Theme/Mcss/Theme1.mcss">

        </style>
        <div width="100%" height="100%">
            <kp:window width="860" height="480" onclose="close()">
                <div class="theme1_header"></div>
                <div style="padding: 30px;">
                    <div>
                        <img style='width: 796px;
                                    height: 238px;'
                             src='Texture/Aries/Creator/paracraft/paracraft_certification_a_32bits.png#0 0 796 238' />
                    </div>
                    <div align='center'
                         style='width: 330px;
                                font-size: 15px;
                                base-font-size: 15px;
                                padding-top: 10px;
                                padding-bottom: 10px;'>
                        亲爱的同学&家长，您还没有完成<br />
                        【<%= get_status_desc() %>】。<br/>
                        请在参加赛事前完善您的个人资料！以便顺利<br/>
                        参赛和享受各项学习服务！<br/>
                    </div>
                    <div>
                        <input align='center'
                               onclick='show_certificate'
                               type='button'
                               style='width: 125px;
                                      height: 45px;
                                      text-align: center;
                                      font-size: 16px;
                                      base-font-size: 16px;
                                      margin-bottom: 5px;'
                               class='theme1_orange_button'
                               value='<%= L"完善个人资料" %>'/>
                    </div>
                    <div>
                        <input type='checkbox' checked='false' />
                        不再提醒
                    </div>
                </div>
            </kp:window>
        </div>
    </pe:mcml>
</body>
</html>

