<body>
    <pe:mcml>
        <script type="text/npl">
            <![CDATA[
                local page = document:GetPageCtrl()

                function close()
                    if page.certificateCallback and type(page.certificateCallback) == 'function' then
                        page.certificateCallback(false)
                    end
                    page:CloseWindow()
                end

                function sel_school()
                    if page.SelSchool then
                        page.SelSchool()
                        page:CloseWindow()
                    end
                end

                function sel_my_home()
                    if page.SelMyHome then
                        page.SelMyHome()
                        page:CloseWindow()
                    end
                end
            ]]>
        </script>
        <style type="text/mscc" src="Mod/WorldShare/cellar/Theme/Mcss/Theme1.mcss">
        </style>
        <div width="100%" height="100%">
            <kp:window width="605" height="410" onclose="close()">
                <div class="theme1_header"></div>
                <div style="padding: 10px;">
                    <div style="float: left;background: url(Texture/Aries/Creator/keepwork/paracraft_guide_32bits.png#656 30 295 348);width: 295px;height: 348px;">
                        <input type="button" class="theme1_green_button" style="font-size: 20px;base-font-size: 20px;width: 180px;height: 50px;margin-top: 290px;margin-left: 60px;" value="<%= L'我在学校' %>" onclick="sel_school()" />
                    </div>
                    <div style="float: left;background: url(Texture/Aries/Creator/keepwork/paracraft_guide_32bits.png#656 388 295 348);width: 290px;height: 348px;">
                        <input type="button" class="theme1_orange_button" style="font-size: 20px;base-font-size: 20px;width: 180px;height: 50px;margin-top: 290px;margin-left: 60px;" value="<%= L'我在家里' %>" onclick="sel_my_home()" />
                    </div>
                </div>
            </kp:window>
        </div>
    </pe:mcml>
</body>
</html>

