<html>
    <body>
        <pe:mcml>
            <script type='text/npl'>
                <![CDATA[
                    -- helper
                    local Validated = NPL.load('(gl)Mod/WorldShare/helper/Validated.lua')

                    -- UI
                    local RegisterModal = NPL.load('(gl)Mod/WorldShare/cellar/RegisterModal/RegisterModal.lua')

                    -- service
                    local KeepworkServiceSession = NPL.load('(gl)Mod/WorldShare/service/KeepworkService/KeepworkServiceSession.lua')

                    -- api
                    local KeepworkUsersApi = NPL.load('(gl)Mod/WorldShare/api/Keepwork/KeepworkUsersApi.lua')

                    local page = document:GetPageCtrl()
    
                    local mode = page:GetRequestParam('mode')

                    canClose = true

                    if mode == 'summer' then
                        canClose = false
                    end

                    hasBeenSent = false

                    function close()
                        if page.certificateCallback and type(page.certificateCallback) == 'function' then
                            page.certificateCallback()
                        end

                        page:CloseWindow()
                    end

                    function bind()
                        GameLogic.GetFilters():apply_filters('user_behavior', 1, 'click.world.certificate.bind')

                        local phonenumber = page:GetValue('phonenumber')
                        local phonecaptcha = page:GetValue('phonecaptcha')

                        if not phonenumber or not Validated:Phone(phonenumber) then
                            GameLogic.AddBBS(nil, L'手机格式错误', 3000, '255 0 0')
                            return false
                        end

                        if not phonecaptcha or #phonecaptcha == 0 then
                            GameLogic.AddBBS(nil, L'手机验证码格式错误', 3000, '255 0 0')
                            return false
                        end

                        -- only classification
                        Mod.WorldShare.MsgBox:Wait()

                        RegisterModal:Classification(phonenumber, phonecaptcha, function(data)
                            KeepworkServiceSession:CheckVerify()
                            Mod.WorldShare.MsgBox:Close()
                            close()
                        end, true)
                    end

                    function send()
                        if hasBeenSent then
                            return 
                        end

                        local phoneNumber = page:GetValue('phonenumber')

                        if not Validated:Phone(phoneNumber) then
                            GameLogic.AddBBS(nil, L'手机格式错误', 3000, '255 0 0')
                            return
                        end

                        hasBeenSent = true

                        local times = 60
                        local timer

                        timer = commonlib.Timer:new({
                            callbackFunc = function(timer)
                                if canClose then
                                    page:SetValue('send_button_1', format('%s(%ds)', L'重新发送', times))

                                    if times == 0 then
                                        hasBeenSent = false
                                        page:SetValue('send_button_1', L'发送短信')
                                        timer:Change(nil, nil)
                                        Mod.WorldShare.Store:Unsubscribe('user/ParentPhoneVerification')
                                    end
                                else
                                    page:SetValue('send_button_2', format('%s(%ds)', L'重新发送', times))

                                    if times == 0 then
                                        hasBeenSent = false
                                        page:SetValue('send_button_2', L'发送短信')
                                        timer:Change(nil, nil)
                                        Mod.WorldShare.Store:Unsubscribe('user/ParentPhoneVerification')
                                    end
                                end

                                times = times - 1
                            end
                        })

                        KeepworkUsersApi:ParentCellphoneCaptcha(
                            phoneNumber,
                            function(data, err)
                                if err ~= 200 or
                                   data == nil or
                                   data == '' then
                                    return
                                end

                                GameLogic.AddBBS(nil, L'发送成功', 3000, '0 0 255')
                            end
                        )

                        timer:Change(1000, 1000)

                        Mod.WorldShare.Store:Subscribe('user/ParentPhoneVerification', function()
                            timer:Change(nil, nil)
                            Mod.WorldShare.Store:Unsubscribe('user/ParentPhoneVerification')
                            Mod.WorldShare.Store:Set('user/isVerified', true)
                            KeepworkServiceSession:CheckVerify()
                            close()
                        end)
                    end

                    function get_background_width()
                        local Screen = System.Windows.Screen
                        local width = Screen:GetWidth()
                        Screen:PushDesignResolution(1280, 720)

                        return (width - 255)
                    end

                    function get_background_height()
                        local Screen = System.Windows.Screen
                        local height = Screen:GetHeight()

                        return (height - 93)
                    end
                ]]>
            </script>
            <style type='text/mscc' src='Mod/WorldShare/cellar/Theme/Mcss/Theme1.mcss'>
                {
                    theme1_text_editor = {
                        background = 'Texture/Aries/Creator/keepwork/Certification/zi_shurudi_32X32_32bits.png#0 0 32 32:8 8 8 8',
                        textcolor = '#000000',
                        ['font-size'] = 20,
                    },
                    theme1_myhome_green_bt = {
                        background = 'Texture/Aries/Creator/keepwork/Certification/btn_lv_32X32_32bits.png#0 0 32 32:8 8 8 8',
                        textcolor = '#000000',
                    },
                    theme1_myhome_blue_bt = {
                        background = 'Texture/Aries/Creator/keepwork/Certification/btn_lan_32X32_32bits.png#0 0 32 32:8 8 8 8',
                        width = 104,
                        height = 32,
                        folat = 'left',
                    },
                    theme1_myhome_gray_bt = {
                        background = 'Texture/Aries/Creator/keepwork/Certification/btn_hs_32X32_32bits.png#0 0 32 32:8 8 8 8',
                        width = 104,
                        height = 32,
                        folat = 'left',
                    },
                }
            </style>
            <pe:if condition='<%= canClose %>'>
                <div width='100%' height='100%' style='position: relative;background: url();'>
                </div>
            </pe:if>
            <pe:if condition='<%= not canClose %>'>
                <pe:container
                    width='<%= get_background_width() %>'
                    height='100%'
                    style='background-color: #00000099;
                        position: relative;'>
                </pe:container>
                <pe:container
                    alignment='_rb'
                    width='255'
                    height='<%= get_background_height() %>'
                    style='background-color: #00000099;
                        position: relative;'>
                </pe:container>
            </pe:if>
            <pe:container
                alignment='_ct'
                width='760'
                height='490'
                style='background: url();
                    margin-top: -245px;
                    margin-left: -380px;'>
                <kp:window
                    width='760'
                    height='490'
                    onclose='close()'
                    is_hide_close='<%= not canClose %>'>
                    <img style='position: relative;
                                width: 97px;
                                height: 25px;
                                margin-left: 15px;
                                margin-top: 7px;'
                        src='Texture/Aries/Creator/keepwork/Certification/shiming_97X25_32bits.png#0 0 97 25' />
                    <div class='theme1_header'></div>
                    <div style='padding: 10px;
                                padding-top: 40px;'>
                        <div align='center'
                             style='width: 525px;
                                    height: 40px;
                                    padding-top: 8px;
                                    text-align: center;
                                    background: url(Texture/Aries/Creator/keepwork/Certification/tu1_469X40_32bits.png#0 0 469 40);'>
                            <%= L'输入家长手机号发送认证短信，并提醒家长点击认证链接，即可完成实名认证。' %>
                        </div>
                        <div align='center'
                             style='width: 469px;
                                    height: 40px;
                                    margin-top: 8px;
                                    text-align: center;'>
                            <%= L'完成实名认证后， 你创造的世界才能被别人看到哦。' %>
                        </div>
                        <div style='font-size: 18px;
                                    base-font-size: 18px;
                                    margin-left: 148px;
                                    margin-top: 5px;'>
                            <img style='width: 53px;height: 17px;margin-top: 9px;'
                                src='Texture/Aries/Creator/keepwork/Certification/zi_shoujihao_53X17_32bits.png#0 0 53 17' />
                            <input type='text'
                                style='width: 375px;height: 34px;margin-left: 15px;'
                                class='theme1_text_editor'
                                name='phonenumber' />
                        </div>
                        <pe:if condition='<%= canClose %>'>
                            <div align='center'
                                 style='margin-top: 18px;
                                        width: 312px'>
                                <input type='button'
                                       name='send_button_1'
                                       style='width: 128px;
                                              height: 45px;
                                              float: left;
                                              text-offset-y: -2;
                                              background: url(Texture/Aries/Creator/paracraft/fasong_128x45_32bits.png#0 0 128 45)'
                                       value='<%= L"发送短信" %>'
                                    onclick='send()' />
                                <input type='button'
                                    style='margin-left: 56px;
                                           width: 128px;
                                           height: 45px;
                                           float: left;
                                           text-offset-y: -2;
                                           background: url(Texture/Aries/Creator/paracraft/tiaoguo_128x45_32bits.png#0 0 128 45)'
                                    value='<%= L"跳过" %>'
                                    onclick='close()' />
                            </div>
                        </pe:if>
                        <pe:if condition='<%= not canClose %>'>
                            <div align='center'
                                 style='margin-top: 18px;
                                        width: 128px'>
                                <input type='button'
                                       name='send_button_2'
                                       style='width: 128px;
                                              height: 45px;
                                              float: left;
                                              text-offset-y: -2;
                                              background: url(Texture/Aries/Creator/paracraft/fasong_128x45_32bits.png#0 0 128 45)'
                                       value='<%= L"发送短信" %>'
                                    onclick='send()' />
                            </div>
                        </pe:if>
                        <div align='center'
                            style='width: 420px;
                                    height: 161px;
                                    margin-top: 15px;'>
                            <img style='width: 420px;
                                        height: 161px;'
                                src='Texture/Aries/Creator/paracraft/jiangli2_420x161_32bits.png#0 0 420 161' />
                        </div>
                    </div>
                </kp:window>
            </pe:container>
        </pe:mcml>
    </body>
</html>
