<body>
    <pe:mcml>
        <script type="text/npl">
            <![CDATA[
                -- helper
                local Validated = NPL.load("(gl)Mod/WorldShare/helper/Validated.lua")

                -- UI
                local RegisterModal = NPL.load("(gl)Mod/WorldShare/cellar/RegisterModal/RegisterModal.lua")

                -- service
                local KeepworkServiceSession = NPL.load("(gl)Mod/WorldShare/service/KeepworkService/Session.lua")

                local page = document:GetPageCtrl()
                isClickedGetPhoneCaptcha = false

                function close()
                    if page.certificateCallback and type(page.certificateCallback) == 'function' then
                        page.certificateCallback()
                    end

                    page:CloseWindow()
                end

                function bind()
                    GameLogic.GetFilters():apply_filters("user_behavior", 1, "click.world.certificate.bind")

                    local phonenumber = page:GetValue("phonenumber")
                    local phonecaptcha = page:GetValue("phonecaptcha")

                    if not phonenumber or not Validated:Phone(phonenumber) then
                        GameLogic.AddBBS(nil, L"手机格式错误", 3000, "255 0 0")
                        return false
                    end

                    if not phonecaptcha or #phonecaptcha == 0 then
                        GameLogic.AddBBS(nil, L"手机验证码格式错误", 3000, "255 0 0")
                        return false
                    end

                    -- only classification
                    Mod.WorldShare.MsgBox:Wait()
                    RegisterModal:Classification(phonenumber, phonecaptcha, function()
                        KeepworkServiceSession:CheckVerify()
                        Mod.WorldShare.MsgBox:Close()
                        close()
                    end)
                end

                function check_phone_number(callback)
                    local phonenumber = page:GetValue("phonenumber")

                    if type(phonenumber) ~= "string" then
                        return false
                    end

                    if #phonenumber == 0 then
                        return false
                    end

                    KeepworkServiceSession:CheckPhonenumberExist(phonenumber, function(bIsExist)
                        if bIsExist then
                            page:SetValue("is_bind", false)

                            if page.callback and type(callback) == "function" then
                                callback(false)
                            end
                        end
                    end)
                end

                function get_phone_captcha()
                    GameLogic.GetFilters():apply_filters("user_behavior", 1, "click.world.certificate.get_phone_captcha")

                    if not Validated:Phone(page:GetValue("phonenumber")) then
                        GameLogic.AddBBS(nil, L"手机格式错误", 3000, "255 0 0")
                        return false
                    end

                    if isClickedGetPhoneCaptcha then
                        return false 
                    end

                    isClickedGetPhoneCaptcha = true

                    local times = 60

                    local timer = commonlib.Timer:new({
                        callbackFunc = function(timer)
                            page:SetValue("getPhoneCaptcha", format("%s(%ds)", L"重新发送", times))

                            if times == 0 then
                                isClickedGetPhoneCaptcha = false
                                page:SetValue("getPhoneCaptcha", L"获取验证码")
                                timer:Change(nil, nil)
                            end

                            times = times - 1
                        end
                    })

                    KeepworkServiceSession:GetPhoneCaptcha(page:GetValue("phonenumber"), function(data, err)
                        if err ~= 200 then
                            isClickedGetPhoneCaptcha = false
                            page:SetValue("getPhoneCaptcha", L"获取验证码")
                            GameLogic.AddBBS(nil, format("%s%s(%d)", L"发送验证码失败，错误信息：", data.message or '', data.code or 0), 5000, "255 0 0")
                            timer:Change(nil, nil)
                        end
                    end)

                    timer:Change(1000, 1000)
                end

                function checkRealName()
                    KeepworkServiceSession:Profile(function(data, err)
                        if err ~= 200 or not data or type(data) ~= 'table' then
                            return  
                        end

                        if data.realname then
                            if page.Success and type(page.Success) == "function" then
                                if page and page.Success then
                                    page.Success()
                                end
                                Mod.WorldShare.MsgBox:Close()
                                page:CloseWindow()
                            end
                        else
                            Mod.WorldShare.Utils.SetTimeOut(function()
                                if page.closed then
                                    return
                                end
                                checkRealName()
                            end, 1000)
                        end
                    end, Mod.WorldShare.Store:Get('user/token'))
                end
                
                checkRealName()
            ]]>
        </script>
        <style type="text/mscc" src="Mod/WorldShare/cellar/Theme/Mcss/Theme1.mcss">
            {
                theme1_text_editor = {
                    background = 'Texture/Aries/Creator/keepwork/Certification/zi_shurudi_32X32_32bits.png#0 0 32 32:8 8 8 8',
                    textcolor = '#000000',
                    ["font-size"] = 20,
                },
                theme1_myhome_green_bt = {
                    background = 'Texture/Aries/Creator/keepwork/Certification/btn_lv_32X32_32bits.png#0 0 32 32:8 8 8 8',
                    textcolor = '#000000',
                },
                
                theme1_myhome_blue_bt = {
                    background = 'Texture/Aries/Creator/keepwork/Certification/btn_lan_32X32_32bits.png#0 0 32 32:8 8 8 8',
                    width = 104,
                    height = 32,
                    folat = "left",
                },

                theme1_myhome_gray_bt = {
                    background = 'Texture/Aries/Creator/keepwork/Certification/btn_hs_32X32_32bits.png#0 0 32 32:8 8 8 8',
                    width = 104,
                    height = 32,
                    folat = "left",
                },
            }
        </style>
        <div width="100%" height="100%">
            <kp:window width="760" height="490" onclose="close()">
            
                <img style="position: relative; width: 97px;height: 25px;margin-left: 15px; margin-top: 7px;" src="Texture/Aries/Creator/keepwork/Certification/shiming_97X25_32bits.png#0 0 97 25" />
                <div class="theme1_header"></div>
                <div style="padding: 10px;padding-top: 20px;">
                    <div style="margin-left: 136px;text-align: center;">
                        <div style="width: 469px;height: 40px;padding-top: 8px; background: url(Texture/Aries/Creator/keepwork/Certification/tu1_469X40_32bits.png#0 0 469 40);">
                            输入手机号码和验证码，即可完成实名认证。
                        </div>
                        <div style="width: 469px;height: 40px;margin-top: 8px;">
                            完成实名认证后， 你创造的世界才能被别人看到哦。
                        </div>
                        <!-- <img style="width: 469px;height: 40px;" src="Texture/Aries/Creator/keepwork/Certification/tu1_469X40_32bits.png#0 0 469 40" /> -->
                    </div>
                    <div style="font-size: 18px;base-font-size: 18px;margin-left: 148px;margin-top: 5px;">
                        <!-- <%= L'手机号' %> -->
                        <img style="width: 53px;height: 17px;margin-top: 9px;" src="Texture/Aries/Creator/keepwork/Certification/zi_shoujihao_53X17_32bits.png#0 0 53 17" />
                        <input type="text" style="width: 375px;height: 34px;margin-left: 15px;" class="theme1_text_editor" onfocusout="check_phone_number()" name="phonenumber"/>
                    </div>
                    <div style="font-size: 18px;base-font-size: 18px;margin-left: 148px;margin-top: 20px;">
                        <!-- <%= L'验证码' %> -->
                        <img style="width: 53px;height: 17px;margin-top: 9px;" src="Texture/Aries/Creator/keepwork/Certification/zi_yanzhengma_53X17_32bits.png#0 0 53 17" />
                        <input type="text" style="width: 243px;height: 34px;margin-left: 15px;" class="theme1_text_editor" name="phonecaptcha"/>

                        <div style="float: left; width: 118px;height: 38px;margin-left: 20px;">
                            <input type="button" style="position: relative;width: 118px;height: 38px;" name="getPhoneCaptcha" class="theme1_myhome_green_bt" value="<%=L'获取验证码'%>" onclick="get_phone_captcha()"/>
                            <!-- <img ClickThrough="true" zorder="1" style="position: relative; width: 88px;height: 17px;margin-top: 10px;margin-left: 16px;" 
                                src="Texture/Aries/Creator/keepwork/Certification/zi_huoquyanzhengm_88X17_32bits.png#0 0 88 17" /> -->
                        </div>

                    </div>
                    <div style="margin-left: 240px;margin-top: 30px;">
                        <input type="button" class="theme1_myhome_blue_bt" value="<%= L'确认' %>" onclick="bind()" />
                        <input type="button" style="margin-left: 56px;" class="theme1_myhome_gray_bt" value="<%= L'跳过' %>" onclick="close()" />
                    </div>
                    <div align='center' style="width: 418px;margin-top: 22px;">
                        <img style="width: 418px;height: 140px;" src="Texture/Aries/Creator/paracraft/paracraft_certification_a_32bits.png#12 264 418 140" />
                    </div>
                </div>
            </kp:window>
        </div>
    </pe:mcml>
</body>
</html>


