<body>
    <pe:mcml>
        <script type="text/npl">
            <![CDATA[
                -- helper
                local Validated = NPL.load("(gl)Mod/WorldShare/helper/Validated.lua")

                -- UI
                local RegisterModal = NPL.load("(gl)Mod/WorldShare/cellar/RegisterModal/RegisterModal.lua")

                -- service
                local KeepworkServiceSession = NPL.load("(gl)Mod/WorldShare/service/KeepworkService/Session.lua")

                local page = document:GetPageCtrl()
                isClickedGetPhoneCaptcha = false

                function close()
                    if page.certificateCallback and type(page.certificateCallback) == 'function' then
                        page.certificateCallback(false)
                    end
                    page:CloseWindow()
                    page.closed = true
                end

                function bind()
                    GameLogic.GetFilters():apply_filters("user_behavior", 1, "click.world.certificate.bind")

                    local phonenumber = page:GetValue("phonenumber")
                    local phonecaptcha = page:GetValue("phonecaptcha")

                    if not phonenumber or not Validated:Phone(phonenumber) then
                        GameLogic.AddBBS(nil, L"手机格式错误", 3000, "255 0 0")
                        return false
                    end

                    if not phonecaptcha or #phonecaptcha == 0 then
                        GameLogic.AddBBS(nil, L"手机验证码格式错误", 3000, "255 0 0")
                        return false
                    end

                    -- only classification
                    Mod.WorldShare.MsgBox:Show(L'请稍候...')
                    RegisterModal:Classification(phonenumber, phonecaptcha, function()
                        -- if page and page.Success then
                        --    page.Success()
                        -- end
                        -- page:CloseWindow()
                    end)
                end

                function check_phone_number(callback)
                    local phonenumber = page:GetValue("phonenumber")

                    if type(phonenumber) ~= "string" then
                        return false
                    end

                    if #phonenumber == 0 then
                        return false
                    end

                    KeepworkServiceSession:CheckPhonenumberExist(phonenumber, function(bIsExist)
                        if bIsExist then
                            page:SetValue("is_bind", false)

                            if page.callback and type(callback) == "function" then
                                callback(false)
                            end
                        end
                    end)
                end

                function get_phone_captcha()
                    GameLogic.GetFilters():apply_filters("user_behavior", 1, "click.world.certificate.get_phone_captcha")

                    if not Validated:Phone(page:GetValue("phonenumber")) then
                        GameLogic.AddBBS(nil, L"手机格式错误", 3000, "255 0 0")
                        return false
                    end

                    if isClickedGetPhoneCaptcha then
                        return false 
                    end

                    isClickedGetPhoneCaptcha = true

                    local times = 60

                    local timer = commonlib.Timer:new({
                        callbackFunc = function(timer)
                            page:SetValue("getPhoneCaptcha", format("%s(%ds)", L"重新发送", times))

                            if times == 0 then
                                isClickedGetPhoneCaptcha = false
                                page:SetValue("getPhoneCaptcha", L"获取验证码")
                                timer:Change(nil, nil)
                            end

                            times = times - 1
                        end
                    })

                    KeepworkServiceSession:GetPhoneCaptcha(page:GetValue("phonenumber"), function(data, err)
                        if err ~= 200 then
                            isClickedGetPhoneCaptcha = false
                            page:SetValue("getPhoneCaptcha", L"获取验证码")
                            GameLogic.AddBBS(nil, format("%s%s(%d)", L"发送验证码失败，错误信息：", data.message or '', data.code or 0), 5000, "255 0 0")
                            timer:Change(nil, nil)
                        end
                    end)

                    timer:Change(1000, 1000)
                end

                function checkRealName()
                    KeepworkServiceSession:Profile(function(data, err)
                        if err ~= 200 or not data or type(data) ~= 'table' then
                            return  
                        end

                        if data.realname then
                            if page.Success and type(page.Success) == "function" then
                                if page and page.Success then
                                    page.Success()
                                end
                                Mod.WorldShare.MsgBox:Close()
                                page:CloseWindow()
                            end
                        else
                            Mod.WorldShare.Utils.SetTimeOut(function()
                                if page.closed then
                                    return
                                end
                                checkRealName()
                            end, 1000)
                        end
                    end, Mod.WorldShare.Store:Get('user/token'))
                end
                
                checkRealName()
            ]]>
        </script>
        <style type="text/mscc" src="Mod/WorldShare/cellar/Theme/Mcss/Theme1.mcss">
        </style>
        <div width="100%" height="100%">
            <kp:window width="800" height="670" onclose="close()">
                <div class="theme1_header"></div>
                <div style="padding: 30px;padding-top: 20px;">
                    <div style="margin-left: 136px;">
                        <img style="width: 465px;height: 40px;" src="Texture/Aries/Creator/keepwork/paracraft_guide_32bits.png#15 237 465 40" />
                    </div>
                    <div style="font-size: 18px;base-font-size: 18px;margin-left: 135px;margin-top: 10px;">
                        <%= L'手机号' %>
                        <input type="text" style="width: 400px;height: 30px;margin-left: 5px;" class="theme1_white_textfield" onfocusout="check_phone_number()" name="phonenumber"/>
                    </div>
                    <div style="font-size: 18px;base-font-size: 18px;margin-left: 135px;margin-top: 10px;">
                        <%= L'验证码' %>
                        <input type="text" style="width: 300px;height: 30px;margin-left: 5px;" class="theme1_white_textfield" name="phonecaptcha"/>
                        <input type="button" style="width: 110px;height: 35px;" name="getPhoneCaptcha" class="theme1_green_button" value="<%= L'获取验证码' %>" onclick="get_phone_captcha()"/>
                    </div>
                    <div style="margin-left: 330px;margin-top: 10px;">
                        <input type="button" style="width: 80px;height: 35px;" class="theme1_baby_bule_button" value="<%= L'确认' %>" onclick="bind()" />
                    </div>
                    <div style="margin-left: 136px;margin-top: 10px;">
                        <img style="width: 465px;height: 39px;" src="Texture/Aries/Creator/keepwork/paracraft_guide_32bits.png#14 290 465 39" />
                    </div>
                    <div style="margin-left: 180px;margin-top: 10px;">
                        <img style="width: 397px;height: 176px;" src="Texture/Aries/Creator/keepwork/paracraft_guide_32bits.png#30 623 397 176" />
                    </div>
                    <div style="margin-left: 213px;margin-top: 5px;">
                        <img style="width: 311px;height: 177px;" src="Texture/Aries/Creator/keepwork/paracraft_guide_32bits.png#10 814 314 185" />
                    </div>
                </div>
            </kp:window>
        </div>
    </pe:mcml>
</body>
</html>

