<html>
    <body>
        <pe:mcml>
            <script type="text/npl" refresh="false">
                local ForgetPassword = NPL.load("./ForgetPassword.lua")
                local KeepworkServiceSession = NPL.load("(gl)Mod/WorldShare/Service/KeepworkService/Session.lua")
                local Validated = NPL.load("(gl)Mod/WorldShare/helper/Validated.lua")

                page = document:GetPageCtrl()
                Mod.WorldShare.Store:Set('page/ForgetPassword', page)

                function is_english()
                    return Mod.WorldShare.Utils:IsEnglish()
                end

                function get_english_style(styleStr)
                    if is_english() then
                        return styleStr
                    else
                        return ''
                    end
                end

                function close()
                    page:CloseWindow()
                end

                function reset()
                    ForgetPassword:Reset()
                end

                local isClickedGetCaptcha = false

                function get_captcha()
                    local type

                    if Validated:Email(page:GetValue("key")) then
                        type = 'email'
                    end

                    if Validated:Phone(page:GetValue("key")) then
                        type = 'phone'
                    end

                    if not type then
                        GameLogic.AddBBS(nil, L"账号格式错误", 3000, "255 0 0")
                        return false
                    end

                    if isClickedGetCaptcha then
                        return false 
                    end

                    isClickedGetCaptcha = true

                    local times = 60

                    local timer = commonlib.Timer:new({
                        callbackFunc = function(timer)
                            page:SetValue("getCaptcha", format("%s(%ds)", L"重新发送", times))

                            if times == 0 then
                                isClickedGetCaptcha = false
                                page:SetValue("getCaptcha", L"获取验证码")
                                timer:Change(nil, nil)
                            end

                            times = times - 1
                        end
                    })

                    if type == 'phone' then
                        KeepworkServiceSession:GetPhoneCaptcha(page:GetValue("key"), function(data, err)
                            if err == 500 then
                                isClickedGetCaptcha = false
                                page:SetValue("getCaptcha", L"获取验证码")
                                GameLogic.AddBBS(nil, L"发送验证码失败", 3000, "255 0 0")
                                timer:Change(nil, nil)
                            end
                        end)
                    end

                    if type == 'email' then
                        KeepworkServiceSession:GetEmailCaptcha(page:GetValue("key"), function(data, err)
                            if err == 500 then
                                isClickedGetCaptcha = false
                                page:SetValue("getCaptcha", L"获取验证码")
                                GameLogic.AddBBS(nil, L"发送验证码失败", 3000, "255 0 0")
                                timer:Change(nil, nil)
                            end
                        end)
                    end

                    timer:Change(1000, 1000)
                end
            </script>
            <style type="text/mcss">
                {
                    forget_password = {
                        ["base-font-size"] = 16,
                        ["font-size"] = 16,
                        ["padding-right"] = 30,
                        ["padding-left"] = 30,
                        ["padding-top"] = 10,
                        ["padding-bottom"] = 20,
                        color = '#ffffff'
                        textcolor = '#ffffff'
                    },
                    text_field = {
                        background = "textures/worldshare_32bits.png;72 20 16 16:3 3 3 3",
                        border = "none",
                    },
                    common_button = {
                        width = 130,
                        height = 33,
                        textcolor = "#000000",
                        color = "#000000",
                        ["font-size"] = 18
                    },
                }
            </style>
            <aries:window mode="thin" width="360" style="float:left;" title_height="40" close_height="25" title='<%=L"重置密码" %>' onclose="close()">
                <div class="forget_password">
                    <div style="margin-bottom:12px;">
                        <div style="<%='float:left;min-width:65px;' .. get_english_style('min-width:110px;') %>"><%= L"手机号/EMAIL：" %></div>
                        <input type="text" class="bbs_text text_field" EmptyText='<%= L"请输入手机号/EMAIL" %>' style="height: 30px;" name="key" />
                    </div>
                    <div style="margin-bottom:12px;">
                        <div style="<%= 'float:left;min-width:115px;' .. get_english_style('min-width:73px;') %>"><%= L"验证码：" %></div>
                        <input type="text" class="bbs_text text_field" EmptyText='<%= L"请输入验证码" %>' style="<%= 'height: 30px;width: 85px;'  .. get_english_style('width:127px;') %>" name="captcha" />
                        <input
                            type="button"
                            name="getCaptcha"
                            DefaultButton="true"
                            class="mc_light_grey_button_with_fillet"
                            style="margin-left:5px;width: 93px;height:30px;"
                            onclick="get_captcha()"
                            value='<%= L"获取验证码"%>'
                        />
                    </div>
                    <div style="margin-bottom:12px;">
                        <div style="float:left;min-width:115px"><%= L"设置新密码：" %></div>
                        <input type="text" PasswordChar="*" class="bbs_text text_field" EmptyText='<%= L"请输入新密码" %>' style="height: 30px;" name="password" />
                    </div>
                    <div>
                        <input type="button" DefaultButton="true" class="common_button mc_light_grey_button_with_fillet" onclick="close()" value='<%= L"取消"%>' />
                        <input type="button" DefaultButton="true" class="common_button mc_light_grey_button_with_fillet" style="margin-left: 37px;" onclick="reset()" value='<%= L"确认"%>' />
                    </div>
                </div>
            </aries:window>
        </pe:mcml>
    </body>
</html>