<body>
    <pe:mcml>
        <script type="text/npl" refresh="false">
            <![CDATA[
            loginMain = commonlib.gettable("Mod.WorldShare.login.loginMain");
            SyncMain  = commonlib.gettable("Mod.WorldShare.sync.SyncMain");

            SyncMain.setBeyondPage();
            selectedWorldInfor = SyncMain.selectedWorldInfor;
            maxWorldSize = 15;
            maxWorldSizeVIP = 50;

            function getBeyondMsg()
                local str;

                if(loginMain.userType == "vip") then
                    str = format(L"世界%s文件总大小超过了%dMB，是否清理文件？(请使用MP3、OGG格式音频，避免使用FBX格式)", SyncMain.foldername.utf8, 50);
                else
                    str = format(L"世界%s文件总大小超过了%dMB，是否清理文件？(请使用MP3、OGG格式音频，避免使用FBX格式，VIP用户最大可上传%dMB)", SyncMain.foldername.utf8, 25, 50);
                end

                return str;
            end

            function openWorldFolder()
                SyncMain.closeBeyondPage();
                local path = LocalLoadWorld.GetWorldFolderFullPath() .. "/" .. SyncMain.foldername.default;
                ParaGlobal.ShellExecute("open", path, "", "", 1);
            end

            function get_window_style()
                NPL.load("(gl)Mod/WorldShare/helper/Utils.lua")
                Utils = commonlib.gettable("Mod.WorldShare.helper.Utils")

                return Utils.FixCenter(500, 270)
            end
            ]]>
        </script>
        <div width="100%" height="100%">
            <aries:window mode="thin" width="500" height="270" style="<%=get_window_style()%>" title='<%=L"购买VIP" %>' onclose="SyncMain.closeBeyondPage">
                <div style="font-size:16px;base-font-size:16px;color:#ffffff;padding:30px;">
                    <div style="margin-top:30px;">
                        <%= getBeyondMsg() %>
                        <br />
                        <%= L"是否现在清理？" %>
                    </div>
                    <br />
                    <div style="margin-top:30px;">
                        <input type="button" onclick="openWorldFolder" class="button_highlight" style="float:left;width: 130px;height: 30px;" name="" value='<%= L"是"%>' />
                        <input type="button" onclick="SyncMain.closeBeyondPage" class="button_highlight" style="float:left;margin-left:10px;width: 130px;height: 30px;" name="" value='<%=L"否"%>'/>
                        <input type="button" onclick="SyncMain.closeBeyondPage" class="button_highlight" style="float:left;margin-left:10px;width: 130px;height: 30px;" name="" value='<%=L"取消"%>'/>
                    </div>
                </div>
            </aries:window>
        </div>
    </pe:mcml>
</body>
</html>