<!-- "Mod/WorldShare/sync/ShareWorld.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>exit world sync,by big,2016/12/10</title>
</head>
<body>
    <pe:mcml>
        <script type="text/npl" refresh="false">
            <![CDATA[
                SyncMain   = commonlib.gettable("Mod.WorldShare.sync.SyncMain");
                loginMain  = commonlib.gettable("Mod.WorldShare.login.loginMain");
                ShareWorld = commonlib.gettable("Mod.WorldShare.sync.ShareWorld");

                ShareWorld.setSharePage();

                function OnOpenWorldDir()
                    GameLogic.RunCommand("/menu file.openworlddir");
                end
             ]]>
        </script>
        <style type="text/mcss">
            {
                text_field = {
                    textcolor = "#ffffff",
                    float = "left",
                    width = 510,
                    height = 30,
                    background = "Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png;263 346 36 36:15 15 15 15",
                },
                info = {
                    ["font-size"] = 13,
                    ["base-font-size"] = 13,
                    ["margin-bottom"] = 5,
                }
            }
        </style>
        <aries:window mode="thin" width="640" height="415" style="float:left;" title='<%=L"分享世界" %>' onclose="ShareWorld.closeSharePage">
            <div style="color:#ffffff">
                <div style="padding:20px;">
                    <div>
                        <div style="float:left">
                            <img name="ShareWorldImage" zorder="1" width="300" height="200" />
                        </div>
                        <div style="float:right;padding-left:28px;">
                            <div style="font-size:18px;base-font-size:18;margin-bottom:25px;">
                                <%= SyncMain.foldername.utf8%>
                                <input type="button" value='...' style="margin-left:3px;margin-top:4px;font-size:11px;height:18px;color:#ffffff;" class="mc_button_blue" onclick="OnOpenWorldDir"/>
                            </div>

                            <div class="info">大小：<%= loginMain.GetWorldSize(ShareWorld.getWorldSize())%></div>
                            <div class="info">远程版本号：<%=SyncMain.remoteRevison %></div>
                            <div class="info">本地版本号：<%=SyncMain.currentRevison %></div>
                            <input type="button" style="font-size:11px;height:20px;color:#ffffff;margin-top:10px;width:65px;height:30px;" value="重新截图" class="mc_light_grey_button_with_fillet" onclick="ShareWorld.snapshot()" />
                        </div>
                    </div>
                    
                    <div style="margin-top:20px;">
                        <input type="text" value="<%= ShareWorld.getWorldUrl()%>" class="text_field"/>
                        <input type="button" width="75" height="30" style="margin-left:10px;" class="mc_light_grey_button_with_fillet" value="浏览" onclick="ShareWorld.openWorldWebPage()" />
                    </div>
                </div>
                <hr style="margin-left:-4px;"/>
                <div>
                    <pe:if condition="<%= SyncMain.compareFinish%>">
                        <input type="button" onclick="ShareWorld.shareNow()" value="上传并分享" class="mc_big_button" align="right" style="margin-right:20px;margin-top:20px;min-width:160px;height:40px" />
                    </pe:if>
                    <pe:if condition="<%= not SyncMain.compareFinish%>">
                        正在比对本地版本与远程版本, 请稍后...
                    </pe:if>
                </div>
            </div>
        </aries:window>
        
    </pe:mcml>
</body>
</html>
