<!-- "Mod/WorldShare/sync/ShareWorld.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>exit world sync,by big,2016/12/10</title>
</head>
<body>
    <pe:mcml>
        <script type="text/npl" refresh="false">
            <![CDATA[
                SyncMain   = commonlib.gettable("Mod.WorldShare.sync.SyncMain");
                loginMain  = commonlib.gettable("Mod.WorldShare.login.loginMain");
                ShareWorld = commonlib.gettable("Mod.WorldShare.sync.ShareWorld");

                ShareWorld.setSharePage();
                ShareWorld.shareCompare();

                echo("SyncMain.compareFinish");
                echo(SyncMain.isFetchRemoteRevision);
             ]]>
        </script>
        <div style="width:500px;height:270px;">
            <aries:window mode="thin" width="500" height="400" style="float:left;" title='<%=L"分享世界" %>' onclose="ShareWorld.closeSharePage">
                <div style="padding:20px;font-size:18px;base-font-size:18px;color:#ffffff">
                    <div>
                        <div style="float:left">
                            <img name="ShareWorldImage" zorder="1" width="240" height="160" />
                        </div>
                        <div style="float:right;padding-left:28px;">
                            <div><%= SyncMain.foldername.utf8%></div>
                            <div>大小：<%= loginMain.GetWorldSize(SyncMain.selectedWorldInfor.size)%></div>
                            <input type="button" width="140" height="40" style="margin-top:45px;background:url(textures/worldshare_32bits.png#20 20 220 48:8 8 8 8);base-font-size:18px;color:#ffffff;textcolor:#ffffff" value="重新截图" onclick="ShareWorld.snapshot()" />
                        </div>
                    </div>
                    
                    <div style="margin-top:15px;">
                       <div style="width:380px;base-font-size:12px;font-size:12px;float:left"><%= ShareWorld.getWorldUrl()%></div>
                       <input type="button" width="61" height="25" style="margin-left:5px;background:url(textures/worldshare_32bits.png#20 20 220 48:8 8 8 8);float:left;color:#ffffff;textcolor:#ffffff" value="打开" onclick="ShareWorld.openWorldWebPage()" />
                    </div>
                    
                    <div style="margin-top:10px;base-font-size:15px;font-size:15px;" width="240">
                        <div>
                            远程版本号：<%=SyncMain.remoteRevison %>
                        </div>
                        <div style="margin-top:5px;">
                            本地版本号：<%=SyncMain.currentRevison %>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <pe:if condition="<%= SyncMain.compareFinish%>">
                            <input type="button" onclick="ShareWorld.shareNow()" value="上传并分享" class="button_highlight" width="175" height="50" align="right" style="float:right;background:url(textures/worldshare_32bits.png#20 20 220 48:8 8 8 8);margin-right:18px;margin-top:13px;" />
                        </pe:if>
                    </div>
                </div>
            </aries:window>
        </div>
    </pe:mcml>
</body>
</html>
