<!-- "script/apps/Aries/Creator/Game/Login/InternetLoadWorld.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>StartSync,by big,2017.4.18</title>
</head>
<body>
    <pe:mcml>
        <script type="text/npl" refresh="false">
            <![CDATA[
                SyncMain = commonlib.gettable("Mod.WorldShare.sync.SyncMain");
                SyncCompare = commonlib.gettable("Mod.WorldShare.sync.SyncCompare")

                SyncMain.setSyncPage();

                function useLocal()
                    SyncMain.closeSyncPage()

                    if(SyncMain.GetCurrentRevision() < SyncMain.GetRemoteRevision()) then
                        SyncMain:useLocalGUI();
                    elseif(SyncMain.GetCurrentRevision() >= SyncMain.GetRemoteRevision()) then
                        SyncMain:syncToDataSource();
                    end
                end

                function useRemote()
                    SyncMain.closeSyncPage()

                    if(SyncMain.GetRemoteRevision() < SyncMain.GetCurrentRevision()) then
                        SyncMain:useDataSourceGUI();
                    elseif(SyncMain.GetRemoteRevision() >= SyncMain.GetCurrentRevision()) then
                        SyncMain:syncToLocal();
                    end
                end

                function useOffline()
                    SyncMain.closeSyncPage()
                end

                function beShowUseRemote()
                    return SyncCompare.IsCompareFinish() and SyncMain.GetRemoteRevision() ~= 0
                end

                function get_window_style()
                    NPL.load("(gl)Mod/WorldShare/helper/Utils.lua")
                    Utils = commonlib.gettable("Mod.WorldShare.helper.Utils")

                    return Utils.FixCenter(500, 270)
                end
             ]]>
        </script>
        <div width="100%" height="100%">
            <aries:window mode="thin" width="500" height="270" style="<%=get_window_style()%>" title='<%=L"与数据源同步" %>' onclose="SyncMain.closeSyncPage">
            	<div style="padding:20px;font-size:18px;base-font-size:18px;color:#ffffff">
            		<div style="margin-left:80px;margin-top:40px;">
                        <%= L"远程版本号：" %>
                		<%= SyncMain.GetRemoteRevision()%>
                		<pe:if condition="<%=beShowUseRemote()%>">
                             <input onclick="useRemote()" class="button_highlight" style="margin-left:10px;width: 130px;height:30px;" type="button" value='<%=L"使用远程版本" %>' />
                		</pe:if>
	                </div>
	                <div style="margin-left:80px;margin-top:30px;">
                        <%=L"本地版本号：" %><%= SyncMain.GetCurrentRevision() %>
	                	<pe:if condition="<%=not SyncCompare.IsCompareFinish()%>">
	                		<input onclick="useOffline()" class="button_highlight" style="margin-left:10px;width: 130px;height:30px;" type="button" value='<%=L"使用本地离线版本" %>' />
	                	</pe:if>
	                	<pe:if condition="<%=SyncCompare.IsCompareFinish()%>">
	                		<input onclick="useLocal()" class="button_highlight" style="margin-left:10px;width: 130px;height:30px;" type="button" value='<%=L"使用本地版本" %>' />
	                	</pe:if>
	                </div>
            	</div>
            </aries:window>
        </div>
    </pe:mcml>
</body>
</html>

