<html>
    <body>
        <pe:mcml>
            <script type="text/npl" refresh="false">
                <![CDATA[
                    -- bottles
                    local Opus = NPL.load('./Opus.lua')

                    -- libs
                    local KeepWorkItemManager = NPL.load('(gl)script/apps/Aries/Creator/HttpAPI/KeepWorkItemManager.lua')

                    local gs_list = {
                        {
                            id = 70001,
                            name = 'honour_anti_epidemic',
                        },
                        {
                            id = 70002,
                            name = 'honour_graduate',
                        },
                        {
                            id = 70003,
                            name = 'honour_parent_child',
                        },
                        {
                            id = 70007,
                            name = 'honour_talent',
                        },
                        {
                            id = 70008,
                            name = 'honour_friends_call',
                        },
                        {
                            id = 70009,
                            name = 'honour_red_star',
                        },
                        {
                            id = 70010,
                            name = 'honour_origin_aspiration',
                        },
                        {
                            id = 70011,
                            name = 'honour_vanguard',
                        },
                        {
                            id = 70012,
                            name = 'bonour_times_successor',
                        },
                    }

                    function get_honour_list()
                        local handle_list = {}    

                        for key, item in ipairs(gs_list) do
                            local handle_item = {
                                name = item.name,
                            }
 
                            local has_item, guid, bag, copies = KeepWorkItemManager.HasGSItem(item.id)
                            local gs_item = KeepWorkItemManager.GetItemTemplate(item.id);

                            if has_item then
                                handle_item.has_item = true
                            else
                                handle_item.has_item = false
                            end

                            handle_item.desc = gs_item.name
                            handle_item.texture = gs_item.extra.picture
                            handle_item.createdAt = gs_item.createdAt
                            handle_item.tooltip = gs_item.desc or ''

                            handle_list[#handle_list + 1] = handle_item
                        end

                        return handle_list
                    end

                    function get_active_style(has_item)
                        if has_item then
                            return 'honour_active_item'
                        else
                            return 'honour_inactive_item'
                        end
                    end

                    function show_certificate(index)
                        local cur = get_honour_list()[index]

                        if cur.has_item then
                            Opus:ShowCertificate(cur.texture, cur.createdAt)
                        end
                    end
                ]]>
            </script>
            <style type="type/mcss" src='Mod/WorldShare/cellar/Opus/OpusMcss.mcss'>
            </style>
            <div width='1024' height='720' style=''>
                <pe:gridview DataSource='<%= get_honour_list() %>'
                             RememberScrollPos='true'
                             AllowPaging='false'
                             VerticalScrollBarStep='80'
                             DefaultNodeHeight='150'
                             CellPadding='0'
                             ItemsPerLine='6'>
                    <Columns width='16.66%'>
                        <div class='<%= get_active_style(Eval("has_item")) %>'>
                            <div width='100%' height='100%' style='position: relative;'>
                                <input width='100%'
                                       height='100%'
                                       type='button'
                                       style='background:;'
                                       name='<%= Eval("index") %>'
                                       onclick='show_certificate'
                                       tooltip='<%= Eval("tooltip") %>' />
                            </div>
                            <div style='width: 146px;height: 105px;'>
                                <div align='center'
                                     class='<%= Eval("name") %>'
                                     style='margin-top: 30px;'></div>
                            </div>
                            <pe:if condition='<%= System.os.GetPlatform() == "win32" %>'>
                                <div style='width: 146px;
                                            height: 35px;
                                            text-align: center;
                                            font-size: 12px;
                                            base-font-size: 12px;
                                            line-height: 20px;'>
                                    <%= Eval("desc") %>
                                </div>
                            </pe:if>
                            <pe:if condition='<%= System.os.GetPlatform() ~= "win32" %>'>
                                <div style='width: 146px;
                                            height: 35px;
                                            text-align: center;
                                            font-size: 13px;
                                            base-font-size: 13px;
                                            line-height: 20px;'>
                                    <%= Eval("desc") %>
                                </div>
                            </pe:if>
                        </div>
                    </Columns>
                </pe:gridview>
            </div>
        </pe:mcml>
    </body>
</html>