<html>
    <body>
        <pe:mcml>
            <script type="text/npl" refresh="false">
                <![CDATA[
                    -- bottles
                    local Opus = NPL.load('./Opus.lua')
                    local CommonLoadWorld = NPL.load('(gl)Mod/WorldShare/cellar/Common/LoadWorld/CommonLoadWorld.lua')

                    -- libs
                    local InternetLoadWorld = commonlib.gettable('MyCompany.Aries.Creator.Game.Login.InternetLoadWorld')

                    local page = document:GetPageCtrl()

                    function sel(index)
                        local my_opus_sel = page:FindControl('my_opus_sel')
                        local my_opus_unsel = page:FindControl('my_opus_unsel')
                        local my_home_sel = page:FindControl('my_home_sel')
                        local my_home_unsel = page:FindControl('my_home_unsel')

                        if index == '1' then
                            my_opus_sel.visible = true
                            my_opus_unsel.visible = false
                            my_home_sel.visible = false
                            my_home_unsel.visible = true

                            if index ~= Opus.cur_sel then
                                Opus.cur_sel = index

                                Opus:CloseMyHome()
                                Opus:ShowOpus()
                            end
                        elseif index == '2' then
                            my_opus_sel.visible = false
                            my_opus_unsel.visible = true
                            my_home_sel.visible = true
                            my_home_unsel.visible = false

                            if index ~= Opus.cur_sel then
                                Opus.cur_sel = index

                                Opus:CloseOpus()
                                Opus:ShowMyHome()
                            end
                        end
                    end

                    page.sel = sel

                    function open()
                        local opus_content = page:GetValue('opus_content', '')

                        local pid = get_project_id(opus_content)

                        if pid then
                            CommonLoadWorld:EnterWorldById(pid)
                        else
                            InternetLoadWorld.GotoUrl(opus_content)
                        end
                    end

                    function get_project_id(opus_content)
                        if (tonumber(opus_content or '') or 99999) < 99999 then
                            return opus_content
                        end

                        local pid = string.match(opus_content or '', "^p(%d+)$")

                        if not pid then
                            pid = string.match(opus_content or '', "/pbl/project/(%d+)")
                        end

                        return pid or false
                    end

                    function close()
                        Opus:CloseAll()
                    end

                    function open_vip()
                        GameLogic.IsVip("RedSummerCampWorks", true, function(result)
                            if result then
                            end
                        end)
                    end

                    function show_explorer()
                        close()
                        Mod.WorldShare.Store:Remove('world/searchFolderName')
                        GameLogic.GetFilters():apply_filters('cellar.explorer.show')
                    end
                ]]>
            </script>
            <style type="type/mcss" src='Mod/WorldShare/cellar/Opus/OpusMcss.mcss'></style>
            <style type="type/mcss" src='Mod/WorldShare/cellar/Theme/Mcss/Theme1.mcss'></style>
            <pe:container
                alignment='_fi'
                zorder='-1'
                width='100%'
                height='100%'
                style='position:relative;background-color:#dcdcdc'>
            </pe:container>
            <pe:container
                alignment='_fi'
                zorder='-1'
                width='100%'
                height='100%'
                class='red_summer_camp_bg'>
            </pe:container>
            <div>
                <div>
                    <div align='right'
                         style='width: 67px;
                                height: 70px;
                                position: relative;
                                margin-right: 20px;
                                margin-top: 8px;'>
                        <div onclick='open_vip'
                             style='background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#304 111 67 70);
                                    width: 67px;
                                    height: 70px;'></div>
                    </div>
                    <div style='background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/courses/courses_32bits.png#7 249 169 56);
                                width: 169px;
                                height: 56px;
                                float: left;'>
                        <div align='center'
                             onclick='close'
                             style='background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#5 67 38 33);
                                    width: 38px;
                                    height: 33px;
                                    margin-top: 12px;
                                    margin-left: -20px;'></div>
                    </div>
                    <div style='float: left;
                                width: 283px;
                                height: 56px;
                                margin-left: -73px;
                                background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/shentongbei/shentongbei_32bits.png#17 794 283 56)'>
                        <div align='center'
                             style='background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#231 197 79 20);
                                    width: 79px;
                                    height: 20px;
                                    margin-top: 19px;
                                    float: left;'></div>
                    </div>
                    <div style='float: left;'>
                        <!-- seach bar -->
                        <div style='background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#176 173 32 42: 7 7 7 7);
                                    width: 490px;
                                    height: 42px;
                                    margin-left: 10px;
                                    margin-top: 10px;'>
                            <div style='width: 495px;'>
                                <input type='text'
                                       uiname="OpusBackground.opus_content"
                                       name='opus_content'
                                       spacing='10'
                                       EmptyText='<%= L"输入项目ID或课程ID或服务器地址" %>'
                                       EmptyTextColor='#FF25282E'
                                       style='width: 406px;
                                              height: 42px;
                                              font-size: 18px;
                                              base-font-size: 18px;
                                              text-valign: center;
                                              background:;'/>
                                <input type='button'
                                       class='opus_bar_button'
                                       DefaultButton='true'
                                       uiname="OpusBackground.open"
                                       style='width: 86px;
                                              height: 46px;
                                              text-offset-y: -3px;
                                              font-weight: bold;
                                              font-size: 20px;
                                              base-font-size: 20px;
                                              margin-top: -2px;'
                                       name='open_button'
                                       onclick='open'
                                       value='<%= L"打开" %>' />
                            </div>
                        </div>
                    </div>
                </div>
                <pe:container alignment='_ct'
                              zorder='-1'
                              width='1280'
                              height='720'
                              style='margin-left:-640px;
                                     margin-top:-340px;
                                     background:;'>
                    <div width='100%' style='padding-top: 20px;'>
                        <pe:container alignment="_ct" style="margin-left:-640px;margin-top:-360px;width:1280px;height:720px;background:url();">
                            <!--背景水印-->
                            <div>
                                <div style="position:relative;margin-left:24px;margin-top:104px;width:512px;height:256px;background:url(Texture/Aries/Creator/keepwork/RedSummerCamp/courses/watermark_bg_32bits.png);" />
                                <div style="position:relative;margin-left:557px;margin-top:26px;width:512px;height:256px;background:url(Texture/Aries/Creator/keepwork/RedSummerCamp/courses/watermark_bg_32bits.png);" />
                                <div style="position:relative;margin-left:103px;margin-top:282px;width:512px;height:256px;background:url(Texture/Aries/Creator/keepwork/RedSummerCamp/courses/watermark_bg_32bits.png);" />
                                <div style="position:relative;margin-left:879px;margin-top:311px;width:512px;height:256px;background:url(Texture/Aries/Creator/keepwork/RedSummerCamp/courses/watermark_bg_32bits.png);" />
                                <div style="position:relative;margin-left:438px;margin-top:477px;width:512px;height:256px;background:url(Texture/Aries/Creator/keepwork/RedSummerCamp/courses/watermark_bg_32bits.png);" />
                            </div>
                        </pe:container>
                        <!-- bottom content -->
                        <div width='18%'
                             style='float: left;
                                    height: 620px;'>
                            <div align='center'
                                 style='height: 64px;
                                        width: 160px;
                                        position: relative;
                                        top: 540px;'>
                                <pe:container style='position: relative;background:;'>
                                    <div style='width: 160px;'>
                                        <input type='button'
                                                onclick='show_explorer' 
                                                name='2'
                                                class='theme1_green_button'
                                                textscale=1.2
                                                style='width: 160px;
                                                       height: 64px;
                                                       font-weight: bold;
                                                       font-size: 20px;
                                                       base-font-size: 20px;
                                                       margin-bottom: 40px;
                                                       color: #000000;'
                                                value='<%= "推荐作品" %>' />
                                    </div>
                                </pe:container>
                            </div>
                            <div align='center'
                                 style='height: 64px;
                                        width: 160px;
                                        margin-bottom: 20px;'>
                                <pe:container name='my_opus_sel' visible='true' style='position: relative;background:;'>
                                    <div style='width: 160px;'>
                                        <input type='button'
                                               onclick='sel'
                                               name='1'
                                               class='opus_menu_button'
                                               textscale=1.2
                                               style='width: 160px;
                                                      font-weight: bold;
                                                      font-size: 20px;
                                                      base-font-size: 40px;'
                                               value='<%= "我的存档" %>' />
                                    </div>
                                </pe:container>
                                <pe:container name='my_opus_unsel' visible='false' style='position: relative;background:;'>
                                    <div style='width: 160px;'>
                                        <input type='button'
                                               onclick='sel'
                                               name='1'
                                               class='opus_menu_button_unsel'
                                               textscale=1.2
                                               style='width: 160px;
                                                      font-weight: bold;
                                                      font-size: 20px;
                                                      base-font-size: 30px;
                                                      margin-bottom: 40px;
                                                      color: #FFFFFF;'
                                               value='<%= "我的存档" %>' />
                                    </div>
                                </pe:container>
                            </div>
                            <div align='center'
                                 style='height: 64px;
                                        width: 160px;
                                        margin-bottom: 20px;'>
                                <pe:container name='my_home_sel' visible='false' style='position: relative;background:;'>
                                    <div style='width: 160px;'>
                                        <input type='button'
                                               onclick='sel'
                                               name='2'
                                               class='opus_menu_button'
                                               textscale=1.2
                                               style='width: 160px;
                                                      font-weight: bold;
                                                      font-size: 20px;
                                                      base-font-size: 20px;
                                                       margin-bottom: 40px;'
                                               value='<%= "我的家园" %>' />
                                    </div>
                                </pe:container>
                                <pe:container name='my_home_unsel' visible='true' style='position: relative;background:;'>
                                    <div style='width: 160px;'>
                                        <input type='button'
                                               onclick='sel'
                                               name='2'
                                               class='opus_menu_button_unsel'
                                               textscale=1.2
                                               style='width: 160px;
                                                      font-weight: bold;
                                                      font-size: 20px;
                                                      base-font-size: 20px;
                                                       margin-bottom: 40px;
                                                       color: #FFFFFF;'
                                               value='<%= "我的家园" %>' />
                                    </div>
                                </pe:container>
                            </div>
                        </div>
                        <div style='float:left;
                                    height: 620px;
                                    width: 2px;
                                    margin-left: -6px;
                                    background-color: #99999999;'></div>
                        <div width='80%' style='float: left;'>
                            <!-- holder -->
                        </div>
                    </div>
                </pe:container>
            </div>
        </pe:mcml>
    </body>
</html>