<html>
    <body>
        <pe:mcml>
            <script type="text/npl" refresh="false">
                <![CDATA[
                    -- bottles
                    local Create = NPL.load('Mod/WorldShare/cellar/Create/Create.lua')
                    local CreateWorld = NPL.load("(gl)Mod/WorldShare/cellar/CreateWorld/CreateWorld.lua")

                    local page = document:GetPageCtrl()

                    function sel_kind(index)
                        local sel_all = page:FindControl('sel_all')
                        local sel_online = page:FindControl('sel_online')
                        local sel_local = page:FindControl('sel_local')

                        sel_all.visible = false
                        sel_online.visible = false
                        sel_local.visible = false

                        if index == '1' then
                            sel_all.visible = true
                            Create.statusFilter = nil
                            Create:GetWorldList()
                        elseif index == '2' then
                            sel_online.visible = true
                            Create.statusFilter = 'ONLINE'
                            Create:GetWorldList('ONLINE')
                        elseif index == '3' then
                            sel_local.visible = true
                            Create.statusFilter = 'LOCAL'
                            Create:GetWorldList('LOCAL')
                        end
                    end

                    function search()
                        local search_text = page:GetValue('search_text')

                        if type(search_text) == "string" then
                            Mod.WorldShare.Store:Set("world/searchText", search_text)
                            refresh()
                        end
                    end

                    function refresh()
                        Create:GetWorldList(Create.statusFilter)
                    end

                    function create_new_world()
                        CreateWorld:CreateNewWorld()
                    end
                ]]>
            </script>
            <style type="type/mcss" src='Mod/WorldShare/cellar/Opus/OpusMcss.mcss'>
            </style>
            <div width='1024' height='720'>
                <div>
                    <div style='float: left;
                                width: 330px;
                                height: 64px;
                                margin-left: -3px;
                                margin-right: 10px;'>
                        <div zorder='-1'
                             style='position: relative;
                                    width: 320px;
                                    height: 52px;
                                    margin-left: 4px;
                                    margin-top: 2px;
                                    background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#92 173 32 42:9 9 9 9);'></div>
                        <div style='width: 110px;height: 64px;float: left;'>
                            <!-- 全部 -->
                            <input type='button'
                                    zorder='1'
                                    onclick='sel_kind'
                                    name='1'
                                    style='position: relative;
                                           width: 110px;
                                           height: 64px;
                                           background:;' />
                            <pe:container name='sel_all' visible='true' style='background:;'>
                                <div style='position: relative;
                                            width: 110px;
                                            height: 64px;
                                            background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#87 110 111 52:20 0 20 0);'></div>
                            </pe:container>
                            <div align='center' style='width: 41px;height: 20px;'>
                                <img src='Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#196 74 41 20'
                                        style='width: 41px;
                                            height: 20px;
                                            margin-top: 18px;' />
                            </div>
                        </div>
                        <div style='width: 110px;height: 64px;float: left;'>
                            <!-- 在线 -->
                            <input type='button'
                                   zorder='1'
                                   onclick='sel_kind'
                                   name='2'
                                   style='position: relative;
                                           width: 110px;
                                           height: 64px;
                                           background:;' />
                            <pe:container name='sel_online' visible='false' style='background:;'>
                                <div style='position: relative;
                                            width: 110px;
                                            height: 64px;
                                            background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#87 110 111 52:20 0 20 0);'></div>
                            </pe:container>
                            <div align='center' style='width: 41px;height: 20px;'>
                                <img src='Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#241 74 41 20'
                                        style='width: 41px;
                                            height: 20px;
                                            margin-top: 18px;' />
                            </div>
                        </div>
                        <div style='width: 110px;height: 64px;float: left;'>
                            <!-- 本地 -->
                            <input type='button'
                                   zorder='1'
                                   onclick='sel_kind'
                                   name='3'
                                   style='position: relative;
                                          width: 110px;
                                          height: 64px;
                                          background:;' />
                            <pe:container name='sel_local' visible='false' style='background:;'>
                                <div style='position: relative;
                                            width: 110px;
                                            height: 64px;
                                            background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#87 110 111 52:20 0 20 0);'></div>
                            </pe:container>
                            <div align='center' style='width: 41px;height: 20px;'>
                                <img src='Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#286 74 41 20'
                                        style='width: 41px;
                                            height: 20px;
                                            margin-top: 18px;' />
                            </div>
                        </div>
                    </div>
                    <div style='float: left;
                                width: 340px;
                                height: 64px;
                                margin-right: 30px;'>
                        <div>
                            <div zorder='-1'
                                 style='position: relative;
                                        width: 335px;
                                        height: 52px;
                                        margin-left: 4px;
                                        margin-top: 2px;
                                        background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#135 173 32 43:9 9 9 9);'></div>
                            <div style='float:left;
                                        background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#334 76 16 18);
                                        width: 16px;
                                        height: 18px;
                                        margin-left: 20px;
                                        margin-top: 20px;'></div>
                            <div style='float: left'>
                                <input type='text'
                                       EmptyText='<%= L"搜索列表项目" %>'
                                       name='search_text'
                                       style='width: 219px;
                                              height: 40px;
                                              margin-left: 10px;
                                              margin-top: 8px;
                                              textcolor: #FFFFFF;
                                              text-valign: center;
                                              font-size: 18px;
                                              base-font-size: 18px;
                                              background:;'/>
                            </div>
                            <div style='float: left'>
                                <input type='button'
                                        class='opus_bar_button'
                                        DefaultButton='true'
                                        onclick='search'
                                        style='width: 86px;
                                                height: 56px;
                                                text-offset-y: -3px;
                                                font-size: 16px;
                                                base-font-size: 16px;'
                                        value='<%= L"搜索" %>' />
                            </div>
                        </div>
                    </div>
                    <div style='float: left;'>
                        <input type='button'
                               onclick='create_new_world'
                               style='background: url(Texture/Aries/Creator/keepwork/RedSummerCamp/works/works_32bits.png#9 254 297 52);
                                      width: 297px;
                                      height: 52px;
                                      margin-top: 2px;
                                      margin-left: 5px;' />
                    </div>
                </div>
                <div>
                    <!-- holder -->
                </div>
            </div>
        </pe:mcml>
    </body>
</html>