<html>
    <body> 
        <pe:mcml>
            <script type="text/npl">
                <![CDATA[
                    local MainLogin = NPL.load('(gl)Mod/WorldShare/cellar/MainLogin/MainLogin.lua')

                    function GetModCountAsString()
                        NPL.load('(gl)script/apps/Aries/Creator/Game/Mod/ModManager.lua')
                        local ModManager = commonlib.gettable('Mod.ModManager')
                        local pluginloader = ModManager:GetLoader()
                        local nCount = pluginloader:GetActiveModCount()

                        if nCount > 0 then
                            return format('(%d)', nCount)
                        else
                            return ''
                        end
                    end

                    function OnOpenModulePage()
                        NPL.load('(gl)script/apps/Aries/Creator/Game/Login/SelectModulePage.lua');
                        local SelectModulePage = commonlib.gettable('MyCompany.Aries.Game.MainLogin.SelectModulePage')
                        SelectModulePage.ShowPage()
                    end

                    function OnChangeLanguagePage()
                        NPL.load('(gl)script/apps/Aries/Creator/Game/Common/Translation.lua')

                        local Translation = commonlib.gettable('MyCompany.Aries.Game.Common.Translation')
                        Translation.ShowPage(function()
                            MainLogin:Close()
                            MainLogin:Show()
                        end)
                    end

                    function OnClickCustomerService()
                        ParaGlobal.ShellExecute('open', L'https://keepwork.com/official/docs/FAQ/questions', '', '', 1)
                    end
                ]]>
            </script>
            <style type="text/mcss" src='Mod/WorldShare/cellar/Theme/Mcss/MainLoginMcss.mcss'>
                {
                   
                }
            </style>
            <div>
                <pe:if condition='<%= System.options.isDevEnv == false %>'>
                    <pe:if  condition='<%= System.os.GetPlatform() ~= "ios" and System.os.GetPlatform() ~= "android" %>'>
                        <input type="button"
                               style="width: 121px;height: 44px;background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#283 693 121 44)"
                               onclick="OnOpenModulePage" /> 
                    </pe:if>        
                </pe:if>
                <input type="button"
                       style="margin-left: 20px;width: 131px;height: 44px;background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#281 831 131 44)"
                       onclick="OnChangeLanguagePage" />
                <input type="button"
                       style="margin-left: 20px;width: 172px;height: 43px;background: url(Texture/Aries/Creator/paracraft/paracraft_login_32bits.png#283 643 172 43)"
                       onclick="OnClickCustomerService" />
            </div>
        </pe:mcml>
    </body>
</html>