<html>
    <body>
        <pe:mcml>
            <script type="text/npl" refresh="false">
                <![CDATA[
                    -- libs
                    local InternetLoadWorld = commonlib.gettable("MyCompany.Aries.Creator.Game.Login.InternetLoadWorld")

                    -- bottles
                    SyncMain = NPL.load("(gl)Mod/WorldShare/cellar/Sync/Main.lua")

                    -- service
                    local Compare = NPL.load("(gl)Mod/WorldShare/service/SyncService/Compare.lua")
                    local LocalService = NPL.load('(gl)Mod/WorldShare/service/LocalService.lua')

                    page = document:GetPageCtrl()
                    use_offline = page:GetRequestParam("useOffline")

                    function use_local()
                        SyncMain:CloseStartSyncPage()

                        if SyncMain.GetCurrentRevision() < SyncMain.GetRemoteRevision() then
                            SyncMain:ShowStartSyncUseLocalPage(page.afterSyncCallback)
                        elseif SyncMain.GetCurrentRevision() >= SyncMain.GetRemoteRevision() then
                            SyncMain:CheckTagName(function(result, remoteName)
                                if not result or type(result) ~= 'string' then
                                    return
                                end

                                if result == 'remote' then
                                    local currentWorld = Mod.WorldShare.Store:Get('world/currentWorld')
                                    local tag = LocalService:GetTag(currentWorld.worldpath)
                
                                    tag.name = remoteName
                                    currentWorld.name = remoteName

                                    LocalService:SetTag(currentWorld.worldpath, tag)
                                    Mod.WorldShare.Store:Set('world/currentWorld', currentWorld)
                                end

                                SyncMain:SyncToDataSource(page.afterSyncCallback)
                            end)
                        end
                    end

                    function use_remote()
                        SyncMain:CloseStartSyncPage()

                        if SyncMain.GetRemoteRevision() < SyncMain.GetCurrentRevision() then
                            SyncMain:ShowStartSyncUseDataSourcePage(page.afterSyncCallback)
                        elseif SyncMain.GetRemoteRevision() >= SyncMain.GetCurrentRevision() then
                            SyncMain:SyncToLocal(function()
                                SyncMain:CheckTagName(function(result, remoteName)
                                    if not result or type(result) ~= 'string' then
                                        return
                                    end

                                    if result and result == 'remote' then
                                        local currentWorld = Mod.WorldShare.Store:Get('world/currentWorld')
                                        local tag = LocalService:GetTag(currentWorld.worldpath)
                    
                                        tag.name = remoteName
                                        currentWorld.name = remoteName

                                        LocalService:SetTag(currentWorld.worldpath, tag)
                                        Mod.WorldShare.Store:Set('world/currentWorld', currentWorld)
                                        GameLogic.AddBBS(nil, format(L'更新【%s】名称信息完成', currentWorld.foldername), 3000, '0 255 0')
                                    end

                                    if page.afterSyncCallback and type(page.afterSyncCallback) == 'function' then
                                        page.afterSyncCallback()
                                    end
                                end)
                            end)
                        end
                    end

                    function be_show_use_remote()
                        return Compare:IsCompareFinish() and SyncMain.GetRemoteRevision() ~= 0
                    end

                    function get_window_style()
                        return Mod.WorldShare.Utils.FixCenter(500, 270)
                    end

                    function close()
                        local isEnterWorld = Mod.WorldShare.Store:Get("world/isEnterWorld")

                        if isEnterWorld then
                            SyncMain:CloseStartSyncPage()
                            return true
                        end

                        SyncMain:CloseStartSyncPage()
                    end

                    function enter_offline_world()
                        local currentWorld = Mod.WorldShare.Store:Get('world/currentWorld')

                        if not currentWorld then
                            return false
                        end

                        InternetLoadWorld.LoadWorld(currentWorld)
                        SyncMain:CloseStartSyncPage()
                    end

                    function get_current_world_name()
                        return Mod.WorldShare.Store:Getter("world/GetWorldTextName")
                    end

                    function get_bigger_class(type)
                        if type == 'remote' and SyncMain.GetRemoteRevision() > SyncMain.GetCurrentRevision() then
                            return 'theme1_orange_button'
                        end

                        if type == 'local' and SyncMain.GetRemoteRevision() < SyncMain.GetCurrentRevision() then
                            return 'theme1_orange_button'
                        end

                        return 'theme1_gray_button'
                    end
                ]]>
            </script>
            <style type="text/mcss" src="Mod/WorldShare/cellar/Theme/Mcss/Theme1.mcss"></style>
            <div width="100%" height="100%">
                <kp:window width="500" height="270" style="<%= get_window_style()%>"  title='<%=L"与数据源同步" %>' onclose="close()">
                    <div style="height: 40px;"></div>
                    <div style="padding:20px;font-size:18px;base-font-size:18px;color:#000000">
                        <div style="margin-left:80px;margin-top:20px;">
                            <%= L"世界名称：" %>
                            <%= get_current_world_name() %>
                        </div>
                        <div style="margin-left:80px;margin-top:20px;">
                            <%= L"远程版本号：" %>
                            <%= SyncMain.GetRemoteRevision()%>
                            <pe:if condition="<%=be_show_use_remote()%>">
                                <input onclick="use_remote()" class="<%= get_bigger_class('remote') %>" name="remote" style="<%= 'margin-left:10px;width: 130px;height:30px;' %>" type="button" value='<%=L"使用远程版本" %>' />
                            </pe:if>
                        </div>
                        <div style="margin-left:80px;margin-top:20px;">
                            <%=L"本地版本号：" %><%= SyncMain.GetCurrentRevision() %>
                            <pe:if condition="<%=use_offline == 'true' %>">
                                <input onclick="enter_offline_world()" class="theme1_gray_button" style="margin-left:10px;width: 130px;height:30px;" type="button" value='<%=L"使用本地离线版本" %>' />
                            </pe:if>
                            <pe:if condition="<%=use_offline == 'false' %>">
                                <input onclick="use_local()" class="<%= get_bigger_class('local') %>" name="local" style="<%= 'margin-left:10px;width: 130px;height:30px;' %>" type="button" value='<%=L"使用本地版本" %>' />
                            </pe:if>
                        </div>
                    </div>
                </kp:window>
            </div>
        </pe:mcml>
    </body>
</html>

