<body>
    <pe:mcml>
        <script type="text/npl" refresh="false">
            <![CDATA[
                local MsgBox = NPL.load("./MsgBox.lua")
                MsgBox.SetPage();

                function get_window_style()
                    Utils = NPL.load("(gl)Mod/WorldShare/helper/Utils.lua")

                    return Utils.FixCenter(300, 150)
                end

                function get_msg()
                    return MsgBox.GetMsg()
                end
            ]]>
        </script>
        <div width="100%" height="100%">
            <aries:window mode="thin" width="300" height="150" style="<%= get_window_style() %>" title='<%=L"提示" %>'>
                <div style="padding:20px;font-size:18px;base-font-size:18px;color:#ffffff;margin-top:20px;">
                    <div style="margin-right:60px;">
                       <%= get_msg() %>
                    </div>
                </div>
            </aries:window>
        </div>
    </pe:mcml>
</body>
</html>
