<html>
    <body>
        <pe:mcml>
            <script type="text/npl">
                <![CDATA[
                    -- UI
                    local Panorama = NPL.load('./Panorama.lua')

                    local page = document:GetPageCtrl()

                    local width = page:GetRequestParam('width') or 0
                    local height = page:GetRequestParam('height') or 0
                    local scale_width = page:GetRequestParam('scaleWidth') or 0
                    local scale_height = page:GetRequestParam('scaleHeight') or 0

                    function close()
                        Panorama.UpdateEscDock(false)
                        page:CloseWindow()
                    end

                    function get_width()
                        return width
                    end

                    function get_height()
                        return height
                    end

                    function get_scale_width()
                        return scale_width
                    end

                    function get_scale_height()
                        return scale_height
                    end

                    function start_shooting()
                        close() 
                        Panorama:StartShooting()
                    end

                    function get_window_style()
                        local style = 'background: url(Texture/Aries/Creator/keepwork/kuang_187x128_32bits.png#0 0 187 128:55 45 90 45);'

                        local marginLeft = (tonumber(width) - tonumber(scale_width)) / 2
                        local marginTop = (tonumber(height) - tonumber(scale_height)) / 2

                        style = style .. 'margin-left: ' .. marginLeft .. 'px;margin-top: ' .. marginTop .. 'px;'

                        return style
                    end

                    function get_close_button_style()
                        local style = 'width: 22px;height: 22px;background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#575 297 22 22);'

                        local marginTop = (-(tonumber(height) - tonumber(scale_height)) / 2) + 8
                        local marginLeft = scale_width + ((tonumber(width) - tonumber(scale_width)) / 2) - 30

                        style = style .. 'margin-top: ' .. marginTop .. 'px;' .. 'margin-left: ' .. marginLeft .. 'px;'

                        return style
                    end

                    function get_center_point_style()
                        local style = 'position: relative;width: 28px;height: 28px;background: url(Texture/Aries/Creator/keepwork/zhunxing_31x31_32bits.png#0 0 31 31);'

                        local marginTop = scale_height / 2 - 40
                        local marginLeft = scale_width / 2

                        style = style .. 'margin-left: ' .. marginLeft .. 'px;' .. 'margin-top: ' .. marginTop .. 'px;'

                        return style
                    end

                    function get_textBgStyle()
                        local style = 'width: %spx;height: 54px;margin-left:%spx;background: url(Texture/Aries/Creator/keepwork/kuang_54x54_32bits.png#0 0 54 54:20 20 20 20);'
                        style = string.format(style,tonumber(scale_width)-100,100*0.5)
                        return style
                    end
                ]]>
            </script>
            <style type="text/mcss" src="Mod/WorldShare/cellar/Theme/Mcss/Theme1.mcss"></style>
            <div style="<%= get_window_style() %>">
                <div style="<%= 'width: ' .. get_scale_width() .. 'px;height: ' .. get_scale_height() .. 'px;' %>">
                    <div style="<%= 'height: 40px;width: ' .. get_scale_width() .. 'px;' %>">
                        <!-- title bar --> 
                        <!-- <div style="position: relative;margin-top: 8px;margin-left: 15px;width: 165px;height: 25px;background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#575 331 165 25)"></div> -->
                        <input type="button"
                               style="<%= get_close_button_style() %>"
                               onclick="close()" />
                    </div>
                    <div>
                        <!-- body -->
                        
                        <div style="<%= get_center_point_style() %>"></div>
                        <!-- <div style="<%= 'margin-left: ' .. (get_scale_width() / 2 - 62.5) .. 'px;margin-top: ' .. (get_scale_height() - 40) .. 'px;' %>">
                            <input type="button"
                                   class="theme1_orange_button"
                                   style="width: 125px;height: 45px;"
                                   onclick="start_shooting()"
                                   value="<%= L'开始拍摄' %>" />
                        </div> -->
                        
                        
                    </div>
                </div>
                <div style='<%= get_textBgStyle() %>'>
                    <div style="float:left;color:#ffffff;font-weight: bold;font-size: 18;margin-left: 10;margin-top: 13px;">
                        <%= L'选择一个位置，系统将围绕这里生成360度的全景展示图' %>
                    </div>
                    <input type="button" style="float:right;width: 100px;height: 44px;margin-top: 7;margin-right: 5; background: url(Texture/Aries/Creator/keepwork/luzhianniu_100x44_32bits.png#0 0 100 44);font-weight:bold;font-size:14;text-offset-y:-2"
                        onclick="start_shooting()" align="right"
                        value="<%= L'开始拍摄' %>" />
                </div>
            </div>
        </pe:mcml>
    </body>
</html>