<html>
    <body>
        <pe:mcml>
            <script type="text/npl">
                <![CDATA[
                    -- UI
                    local Panorama = NPL.load('./Panorama.lua')

                    local page = document:GetPageCtrl()

                    function close()
                        page:CloseWindow()
                    end

                    function share()
                        close()
                        Panorama:ShowShare()
                    end

                    function retry()
                        close()
                        Panorama:ShowCreate(true)
                    end

                    function get_share_url()
                        return Panorama.shareUrl .. "?bust=" .. os.time()
                    end
                ]]>
            </script>
            <style type="text/mcss" src="Mod/WorldShare/cellar/Theme/Mcss/Theme1.mcss"></style>
            <kp:window width="500" height="653" onclose="close()">
                <div style="width: 500px;height: 40px;">
                    <!-- title -->
                    <div style="margin-top: 8px;margin-left: 12px;width: 159px;height: 24px;background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#575 363 159 24);"></div>
                </div>
                <div>
                    <div style="float: left;margin-left: 10px;margin-top: 8px;width: 274px;height: 593px;">
                        <pe:nplbrowser
                            name="panorama_preview"
                            enabledResize="true"
                            width="274"
                            height="593"
                            url="<%= get_share_url() %>"
                            style="background:url()"
                        />
                    </div>
                    <div style="float: left;width: 216px;height: 200px;">
                        <div style="width: 197px;height: 55px;margin-left: 10px;margin-top: 30px;">
                            <input type="button" class="theme1_green_button" style="position: relative;width: 200px;height: 60px;font-size: 18px;base-font-size: 18px;"  value="<%= L'分享' %>" onclick="share()"/>
                        </div>
                        <div style="width: 197px;height: 55px;margin-left: 10px;margin-top: 10px;">
                            <input type="button" class="theme1_gray_button" style="position: relative;width: 200px;height: 60px;font-size: 18px;base-font-size: 18px;" value="<%= L'重新拍摄' %>" onclick="retry()"/>
                        </div>
                    </div>
                    <!-- body -->
                </div>
            </kp:window>
        </pe:mcml>
    </body>
</html>