<html>
    <body>
        <pe:mcml>
            <script type="text/npl">
                <![CDATA[
                    local MySchool = NPL.load("(gl)Mod/WorldShare/cellar/MySchool/MySchool.lua")
                    local page = document:GetPageCtrl()

                    function close()
                        page:CloseWindow()

                        if MySchool.callback and type(MySchool.callback) == 'function' then
                            MySchool.callback()
                        end

                        if MySchool.joinSchoolCallback and type(MySchool.joinSchoolCallback) == 'function' then
                            MySchool.joinSchoolCallback()
                        end
                    end

                    function record_school()
                        MySchool:ShowRecordSchool()
                        page:CloseWindow()
                    end

                    function get_provinces()
                        return MySchool.provinces
                    end

                    function get_cities()
                        return MySchool.cities
                    end

                    function get_areas()
                        return MySchool.areas
                    end

                    function get_kinds()
                        return MySchool.kinds
                    end

                    function get_result()
                        return MySchool.result
                    end

                    function select_province(name, value)
                        if value == 0 then
                            return false
                        end

                        MySchool.curId = value

                        MySchool:GetCities(value, function(data)
                            MySchool.cities = data
                            MySchool.areas = {
                                {
                                    text = L"区",
                                    value = 0,
                                    selected = true,
                                }
                            }

                            if MySchool.searchText and MySchool.searchText ~= "" then
                                MySchool:GetSearchSchoolResultByName(MySchool.searchText, function()
                                    MySchool:RefreshJoinSchool()
                                    page:SetValue('school_name', MySchool.searchText)
                                end)

                                return
                            end

                            MySchool:GetSearchSchoolResult(value, MySchool.kind, function(data)
                                MySchool:RefreshJoinSchool()
                                page:SetValue('school_name', MySchool.searchText)
                            end)

                            MySchool:RefreshJoinSchool()
                            page:SetValue('school_name', MySchool.searchText)
                        end)
                    end

                    function select_city(name, value)
                        if value == 0 then
                            return false
                        end

                        MySchool.curId = value

                        MySchool:GetAreas(value, function(data)
                            MySchool.areas = data

                            if MySchool.searchText and MySchool.searchText ~= "" then
                                MySchool:GetSearchSchoolResultByName(MySchool.searchText, function()
                                    MySchool:RefreshJoinSchool()
                                    page:SetValue('school_name', MySchool.searchText)
                                end)

                                return
                            end

                            MySchool:GetSearchSchoolResult(value, MySchool.kind, function(data)
                                MySchool:RefreshJoinSchool()
                                page:SetValue('school_name', MySchool.searchText)
                            end)
                            
                            MySchool:RefreshJoinSchool()
                            page:SetValue('school_name', MySchool.searchText)
                        end)
                    end

                    function select_area(name, value)
                        if value == 0 then
                            return false
                        end

                        MySchool.curId = value

                        if MySchool.searchText and MySchool.searchText ~= "" then
                            MySchool:GetSearchSchoolResultByName(MySchool.searchText, function()
                                MySchool:RefreshJoinSchool()
                                page:SetValue('school_name', MySchool.searchText)
                            end)

                            return
                        end

                        MySchool:GetSearchSchoolResult(value, MySchool.kind, function(data)
                            MySchool:RefreshJoinSchool()
                            page:SetValue('school_name', MySchool.searchText)
                        end)
                    end

                    function select_kind(name, value)
                        if value == 0 then
                            MySchool.kind = nil
                        else
                            MySchool.kind = value
                        end

                        if MySchool.searchText and MySchool.searchText ~= "" then
                            MySchool:GetSearchSchoolResultByName(MySchool.searchText, function()
                                MySchool:RefreshJoinSchool()
                                page:SetValue('school_name', MySchool.searchText)
                            end)

                            return
                        end

                        if not MySchool.curId or MySchool.curId == 0 then
                            return false
                        end

                        MySchool:GetSearchSchoolResult(MySchool.curId, MySchool.kind, function(data)
                            MySchool:RefreshJoinSchool()
                            page:SetValue('school_name', MySchool.searchText)
                        end)
                    end

                    function confirm()
                        local JoinSchoolResultPage = Mod.WorldShare.Store:Get('page/Mod.WorldShare.JoinSchoolResult')

                        if not JoinSchoolResultPage then
                            return false
                        end

                        local text = JoinSchoolResultPage:GetValue("result")
                        local curItem

                        for key, item in ipairs(get_result()) do
                            if item.text == text then
                                curItem = item
                                break
                            end
                        end

                        if not curItem or not curItem.value or curItem.value == 0 then
                            GameLogic.AddBBS(nil, L"请选择一所学校", 3000, "255 0 0")
                            return false
                        end

                        Mod.WorldShare.MsgBox:Show(L"请稍候...")
                        MySchool:ChangeSchool(curItem.value, function(bSuccessed)
                            Mod.WorldShare.MsgBox:Close()
                            if bSuccessed then
                                page:CloseWindow()
                                GameLogic.AddBBS(nil, L"加入学校成功", 3000, "0 255 0")
                            else
                                GameLogic.AddBBS(nil, L"加入学校失败", 3000, "255 0 0")
                            end

                            if MySchool.callback and type(MySchool.callback) == 'function' then
                                MySchool.callback()
                            end

                            if MySchool.joinSchoolCallback and type(MySchool.joinSchoolCallback) == 'function' then
                                MySchool.joinSchoolCallback()
                            end
                        end)
                    end

                    function on_enter_school_name(name, mcmlNode)
                        local text = mcmlNode:GetUIValue()

                        MySchool.searchText = text

                        if text and text == "" and MySchool.curId ~= 0 then
                            MySchool:GetSearchSchoolResult(MySchool.curId, MySchool.kind, function(data)
                                MySchool:RefreshJoinSchool()
                                page:SetValue('school_name', MySchool.searchText)
                            end)

                            return
                        end

                        MySchool:GetSearchSchoolResultByName(text, function()
                            local JoinSchoolResultPage = Mod.WorldShare.Store:Get("page/Mod.WorldShare.JoinSchoolResult")

                            if JoinSchoolResultPage then
                                JoinSchoolResultPage:Refresh(0.01)
                            end
                        end)
                    end

                    function select_search_by_name()
                        --[[ if focus_refresh then
                            return false
                        end

                        if MySchool.provinces and type(MySchool.provinces) == 'table' then
                            for key, item in ipairs(MySchool.provinces) do
                                if item and type(item) == 'table' and item.selected then
                                    item.selected = nil
                                end

                                if item and type(item) == 'table' and item.value == 0 then
                                    item.selected = true
                                end
                            end
                        end

                        MySchool.cities = {
                            {
                                text = L"市",
                                value = 0,
                                selected = true,
                            }
                        }
                    
                        MySchool.areas = {
                            {
                                text = L"区",
                                value = 0,
                                selected = true,
                            }
                        }
                    
                        MySchool.kinds = {
                            {
                                text = L"学校类型",
                                value = 0,
                                selected = true,
                            },
                            {
                                text = L"小学",
                                value = L"小学"
                            },
                            {
                                text = L"中学",
                                value = L"中学"
                            },
                            {
                                text = L"大学",
                                value = L"大学",
                            }
                        }

                        MySchool.result = {
                            {
                                text = L"在这里显示筛选的结果",
                                value = 0,
                                selected = true,
                            },
                        }

                        MySchool:RefreshJoinSchool()

                        Mod.WorldShare.Utils.SetTimeOut(function()
                            focus_refresh = true
                            page:FindControl('school_name'):Focus()
                            Mod.WorldShare.Utils.SetTimeOut(function()
                                focus_refresh = false
                            end, 500)
                        end, 500) ]]
                    end
                ]]>
            </script>
            <style type="text/mcss" src="Mod/WorldShare/cellar/Theme/Mcss/Theme1.mcss"></style>
            <kp:window width="600" height="420" icon="Texture/Aries/Creator/keepwork/Window/title/biaoti_xuexiao_32bits.png">
                <div style="width: 600px; height: 40px;">
                    <div style="margin-left: 120px;margin-top: 14px;font-size: 14px;base-font-size: 14px;color: #ffffff;"><%=L"加入学校"%></div>
                </div>
                <div width="100%" height="100%" style="padding-left: 30px;padding-top: 25px;">
                    <div style="margin-left: 80px;margin-top: 10px;">
                        <div><%= L"请输入学校名称搜索：" %></div>
                        <div>
                            <input type="text" class="bbs_text" style="width: 380px;height: 30px;" onchange="on_enter_school_name" onfocusin="select_search_by_name()" name="school_name" value="" />
                        </div>
                    </div>
                    <div style="margin-left: 80px;margin-top: 10px;">
                        <div><%= L"请选择：" %></div>
                        <div>
                            <div style="margin-bottom: 10px;">
                                <select name="province" style="width:87px;height: 26px;" DataSource="<%= get_provinces() %>" onselect="select_province"></select>
                                <select name="city" DataSource="<%= get_cities() %>" style="margin-left: 10px;width:87px;height: 26px;" onselect="select_city"></select>
                                <select name="area" DataSource="<%= get_areas() %>" style="margin-left: 10px;width:87px;height: 26px;" onselect="select_area"></select>
                                <select name="kind" DataSource="<%= get_kinds() %>" style="margin-left: 10px;width:88px;height: 26px;" onselect="select_kind"></select>
                            </div>
                            <div style="width: 380px;margin-bottom: 10px;height: 100px;"></div>
                            <div style="width: 380px;">
                                <%= L"*如果您的学校未出现在列表中，请联系客服。我们会尽快添加。客服QQ：2850955888" %>
                                <!-- <a style="background: " onclick="record_school()"> <%= L'》登记学校《' %> </a> -->
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px;margin-left: 105px;">
                        <input type="button" class="theme1_orange_button" style="height: 35px;width: 105px;margin-left: 140px;" value="<%= L'确定' %>" onclick="confirm()"/>
                        <input type="button" class="theme1_gray_button" style="height: 35px;width: 105px;margin-left: 10px;" value="<%= L'跳过' %>" onclick="close()"/>
                    </div>
                </div>
            </kp:window>
        </pe:mcml>
    </body>
</html>
