<html>
<body>
    <pe:mcml>
        <script type="text/npl">
            <![CDATA[
                -- libs
                local UniString = commonlib.gettable("System.Core.UniString")

                -- UI
                local MySchool = NPL.load("(gl)Mod/WorldShare/cellar/MySchool/MySchool.lua")
                local KeepworkService = NPL.load("(gl)Mod/WorldShare/service/KeepworkService.lua")
                local UserConsole = NPL.load("(gl)Mod/WorldShare/cellar/UserConsole/Main.lua")

                local page = document:GetPageCtrl()
                local global_type = type

                function close()
                    page:CloseWindow()

                    if MySchool.callback and global_type(MySchool.callback) == 'function' then
                        MySchool.callback()
                    end
                end

                function has_joined(index)
                    if not MySchool or global_type(MySchool.hasJoined) ~= "boolean" then
                        return false
                    end

                    if index == 1 then
                        if MySchool.hasJoined then
                            return true
                        else
                            return false
                        end
                    end

                    if index == 2 then
                        if MySchool.hasJoined then
                            return false
                        else
                            return true
                        end
                    end
                end

                function join_school()
                    MySchool:ShowJoinSchool()
                    page:CloseWindow()
                end

                function join_institute()
                    MySchool:ShowJoinInstitute()
                    close()
                end

                function get_data()
                    return MySchool.orgData
                end

                function has_school_joined()
                    if MySchool.hasSchoolJoined then
                        return true
                    else
                        return false
                    end
                end

                function enter_world(index)
                    local data = get_data()
                    local curData = data[index] or {}

                    if not curData or not curData.paraWorld or not curData.paraWorld.projectId then
                        return
                    end

                    local currentEnterWorld = Mod.WorldShare.Store:Get('world/currentEnterWorld')

                    close()
                    if currentEnterWorld and currentEnterWorld.text then
                        _guihelper.MessageBox(
                            format(L"即将离开【%s】进入【%s】", currentEnterWorld.text, curData.paraWorld.name),
                            function(res)
                                if res and res == _guihelper.DialogResult.Yes then
                                    UserConsole:HandleWorldId(curData.paraWorld.projectId, true) 
                                end
                            end,
                            _guihelper.MessageBoxButtons.YesNo
                        )
                    else
                        UserConsole:HandleWorldId(curData.paraWorld.projectId, true)
                    end
                end

                function open_page(index)
                    local data = get_data()
                    local curData = data[index] or {}

                    if not curData or not curData.orgUrl then
                        return
                    end

                    local url = KeepworkService:GetKeepworkUrl() .. "/org/" .. curData.orgUrl .. "/index"

                    ParaGlobal.ShellExecute("open", url, "", "", 1)
                end

                function get_place(region) 
                    if region and region.state and region.state.name then
                        return region.state.name
                    else
                        return L"暂无"
                    end
                end

                function get_name()
                    local cur_name = Eval('name')

                    if not cur_name or cur_name == "" then
                        return ""
                    end

                    if _guihelper.GetTextWidth(cur_name) > 240 then
                        local function chsize(char)
                            if not char then
                                return 0
                            elseif char > 240 then
                                return 4
                            elseif char > 225 then
                                return 3
                            elseif char > 192 then
                                return 2
                            else
                                return 1
                            end
                        end

                        local len = 0
                        local count = 0
                        local currentIndex = 1

                        while currentIndex <= #cur_name do
                            local charsizenum = chsize(string.byte(cur_name, currentIndex))

                            currentIndex = currentIndex + charsizenum

                            if len >= 16 then
                                break
                            end

                            if charsizenum ~= 0 then
                                count = count + 1

                                if charsizenum >= 3 then
                                    len = len + 3.2
                                else
                                    len = len + 1.5
                                end
                            end
                        end

                        cur_name = UniString:new(cur_name):sub(1, count).text .. '...'
                    end

                    return cur_name
                end

                function has_project_id()
                    local index = Eval('index')
                    
                    if not index or global_type(index) ~= 'number' then
                        return false
                    end

                    local data = get_data()
                    local curData = data[index] or {}
                    local paraWorld = curData.paraWorld

                    if paraWorld and global_type(paraWorld) == 'table' and paraWorld.projectId then
                        return true
                    else
                        return false
                    end
                end

                function open_teaching_plan_center(index)
                    local data = get_data()
                    local curData = data[index] or {}

                    if not curData or not curData.orgUrl then
                        return
                    end

                    MySchool:OpenTeachingPlanCenter(curData.orgUrl)
                end
            ]]>
        </script>
        <style type="text/mcss" src="Mod/WorldShare/cellar/Theme/Mcss/Theme1.mcss">
            {
                join_school_bg = {
                    color = '#000000',
                    background = "Texture/Aries/Creator/keepwork/worldshare_32bits.png;149 104 16 16:4 4 4 4",
                },
                click = {
                    position = 'relative',
                    width = 260,
                    height = 100,
                    background = ''
                }
            }
        </style>
        <kp:window width="600" height="380" icon="Texture/Aries/Creator/keepwork/Window/title/biaoti_xuexiao_32bits.png" onclose="close()">
            <div width="100%" height="100%">
                <div style="width: 600px; height: 40px;">
                    <div style="margin-left: 120px;margin-top: 14px;font-size: 14px;base-font-size: 14px;color: #ffffff;"><%=L"我的学校"%></div>
                </div>
                <pe:if condition="<%= has_joined(1) %>">
                    <div style="padding: 15px;">
                        <div style="color: white;height: 265px;;margin-bottom: 10px">
                            <pe:gridview
                                RememberScrollPos="true"
                                AllowPaging="false"
                                VerticalScrollBarStep="50"
                                DefaultNodeHeight="85"
                                ItemsPerLine="1"
                                DataSource="<%= get_data() %>"
                            >
                                <Columns>
                                    <pe:if condition="<%= Eval('type') == 4 %>">
                                        <div style="width: 550px;height: 100px;background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#435 212 30 30:11 11 11 11);float: left;margin-bottom: 10px;margin-right: 10px;">
                                            <div style="position: relative;width: 550px;height: 100px;">
                                                <div style="margin-left: 220px;margin-top: 60px;width: 330px;height: 35px;">
                                                    <div style="float: left;width: 100px;height: 35px;">
                                                        <pe:if condition="<%= has_project_id() %>">
                                                            <input type="button" class="theme1_baby_bule_button" name='<%= Eval("index") %>' style="height: 35px;width: 100px;" value="<%= L'3D校园' %>" onclick="enter_world()"/>
                                                        </pe:if>
                                                    </div>
                                                    <div style="float: left;width: 105px;height: 35px;margin-left: 5px;">
                                                        <input type="button" class="theme1_lime_button" name='<%= Eval("index") %>' style="height: 35px;width: 110px;" value="<%= L'首页' %>" onclick="open_page()"/>
                                                    </div>
                                                    <div style="float: left;width: 105px;height: 35px;">
                                                        <input type="button" class="theme1_lime_button" name='<%= Eval("index") %>' style="height: 35px;width: 110px;margin-left: 5px;" value="<%= L'教学中心' %>" onclick="open_teaching_plan_center()"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float:left; margin-left: 10px;margin-top: 10px;">
                                                <div style="position: relative;width: 120px;height: 80px;background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#394 211 32 32:9 9 9 9);"></div>
                                                <div style="width: 120px;height: 80px;background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#287 346 170 99);"></div>
                                            </div>
                                            <div style="float:left; margin-left: 10px;margin-top: 10px;width: 350px;color: #000000">
                                                <div><%= get_name() %></div>
                                                <div style="font-size: 12px;color:#555555;"><%= Eval('fullname') %></div>
                                            </div>
                                        </div>
                                    </pe:if>
                                    <pe:if condition="<%= Eval('type') ~= 4 %>">
                                        <div style="width: 550px;height: 100px;background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#435 212 30 30:11 11 11 11);float: left;margin-bottom: 10px;margin-right: 10px;">
                                            <div style="position: relative;width: 550px;height: 100px;">
                                                <!-- <div style="margin-left: 325px;margin-top: 60px;width: 225px;height: 35px;">
                                                    <div style="float: left;width: 100px;height: 35px;">
                                                        <pe:if condition="<%= has_project_id() %>">
                                                            <input type="button" class="theme1_baby_bule_button" name='<%= Eval("index") %>' style="height: 35px;width: 100px;" value="<%= L'进入机构世界' %>" onclick="enter_world()"/>
                                                        </pe:if>
                                                    </div>
                                                    <div style="float: left;width: 105px;height: 35px;">
                                                        <input type="button" class="theme1_lime_button" name='<%= Eval("index") %>' style="height: 35px;width: 110px;margin-left: 5px;" value="<%= L'进入机构主页' %>" onclick="open_page()" />
                                                    </div>
                                                </div> -->
                                                <div style="margin-left: 220px;margin-top: 60px;width: 330px;height: 35px;">
                                                    <div style="float: left;width: 100px;height: 35px;">
                                                        <pe:if condition="<%= has_project_id() %>">
                                                            <input type="button" class="theme1_baby_bule_button" name='<%= Eval("index") %>' style="height: 35px;width: 100px;" value="<%= L'3D校园' %>" onclick="enter_world()"/>
                                                        </pe:if>
                                                    </div>
                                                    <div style="float: left;width: 105px;height: 35px;margin-left: 5px;">
                                                        <input type="button" class="theme1_lime_button" name='<%= Eval("index") %>' style="height: 35px;width: 110px;" value="<%= L'首页' %>" onclick="open_page()"/>
                                                    </div>
                                                    <div style="float: left;width: 105px;height: 35px;">
                                                        <input type="button" class="theme1_lime_button" name='<%= Eval("index") %>' style="height: 35px;width: 110px;margin-left: 5px;" value="<%= L'教学中心' %>" onclick="open_teaching_plan_center()"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="float:left; margin-left: 10px;margin-top: 10px;">
                                                <div style="position: relative;width: 120px;height: 80px;background: url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#394 211 32 32:9 9 9 9);"></div>
                                                <div style="<%= 'width: 120px;height: 80px;background:url(' .. (Eval('logo') or 'Texture/Aries/Creator/keepwork/worldshare_32bits.png#287 346 170 99') .. ');' %>"></div>
                                            </div>
                                            <div style="float:left; margin-left: 10px;margin-top: 10px;width: 350px;color: #000000">
                                                <div><%= get_name() %></div>
                                                <div style="font-size: 12px;color:#555555;"><%= Eval('fullname') %></div>
                                            </div>
                                        </div>
                                    </pe:if>
                                </Columns>
                            </pe:gridview>
                        </div>
                        <div style="margin-left: 280px;">
                            <div>
                                <pe:if condition="<%= has_school_joined() %>">
                                    <input type="button" class="theme1_orange_button" style="height: 35px;width: 120px;" value="<%= L'变更学校' %>" onclick="join_school()"/>
                                </pe:if>
                                <pe:if condition="<%= not has_school_joined() %>">
                                    <div style="float:left;">
                                        <input type="button" class="theme1_orange_button" style="height: 35px;width: 120px;" value="<%= L'加入学校' %>" onclick="join_school()"/>
                                        <kp:redtip style="position:relative;margin-left:110px;margin-top:-37px;" onupdate='<%= not has_school_joined() %>'></kp:redtip>    
                                    </div>
                                </pe:if>
                                <input type="button" class="theme1_gray_button" style="height: 35px;width: 120px;margin-left: 10px;" value="<%= L'加入机构' %>" onclick="join_institute()"/>
                            </div>
                        </div>
                    </div>
                </pe:if>
                <pe:if condition="<%= has_joined(2) %>">
                    <div style="padding-top: 130px;padding-left: 100px;">
                        <input type="button"
                               class="button_highlight join_school_bg"
                               style="width: 180px;height: 60px;font-size: 15px;font-weight: bold"
                               value="<%= L'加入学校' %>"
                               onclick="join_school()"/>
                        <input type="button"
                               class="button_highlight"
                               style="margin-left: 30px;width: 180px;height: 60px;font-size: 15px;"
                               value="<%= L'加入机构' %>"
                               onclick="join_institute()"/>
                        <kp:redtip style="position:relative;margin-left:176px;margin-top:-65px;" onupdate='<%= true %>'></kp:redtip>
                    </div>
                </pe:if>
            </div>
        </kp:window>
    </pe:mcml>
</body>
</html>
