<body>
    <pe:mcml>
        <script type="text/npl" refresh="false" src="Progress.lua">
            <![CDATA[
                Progress = NPL.load('./Progress.lua')
                KeepworkService = NPL.load('(gl)Mod/WorldShare/service/KeepworkService.lua')
                Utils = NPL.load("(gl)Mod/WorldShare/helper/Utils.lua")

                Progress:SetPage()

                function current()
                    return Progress:GetCurrent()
                end

                function total()
                    return Progress:GetTotal()
                end

                function msg()
                    return Progress:GetMsg()
                end

                function finish()
                    return Progress:GetFinish()
                end

                function broke()
                    return Progress:GetBroke()
                end

                function retry()
                    Progress:Retry()
                end

                function cancel()
                    Progress:Cancel()
                end

                function close()
                    Progress:ClosePage()
                end

                function copy()
                    Progress:Copy(KeepworkService:GetShareUrl())
                end

                function get_window_style()
                    return Utils.FixCenter(500, 270)
                end

                function get_world_url()
                    local worldUrl = KeepworkService:GetShareUrl()

                    if (worldUrl) then
                        return worldUrl
                    else
                        return ''
                    end
                end

                function open_url()
                    local url = get_world_url()

                    ParaGlobal.ShellExecute("open", url, "", "", 1)
                end
             ]]>
        </script>
        <style type="text/mcss">
            {
                 ["common_button"] = {
                    height = 30,
                    ["margin-left"] = 5,
                    ["margin-top"] = -5,
                    spacing = 10,
                    ["font-weight"] = "bold",
                    ["font-size"]   = 13,
                    ["base-font-size"] = 13,
                 },
            }
        </style>
        <div width="100%" height="100%">
            <aries:window mode="thin" width="550" height="320" style="<%=get_window_style()%>" title='<%=L"同步中" %>'>
                <div style="padding:20px;font-size:18px;base-font-size:18px;color:#ffffff;margin-top:20px;">
                    <pe:if condition="<%= not finish() and not broke() %>">
                        <div style="margin-right:20px;">
                            <%=L"同步进度：" %><%= current() %> / <%= total() %>
                            <br />
                            <%= msg() %>
                        </div>
                    </pe:if>
                    <pe:if condition="<%= finish() and not broke() %>">
                        <div style="margin-right:20px;font-size:13px;base-font-size:13px;">
                            <%=L"恭喜！世界已经同步完毕！" %>
                            <br />
                            <%=L"你可以通过下面页面分享给他人" %>
                            <br />
                            <div>
                                <%= get_world_url() %>
                                <input type="button" class="common_button mc_light_grey_button_with_fillet" value='<%=L"复制" %>' onclick="copy()"/>
                                <input type="button" class="common_button mc_light_grey_button_with_fillet" value='<%=L"打开" %>' onclick="open_url()" />
                            </div>
                        </div>
                    </pe:if>
                    <pe:if condition="<%= broke() %>">
                        <%= msg() %>
                    </pe:if>

                    <div style="margin-top:30px;">
                        <pe:progressbar name="progressbar"  block_bg_autosize = "true" Minimum="0" Maximum="100" Value="0"/>
                    </div>
                    <pe:if condition="<%=not finish() %>">
                        <div style="margin-top:40px;">
                            <input type="button" name="" onclick="cancel()" value='<%=L"取消" %>' class="button_highlight" style="width: 85px;height: 30px;margin-left: 155px" />
                            <input type="button" name="" onclick="retry()" value='<%=L"重试" %>' class="button_highlight" style="width: 85px;height: 30px;margin-left: 15px" />
                        </div>
                    </pe:if>
                    <pe:if condition="<%= finish() %>">
                        <input type="button" name="" onclick="close()" value='<%=L"关闭" %>'  class="button_highlight" style="width: 85px;height: 30px;margin-top:40px;margin-left: 200px" />
                    </pe:if>
                </div>
            </aries:window>
        </div>
    </pe:mcml>
</body>
</html>
