<html>
    <body>
        <pe:mcml>
            <script type="text/npl" refresh="false">
                <![CDATA[
                    local LoginModal = NPL.load("./LoginModal.lua")
                    local ThirdPartyLogin = NPL.load("./ThirdPartyLogin.lua")
                    local RegisterModal = NPL.load("(gl)Mod/WorldShare/cellar/RegisterModal/RegisterModal.lua")
                    local ForgetPassword = NPL.load("(gl)Mod/WorldShare/cellar/ForgetPassword/ForgetPassword.lua")
                    local UserInfo = NPL.load("(gl)Mod/WorldShare/cellar/UserConsole/UserInfo.lua")

                    page = document:GetPageCtrl()
                    Mod.WorldShare.Store:Set('page/LoginModal', page)

                    function get_history_users()
                        return LoginModal:GetHistoryUsers()
                    end

                    function login()
                        LoginModal:LoginAction()
                    end

                    function set_auto_login()
                        LoginModal:SetAutoLogin()
                    end

                    function set_remember_me()
                        LoginModal:SetRememberMe()
                    end

                    function login_text()
                        return Mod.WorldShare.Store:Get("user/loginText")
                    end

                    function close()
                        LoginModal:Close()
                    end

                    function get_english_style(styleStr)
                        if Mod.WorldShare.Utils.IsEnglish() then
                            return styleStr
                        else
                            return ''
                        end
                    end

                    function remove_account(username)
                        LoginModal:RemoveAccount(username)
                    end

                    function select_account(name, username)
                        LoginModal:SelectAccount(username)
                    end

                    function register()
                        LoginModal:Close('REGISTER')
                        RegisterModal:ShowPage()
                    end

                    function forget_password()
                        LoginModal:Close('FORGET')
                        ForgetPassword:ShowPage()
                    end

                    function write_accout(name, mcmlNode)
                        local username = mcmlNode:GetUIValue()
                        page:SetValue("account", username)
                    end

                    function login_with_wx()
                        local callback = LoginModal:Close('THIRD')
                        ThirdPartyLogin:Init("WECHAT", function()
                            UserInfo:LoginWithToken(function()
                                if type(callback) == 'function' then
                                    callback()
                                    Mod.WorldShare.Utils.SetTimeOut(function()
                                        ParaUI.GetUIObject("root"):Focus()
                                    end, 2000)
                                end
                            end)
                        end)
                    end

                    function login_with_qq()
                        local callback = LoginModal:Close('THIRD')
                        ThirdPartyLogin:Init("QQ", function()
                            UserInfo:LoginWithToken(function()
                                if type(callback) == 'function' then
                                    callback()
                                    Mod.WorldShare.Utils.SetTimeOut(function()
                                        ParaUI.GetUIObject("root"):Focus()
                                    end, 2000)
                                end
                            end)
                        end)
                    end

                    function is_support_third_party_login()
                        if System.os.GetPlatform() == 'win32' or System.os.GetPlatform() == 'mac' then
                            return true
                        else
                            return false
                        end
                    end
                ]]>
            </script>
            <style type="text/mcss">
                {
                    user_login = {
                        ["base-font-size"] = 16,
                        ["font-size"] = 16,
                        color = "#ffffff",
                        ["padding-right"] = 40,
                        ["padding-left"] = 40,
                        ["padding-top"] = 20,
                        ["padding-bottom"] = 20,
                    },
                    text_field = {
                        background = "Texture/Aries/Creator/keepwork/worldshare_32bits.png;72 20 16 16:3 3 3 3",
                        border = "none",
                        width = 165,
                    },
                    login_button = {
                        ["margin-left"] = 0,
                        width = 230,
                        height = 33,
                        textcolor = "#000000",
                        color = "#000000",
                        ["font-size"] = 18
                        background = "Texture/Aries/Creator/keepwork/worldshare_32bits.png;149 104 16 16:4 4 4 4",
                    },
                }
            </style>
            <aries:window mode="thin" width="320" style="float:left;" title_height="40" close_height="25" title='<%=L"登录" %>' onclose="close()">
                <div name="login" class="user_login">
                    <pe:if condition="<%= login_text() ~= nil%>">
                        <div style="margin-bottom:15px;"><%= login_text()%></div>
                    </pe:if>
                    <form>
                        <div style="margin-bottom:12px;">
                            <div style="<%='float:left;min-width:65px;' .. get_english_style('min-width:73px;') %>"><%= L"账号：" %></div>
                            <select name="account"
                                    DataSource="<%= get_history_users() %>"
                                    EmptyText='<%= L"账户名/邮箱/手机号" %>'
                                    onselect="<%= select_account %>"
                                    onremove="<%= remove_account %>"
                                    class="bbs_text text_field"
                                    style="height: 30px;">
                            </select>
                            <input name="showaccount" onchange="write_accout" type="text" class="bbs_text" style="height: 30px;margin-left: -165px; width: 140px;" EmptyText='<%= L"账户名/邮箱/手机号" %>' />
                        </div>
                        <div style="margin-bottom:12px;">
                            <div style="float:left;min-width:65px"><%= L"密码：" %></div>
                            <input type="text" PasswordChar="*" SkipAutoBadWordFilter="true" class="bbs_text text_field" style="height: 30px;" name="password" />
                        </div>
                        <div>
                            <div>
                                <input type="checkbox" style="float:left;margin-top:3px;min-width:90px;" name="rememberMe" onclick="set_remember_me()"/><div style="float:left" for="rememberMe"><%= L"记住密码?" %></div>
                            </div>
                            <!-- <div>
                                <input type="checkbox" style="float:left;margin-top:3px;min-width:90px;" name="autoLogin" onclick="set_auto_login()"/><div style="float:left" for="autoLogin"><%= L"自动登录" %></div>    
                            </div> -->
                        </div>
                        <pe:if condition="<%= is_support_third_party_login() %>">
                            <div>
                                <div style="base-font-size: 14px;font-size: 14px;margin-top: 15px;">
                                    <div style="width: 50px;height: 1px;background-color: #6d6d6e;float:left;margin-top: 10px;margin-left: 20px;margin-right: 2px;"></div>
                                    <%= L"第三方账号登录" %>
                                    <div style="width: 50px;height: 1px;background-color: #6d6d6e;float:left;margin-top: 10px;margin-left: 2px;"></div>
                                </div>
                                <div style="margin-top: 5px;margin-bottom: 5px;">
                                    <div onclick="login_with_wx()" style="width: 44px;height: 44px;background:url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#245 135 44 44);float: left;margin-left: 40px;"></div>
                                    <div onclick="login_with_qq()" style="width: 44px;height: 44px;background:url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#301 135 44 44);float: left;margin-left: 80px;"></div>
                                </div>
                            </div>
                        </pe:if>
                        <div style="margin-top:15px;margin-bottom:15px;">
                            <input type="button" DefaultButton="true" class="login_button" onclick="login()" value='<%= L"登 录"%>' />
                        </div>
                        <div style="<%='text-align:left;margin-left:55px;' .. get_english_style('margin-left:15px;')%>">
                            <a name="forgot" onclick="forget_password()" style="background:url();height:30px;width:150px;font-size: 14px;color: #ffffff;"><%= L"忘记密码" %></a>
                            <span style="color:#ffffff;">|</span>
                            <a name="register" onclick="register()" style="background:url();height:30px;width:150px;font-size: 14px;color: #fe5927;"><%= L"点击注册" %></a>
                        </div>
                    </form>
                </div>
            </aries:window>
        </pe:mcml>
    </body>
</html>