<!-- "Mod/WorldShare/login/WorldExitDialog.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>exit world</title>
</head>
<body>
    <pe:mcml>
        <script type="text/npl" src="WorldExitDialog.lua" refresh="false">
            <![CDATA[
                local WorldExitDialog = NPL.load('./WorldExitDialog.lua')
                local ShareWorld = NPL.load('(gl)Mod/WorldShare/cellar/ShareWorld/ShareWorld.lua')
                local KeepworkService = NPL.load('(gl)Mod/WorldShare/service/KeepworkService.lua')
                local Grade = NPL.load('./Grade.lua')
                local WorldCommon = commonlib.gettable("MyCompany.Aries.Creator.WorldCommon")
                local os = commonlib.gettable("System.os")

                WorldExitDialog:OnInit()

                function get_cur_world_name()
                    local text = WorldCommon.GetWorldTag("name")
                
                    if _guihelper.GetTextWidth(text) > 400 then
                        local function chsize(char)
                            if not char then
                                return 0
                            elseif char > 240 then
                                return 4
                            elseif char > 225 then
                                return 3
                            elseif char > 192 then
                                return 2
                            else
                                return 1
                            end
                        end

                        local len = 0
                        local count = 0
                        local currentIndex = 1

                        while currentIndex <= #text do
                            local charsizenum = chsize(string.byte(text, currentIndex))

                            currentIndex = currentIndex + charsizenum

                            if len >= 90 then
                                break
                            end

                            if charsizenum ~= 0 then
                                count = count + 1

                                if charsizenum >= 3 then
                                    len = len + 3.2
                                else
                                    len = len + 1.6
                                end
                            end
                        end

                        text = System.Core.UniString:new(text):sub(1, count).text .. '...'
                    end

                    return text
                end

                function on_click_cancel()
                    WorldExitDialog.OnDialogResult(_guihelper.DialogResult.Cancel)
                end

                function on_click_share_world()
                    WorldExitDialog.OnDialogResult(_guihelper.DialogResult.Cancel);
                    GameLogic.RunCommand("/menu file.uploadworld");
                end

                function on_click_save_and_exit()
                    WorldExitDialog.OnDialogResult(_guihelper.DialogResult.Yes)
                end

                function save_as()
                    WorldExitDialog.OnDialogResult(_guihelper.DialogResult.Cancel)
                    GameLogic.RunCommand("/menu file.saveworldas")
                end

                function on_click_exit_without_save()
                    WorldExitDialog.OnDialogResult(_guihelper.DialogResult.No)
                end

                function get_elapsed_unsaved_seconds()
                    return math.floor(GameLogic.options:GetElapsedUnSavedTime()/1000);
                end

                function open_keepwork_project()
                    local currentWorld = Mod.WorldShare.Store:Get('world/currentWorld')

                    if currentWorld and currentWorld.kpProjectId then
                        ParaGlobal.ShellExecute("open", format("%s/pbl/project/%d/", KeepworkService:GetKeepworkUrl(), currentWorld.kpProjectId or 0), "", "", 1)
                    end
                end

                function on_click_share_world()
                    ShareWorld:Init()
                    WorldExitDialog.OnDialogResult(_guihelper.DialogResult.Cancel)
                end

                function on_click_revision()
                    GameLogic.RunCommand("/menu file.worldrevision");
                end

                function on_open_world_dir()
                    GameLogic.RunCommand("/menu file.openworlddir");
                end

                function snapshot()
                    -- WorldExitDialog.Snapshot();

                    local currentEnterWorld = Mod.WorldShare.Store:Get('world/currentEnterWorld')

                    local CubeMapRender = NPL.load("(gl)Mod/WorldShare/render/CubeMap.lua")
                    CubeMapRender:RenderCubeMapImage(currentEnterWorld.worldpath .. "test6.jpg")
                end

                function get_english_style(styleStr)
                    if Mod.WorldShare.Utils.IsEnglish() then
                        return styleStr
                    else
                        return ''
                    end
                end

                function get_star()
                    return Grade.starTable
                end

                function set_star(index)
                    if not WorldExitDialog:CanSetStart() then
                        return false
                    end

                    for key, item in ipairs(Grade.starTable) do
                        if key > index then
                            item.selected = false
                        else
                            item.selected = true
                        end
                    end

                    update_score()
                end

                function update_score()
                    local count_score = 0

                    for key, item in ipairs(Grade.starTable) do
                        if item.selected == true then
                            count_score = count_score + 1
                        end
                    end

                    score = count_score

                    Grade:UpdateScore(score, function()
                        WorldExitDialog:Refresh(0.01)
                    end)
                end

                function get_project_id()
                    local currentWorld = Mod.WorldShare.Store:Get('world/currentWorld')

                    if currentWorld and currentWorld.kpProjectId then
                        return tostring(currentWorld.kpProjectId)
                    end

                    return L"上传世界后获得"
                end

                function has_project_id()
                    local currentWorld = Mod.WorldShare.Store:Get('world/currentWorld')

                    if currentWorld and currentWorld.kpProjectId then
                        return true
                    else
                        return false
                    end
                end

                function is_rated()
                    return WorldExitDialog.isRated
                end

                function get_remote_revision()
                    return Mod.WorldShare.Store:Get('world/remoteRevision') or L'无'
                end

                function get_current_revision()
                    return Mod.WorldShare.Store:Get("world/currentRevision") or L'无'
                end

                function is_user_world()
                    return WorldExitDialog:IsUserWorld()
                end

                function get_platform()
                    return os.GetPlatform()
                end

                function share_short_video()
                    on_click_cancel()
                    GameLogic.RunCommand("/share")
                end

                function get_share_short_video_style()
                    local default = "height: 30px;width: 95px;"

                    local text = get_cur_world_name() --WorldCommon.GetWorldTag("name")
                    local text_width = _guihelper.GetTextWidth(text) or 0

                    if text_width > 0 then
                        default = default .. "margin-left: " .. (text_width + 20) .. "px;"
                    end

                    return default
                end
            ]]>
        </script>
        <style type="text/mcss">
            {
                button1 = {
                    width = 140,
                    height = 28
                },
                button2 = {
                    width = 140,
                    height = 28,
                    background = 'Texture/Aries/Creator/keepwork/worldshare_32bits.png;256 21 16 16:3 3 3 3',
                    color = '#ffffff'
                },
                star_area = {
                    ['margin-top'] = 15,
                    ['margin-left'] = 50
                },
                dialog_container = {
                    width = 610,
                    height = 400,
                    background = "Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#267 89 34 34:8 8 8 8"
                },
                dialog_header = {
                    height = 40
                }
            }
        </style>
        <div>
            <div class="dialog_container">
                <div class="dialog_header">
                    <div style="position: relative;margin-top: 9px;margin-left: 8px;color: white;">
                        <%=format("%s", get_cur_world_name() or "") %>
                    </div>
                    <pe:if condition='<%= System.os.GetPlatform() == "win32" %>'>
                        <div style="position: relative;margin-top: 5px;">
                            <input type="button" class="mc_light_grey_button_with_fillet" style='<%= get_share_short_video_style() %>' value='<%= L"短视频分享" %>' onclick="share_short_video()" />
                        </div>
                    </pe:if>
                    <input onclick="on_click_cancel()"
                           style="margin-top:8px;margin-right: 8px;float:left;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#363 59 26 26:7 7 7 7);width:26px;height:26px"
                           type="button"
                           align="right" />
                </div>
                <div style="height:2px;" width="100%" class="mc_line"></div>
                <div>
                    <div style="padding:20px;padding-bottom:5px;color:#ffffff">
                        <div>
                            <div style="float:left">
                                <img name="ShareWorldImage" zorder="1" width="280" height="185" onclick="snapshot()" tooltip='<%= L"重新截图" %>' />
                                <div style="margin-top:3px;height:20px;">
                                    <pe:if condition="<%= not GameLogic.IsReadOnly() %>">
                                        <input type="button" style="font-size:12px;color:#ffffff;max-width:120px;text-singleline:false;" class="mc_blue_button_with_fillet" value='<%=L"重新截图" %>' onclick="snapshot()" />
                                    </pe:if>
                                </div>
                            </div>
                            <div style="float:right;padding-left:28px;">
                                <div style="margin-top:-5px;margin-bottom: 20px;">
                                    <span style="color: #b2b2b2"><%= "项目ID：" %></span>
                                    <input type="button" style="float:left;color:#FFFFFF;" class="mc_blue_button_with_fillet" value="<%= get_project_id() %>" onclick="open_keepwork_project()" tooltip='<%= L"点击访问作品项目页面" %>' />&nbsp;
                                    <pe:if condition="<%= not GameLogic.IsReadOnly() and (not has_project_id() or is_user_world()) %>">
                                        <input type="button" class="mc_light_grey_button_with_fillet" style="font-size: 12px;" value="<%= L'上传' %>" onclick="on_click_share_world()"/>
                                    </pe:if>
                                </div>
                                <div>
                                    <div style="float:right;width: 110px;">
                                        <div style="color: #b2b2b2">
                                            <%= L'本地版本'%>：<%= get_current_revision() %>
                                        </div>
                                    </div>
                                    <pe:if condition="<%= get_platform() ~= 'android' and get_platform() ~= 'ios' %>">
                                        <div style="float:right;">
                                            <div style="margin-bottom: 12px;">
                                                <input type="button" class="button1 mc_light_grey_button_with_fillet" value="<%= L'本地目录' %>" onclick="on_open_world_dir()" tooltip='<%= L"点击打开所在目录" %>'/>
                                            </div>
                                            <pe:if condition="<%= not GameLogic.IsReadOnly() %>">
                                                <div style="margin-bottom: 12px;">
                                                    <input type="button" class="button1 mc_light_grey_button_with_fillet" tooltip='<%=L"点击查看历史版本目录, 解压可恢复到最近几天的版本"%>' value="<%= L'历史版本' %>" onclick="on_click_revision()" />
                                                </div>
                                            </pe:if>
                                        </div>
                                    </pe:if>
                                </div>
                                <pe:if condition="<%= not GameLogic.IsReadOnly() and (not has_project_id() or is_user_world()) and has_project_id() %>">
                                    <div>
                                        <div style="float:right;width: 110px;">
                                            <div style="color: #b2b2b2">
                                                <%= L'在线版本'%>：<%= get_remote_revision()%>
                                            </div>
                                        </div>
                                    </div>
                                </pe:if>
                                <pe:if condition="<%= has_project_id() and not is_user_world() and not is_rated() %>">
                                    <div>
                                        <div style="color:#b2b2b2"><%= L"为作品打分：" %></div>
                                        <div class="star_area">
                                            <pe:repeat DataSource="<%=get_star()%>">
                                                <pe:repeatitem>
                                                    <pe:if condition="<%=Eval('selected') == true %>">
                                                        <div style="float:left;margin-right: 10px;background:url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#175 130 54 51:0 0 0 0);width: 25px;height: 25px;" name='<%=Eval("index")%>' onclick="set_star"></div>
                                                    </pe:if>
                                                    <pe:if condition="<%=Eval('selected') == false %>">
                                                        <div style="float:left;margin-right: 10px;background:url(Texture/Aries/Creator/keepwork/worldshare_32bits.png#110 130 54 51:0 0 0 0);width: 25px;height: 25px;" name='<%=Eval("index")%>' onclick="set_star"></div>
                                                    </pe:if>
                                                </pe:repeatitem>
                                            </pe:repeat>
                                        </div>
                                    </div>
                                </pe:if>
                            </div>
                        </div>
                    </div>
                    <div style="height:1px;margin-left:-5px;" width="99.99%" class="mc_line"></div>
                    <div style="padding-left:20px;padding-right: 20px;color:#ffffff">
                        <div style="margin-top:20x;base-font-size:15px;font-size:15px;">
                            <%= L"您上次保存世界是:"%> <span style="color:#ff6a00"><%=format(L"%d秒前", get_elapsed_unsaved_seconds())%></span>
                        </div>
                        <div style="margin-top:25x;">
                            <pe:if condition="<%= GameLogic.IsReadOnly() %>">
                                <input type="button" onclick="save_as()" value='<%=L"另存为..." %>' class="mc_big_button" style="min-width:155px;height:35px;" />
                            </pe:if>
                            <pe:if condition="<%= not GameLogic.IsReadOnly() %>">
                                <input type="button" onclick="on_click_save_and_exit()" value='<%=L"保存并退出" %>' class="mc_big_button" style="min-width:155px;height:35px;" />
                            </pe:if>
                            <input type="button" onclick="on_click_exit_without_save()" value='<%=L"直接退出" %>' class="mc_big_button" style="margin-left:45px;min-width:155px;height:35px;" />
                            <input type="button" onclick="on_click_cancel()" value='<%=L"取消" %>' class="mc_big_button" style="margin-left:45x;min-width:155px;height:35px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </pe:mcml>
</body>
</html>
