<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Project Id Enter,by big,2019.11.19</title>
</head>
<body>
    <pe:mcml>
        <script type="text/npl" refresh="false">
            <![CDATA[
                page = document:GetPageCtrl()
                project_id = page:GetRequestParam("project_id") or 0
                local_revision = page:GetRequestParam("local_revision") or 0
                remote_revision = page:GetRequestParam("remote_revision") or 0
                world_name = page:GetRequestParam("world_name") or ""
                
                function get_window_style()
                    return Mod.WorldShare.Utils.FixCenter(500, 270)
                end

                function get_bigger_style(type)
                    if type == 'remote' and tonumber(remote_revision) > tonumber(local_revision) then
                        return 'background: url(textures/worldshare_32bits.png#150 104 16 16:4 4 4 4)'
                    end

                    if type == 'local' and tonumber(local_revision) > tonumber(remote_revision) then
                        return 'background: url(textures/worldshare_32bits.png#150 104 16 16:4 4 4 4)'
                    end

                    return ""
                end

                function close(params)
                    if type(page.callback) == 'function' then
                        page.callback(params)
                    end

                    page:CloseWindow()
                end
             ]]>
        </script>
        <div width="100%" height="100%">
            <aries:window mode="thin" width="500" height="270" style="<%=get_window_style()%>" title='<%=L"与数据源同步" %>' onclose="close()">
            	<div style="padding:10px;font-size:18px;base-font-size:18px;color:#ffffff">
                    <div style="margin-left:80px;margin-top:20px;">
                        <%= L"项目ID：" %>
                        <%= project_id %>
                    </div>
                    <div style="margin-left:80px;margin-top:20px;">
                        <%= L"世界名字：" %>
                        <%= world_name .. L"（只读）" %>
                    </div>
                    <div style="margin-left:80px;margin-top:20px;">
                        <%= L"远程版本号：" %>
                		<%= remote_revision %>
                        <input onclick="close" class="button_highlight" name="remote" style="<%= 'margin-left:10px;width: 130px;height:30px;' .. get_bigger_style('remote') %>" type="button" value='<%=L"使用远程版本" %>' />
	                </div>
	                <div style="margin-left:80px;margin-top:20px;">
                        <%= L"本地版本号：" %>
                        <%= local_revision %>
                        <input onclick="close" class="button_highlight" name="local" style="<%= 'margin-left:10px;width: 130px;height:30px;' .. get_bigger_style('local') %>" type="button" value='<%=L"使用本地版本" %>' />
	                </div>
            	</div>
            </aries:window>
        </div>
    </pe:mcml>
</body>
</html>

